@accent: #f35800;
@base: #e9e9e9;
@background: #fff;

@border-radius: 4px;

@normal-background: #fff;
@normal-text-color: #2e2e2e;
@normal-gradient: "rgba(255,255,255,.6) 0%, rgba(255,255,255,.0) 100%";
@hover-background: #bcb4b0;
@hover-text-color: #2e2e2e;
@hover-gradient: "rgba(255,255,255,.4) 0%, rgba(255,255,255,.0) 100%";
@selected-background: #f35800;
@selected-text-color: #fff;
@selected-gradient: "rgba(255,255,255,.2) 0%, rgba(255,255,255,.0) 100%";

@error: #db4240;
@warning: #ffc000;
@success: #37b400;
@info: #0066cc;

@series-a: #ff6800;
@series-b: #a0a700;
@series-c: #ff8d00;
@series-d: #678900;
@series-e: #ffb53c;
@series-f: #396000;

// graphics
@image-folder: "Default";
@texture: none;
@fallback-texture: url('textures/highlight.png');


@checkbox-active-border-color: darken(@base, 24%);
@checkbox-active-box-shadow: 0 0 2px 0 @checkbox-active-border-color;