/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
/* Kendo skin */

@theme-name: ~"default";

@import "common/mixins.less";
@import "mixins/all.less";
@import "themes/type.less";
@import "themes/button.less";

.k-in,
.k-item,
.k-window-action
{
    border-color: transparent;
}

/* main colors */
.k-tool.k-state-hover {
    color: @selected-text-color;
}

.k-splitbar .k-resize-handle {
    background-color: @normal-text-color;
    color: @normal-text-color;
    &:hover {
        color: @hover-text-color;
    }
}

.k-splitbar .k-resize-handle {
    background-color: @normal-text-color;
}

.k-block,
.k-widget
{
    background-color: @widget-background-color;
}

.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-filter-row > th,
.k-editable-area,
.k-separator,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header,
.k-grid-header-wrap,
.k-grid-header-locked,
.k-grid-footer-locked,
.k-grid-content-locked,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-treemap-tile,
.k-calendar th,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-tiles,
.k-toolbar,
.k-tooltip,
.k-button-group .k-tool,
.k-upload-files,
.k-popup.k-align .k-list .k-item:last-child,
.k-editor-dialog .k-tabstrip-items
{
    border-color: @widget-border-color;
}

.k-group,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-calendar th,
.k-calendar .k-alt,
.k-dropzone-hovered,
.k-popup {
    background-color: @group-background-color;
}

.k-grouping-row td,
td.k-group-cell,
.k-resize-handle-inner
{
    background-color: @header-background-color;
}

.k-list-container
{
    border-color: @group-border-color;
    background-color: @select-group-background-color;
}

.k-content,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles
{
    background-color: @content-background-color;
}

.k-alt,
.k-separator,
.k-resource.k-alt,
.k-pivot-layout > tbody > tr:first-child > td:first-child
{
    background-color: @alt-background-color;
}

.k-pivot-rowheaders .k-alt .k-alt,
.k-header.k-alt
{
    background-color: @nested-alt-background-color;
}

.k-textbox,
.k-autocomplete.k-header,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active
{
    border-color: @widget-border-color;
    background-color: @select-background-color;
}

.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input
{
    border-color: @widget-border-color;
}

input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input
{
    background: none;
}

.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input,
.k-multiselect-wrap
{
    background-color: @input-background-color;
    color: @input-text-color;
}

// Bootstrap readonly input styling has more specificity than ours.
.k-input[readonly]
{
    background-color: @input-background-color;
    color: @input-text-color;
}

.k-block,
.k-widget,
.k-popup,
.k-content,
.k-toolbar,
.k-dropdown .k-input
{
    color: @widget-text-color;
}

.k-inverse
{
    color: @inverse-text-color;
}

.k-block
{
    color: @header-text-color;
}

.k-link:link,
.k-link:visited,
.k-nav-current.k-state-hover .k-link
{
    color: @link-text-color;
}

.k-tabstrip-items .k-link,
.k-panelbar > li > .k-link
{
    color: @widget-text-color;
}

.k-header,
.k-treemap-title,
.k-grid-header .k-header > .k-link
{
    color: @header-text-color;
}

.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-grouping-header,
.k-pager-wrap,
.k-textbox,
.k-progressbar,
.k-draghandle,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.km-pane-wrapper > .km-pane > .km-view > .km-content
{
    .composite-background(@widget-gradient);
    background-position: 50% 50%;
    background-color: @header-background-color;
}

.k-block,
.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-draghandle,
.k-treemap-tile,
html .km-pane-wrapper .k-header
{
    background-color: @header-background-color;
}

.k-mediaplayer-toolbar
{
    background-color: fade(@header-background-color, 85%);
}

.k-hr {
    border-color: @widget-border-color;
}

/* icons */
//Hover state
.k-icon:hover,
.k-state-hover .k-icon,
.k-state-selected .k-icon,
.k-state-focused .k-icon,
.k-column-menu .k-state-hover .k-sprite,
.k-column-menu .k-state-active .k-sprite,
.k-pager-numbers .k-current-page .k-link:hover:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view.k-state-hover > .k-link:after
{
    opacity:1;
}

//Normal state
.k-state-disabled .k-icon,
.k-column-menu .k-sprite,
.k-pager-numbers .k-current-page .k-link:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after
{
    opacity: @default-icon-opacity;
}

.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked
{
    opacity: @default-icon-opacity;
}

.k-tool
{
    border-color: transparent;
}

/* IE will ignore the above selectors if these are added too */
.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked
{
    background-image: @sprite-image;
    border-color: transparent;
}

.k-i-loading {
    background-image: url('@{image-folder}/loading.gif');
}

.k-loading-image { background-image: url('@{image-folder}/loading-image.gif'); }
.k-loading-color { background-color: @loading-panel-color; }

.k-draghandle
{
    border-color: @draghandle-border-color;
    background-color: @draghandle-background-color;
    .box-shadow(@draghandle-shadow);
}

.k-draghandle:hover
{
    border-color: @draghandle-hover-border-color;
    background-color: @draghandle-hover-background-color;
    .box-shadow(@draghandle-hover-shadow);
}

/* Scheduler */

.k-scheduler
{
    color: @event-text-color;
    background-color: @scheduler-background-color;
}

.k-scheduler-layout
{
    color: @widget-text-color;
}

.k-scheduler-datecolumn,
.k-scheduler-groupcolumn
{
    background-color: @scheduler-background-color;
    color: @widget-text-color;
}

.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times
{
    border-color: @cell-border-color;
}

.k-nonwork-hour
{
    background-color: @scheduler-nonwork-background-color;
}

.k-gantt .k-nonwork-hour
{
    background-color: fade(@base, 20%);
}

.k-gantt .k-header.k-nonwork-hour
{
    background-color: fade(@base, 15%);
}

.k-scheduler-table .k-today,
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn
{
    background-color: @column-highlight-background-color;
}

.k-scheduler-now-arrow
{
    border-left-color: @current-time-color;
}

.k-scheduler-now-line
{
    background-color: @current-time-color;
}

.k-event,
.k-task-complete
{
    border-color: @event-background-color;
    background: darken(@event-background-color, 15%) 0 -257px @tooltip-texture repeat-x;
    color: @event-text-color;
}

.k-event-inverse {
    color: @event-inverse-text-color;
}

.k-event.k-state-selected
{
    background-position: 0 0;
    .box-shadow(0 0 0 2px @normal-text-color);
}

.k-event .k-resize-handle:after,
.k-task-single .k-resize-handle:after
{
    background-color: @resize-background-color;
}

.k-scheduler-marquee:before,
.k-scheduler-marquee:after
{
    border-color: @selected-background-color;
}

.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item
{
    background-color: @panelbar-content-background;
    color: @panelbar-content-color;
    border-color: @secondary-border-color;
}

.k-panelbar > li > .k-link
{
    color: @panelbar-content-color;
}

.k-panelbar > .k-item > .k-link
{
    border-color: @secondary-border-color;
}

.k-panel > li.k-item
{
    background-color: @panelbar-content-background;
}

/* states */
.k-state-active,
.k-state-active:hover,
.k-active-filter {
    background-color: @active-background-color;
    border-color: @active-border-color;
    color: @active-text-color;
}

.k-fieldselector .k-list-container
{
    background-color: @active-background-color;
}

.k-menu .k-state-hover>.k-state-active
{
    background-color: transparent;
}

.k-mediaplayer-toolbar .k-button.k-bare {
    &:active,
    &.k-state-active,
    &.k-state-active:hover {
        color: @accent;
    }
}

.k-menu {
    .k-state-selected > .k-link {
        color: @selected-text-color;
        background-color: @selected-background-color;
        border-color: @selected-border-color;
        .composite-background(@selected-gradient);
    }

    .k-link.k-state-active {
        background-color: @active-background-color;
        border-color: @active-border-color;
        color: @active-text-color;
    }

    .k-state-hover > .k-link,
    .k-menu-scroll-button:hover {
        color: @hover-text-color;
        background-color: @hover-background-color;
        border-color: @hover-border-color;
        .composite-background(@hover-gradient);
    }
}

.k-state-highlight
{
    background: @active-background-color;
    color: @active-text-color;
}

.k-state-focused,
.k-grouping-row .k-state-focused
{
    border-color: @focused-border-color;
}

.k-calendar {
    .k-link {
        color: @calendar-content-text-color;
    }

    .k-footer {
        padding: 0;
    }

    .k-footer .k-nav-today {
        color: @form-widget-color;
        text-decoration: @calendar-footer-text-decoration;
        background-color: @calendar-footer-background;
    }

    .k-footer .k-nav-today:hover,
    .k-footer .k-nav-today.k-state-hover {
        background-color: @calendar-footer-hover-background;
        text-decoration: @calendar-footer-hover-text-decoration;
    }

    .k-footer .k-nav-today:active {
        background-color: @calendar-footer-active-background;
    }

    .k-link.k-nav-fast {
        color: @form-widget-color;
    }

    .k-nav-fast.k-state-hover {
        text-decoration: @calendar-header-hover-text-decoration;
        background-color: @calendar-header-hover-background;
        color: @hover-text-color;
    }

    .k-link.k-state-hover {
        border-radius: @calendar-border-radius;
    }

    .k-today {
        box-shadow: inset 0 0 0 1px @accent;
    }

    .k-today .k-link {
        color: contrast(@widget-background-color, @accent, @selected-text-color, 0.5);
        font-weight: bold;
    }

    td.k-today.k-state-focused,
    td.k-today.k-state-focused.k-state-hover {
        box-shadow: @focused-item-shadow;
    }

    td.k-today.k-state-hover,
    td.k-today.k-state-selected {
        box-shadow: none;
    }

    td.k-today.k-state-hover .k-link {
        color: @calendar-content-text-color;
    }

    .k-footer .k-link {
        border-radius: 0;
    }

    th {
        background-color: @calendar-group-background-color;
    }

    td.k-state-selected.k-state-hover {
        background-color: saturate(@selected-background-color, 7%);
        .composite-background(none);
    }

    td.k-state-selected .k-link,
    td.k-today.k-state-selected.k-state-hover .k-link {
        color: @selected-text-color;
    }

    td.k-state-focused.k-state-selected,
    td.k-state-selected.k-state-active,
    td.k-state-selected:active,
    td.k-state-selected.k-state-hover:active {
        .box-shadow(@focused-item-shadow);
    }
}

.k-window-titlebar .k-link {
    border-radius: @calendar-border-radius;
}

.k-calendar-container.k-group {
    border-color: @group-border-color;
}

.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-tool.k-state-selected,
.k-list>.k-state-selected,
.k-list>.k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-marquee-color
{
    color: @selected-text-color;
    background-color: @selected-background-color;
    border-color: @selected-border-color;
}

.k-virtual-item.k-first,
.k-group-header + .k-list > .k-item.k-first,
.k-static-header + .k-list > .k-item.k-first
{
    border-top-color: @hover-border-color;
}

.k-group-header + div > .k-list > .k-item.k-first:before {
    border-top-color: contrast(@widget-background-color, darken(@header-background-color, 20%), @alt-background-color, .5);
}

.k-popup > .k-group-header,
.k-popup > .k-virtual-wrap > .k-group-header
{
    background: @hover-border-color;
    color: @selected-text-color;
}

.k-popup .k-list .k-item > .k-group
{
    background: contrast(@widget-background-color, darken(@header-background-color, 20%), @alt-background-color, .5);
    color: contrast(darken(@header-background-color, 20%), #fff, @hover-text-color, .6);
    border-bottom-left-radius: @inner-border-radius;
}

.k-popup .k-treeview .k-item > .k-group
{
    background: transparent;
    color: @widget-text-color;
}

.k-marquee-text
{
    color: @selected-text-color;
}

.k-state-focused,
.k-list>.k-state-focused,
.k-listview>.k-state-focused,
.k-grid-header th.k-state-focused,
td.k-state-focused
{
    .box-shadow(@focused-item-shadow);
}

.k-state-focused.k-state-selected,
.k-list>.k-state-focused.k-state-selected,
.k-listview>.k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected
{
    .box-shadow(@focused-active-item-shadow);
}

.k-list-optionlabel.k-state-selected.k-state-focused
{
    .box-shadow(none);
}

.k-state-selected>.k-link,
.k-panelbar > li > .k-state-selected,
.k-panelbar>li.k-state-default>.k-link.k-state-selected
{
    color: @selected-text-color;
}

.k-state-hover,
.k-state-hover:hover,
.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover,
.k-list>.k-state-hover,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-filebrowser-dropzone,
.k-mobile-list .k-item > .k-link:active,
.k-mobile-list .k-item > .k-label:active,
.k-mobile-list .k-edit-label.k-check:active,
.k-mobile-list .k-recur-view .k-check:active
{
    color: @hover-text-color;
    background-color: @hover-background-color;
    border-color: @hover-border-color;
}

/* this selector should be used separately, otherwise old IEs ignore the whole rule */
.k-mobile-list .k-scheduler-timezones .k-edit-field:nth-child(2):active
{
    color: @hover-text-color;
    background-color: @hover-background-color;
    border-color: @hover-border-color;
}

.k-state-hover > .k-select,
.k-state-focused > .k-select
{
    border-color: @hover-border-color;
}

.k-textbox:hover,
.k-state-hover,
.k-state-hover:hover,
.k-pager-wrap .k-link:hover,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em,
.k-draghandle:hover,
.k-listbox .k-item:hover:not(.k-state-disabled)
{
    .composite-background(@hover-gradient);
}

.k-pager-wrap
{
    background-color: @header-background-color;
    color: @header-text-color;
}

.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-state-active,
.k-state-active:hover,
.k-state-active>.k-link,
.k-panelbar>.k-item>.k-state-focused
{
    .composite-background(@active-gradient);
}

.k-state-selected,
.k-draghandle.k-state-selected:hover
{
    .composite-background(@selected-gradient);
}

.k-draghandle.k-state-selected:hover
{
    background-position: 50% 50%;
}

.k-state-hover>.k-link,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em
{
    color: @hover-text-color;
}

.k-autocomplete.k-state-hover,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-hover,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-hover,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-hover,
.k-dropdown-wrap.k-state-focused
{
    background-color: @select-hover-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
    border-color: @select-border-color;
}

.km-pane-wrapper .k-mobile-list input:not([type="checkbox"]):not([type="radio"]),
.km-pane-wrapper .km-pane .k-mobile-list select:not([multiple]),
.km-pane-wrapper .k-mobile-list textarea,
.k-dropdown .k-state-focused .k-input
{
    color: @widget-text-color;
}

.km-pane-wrapper .km-pane .k-mobile-list.k-filter-menu {
    .k-space-right {
        .composite-background(@widget-gradient);
        background-position: 50% 50%;
        background: contrast(@selected-background, lighten(@base, 1%), darken(@base, 9%), 0.5);
        border-color: contrast(@base, lighten(@base, 1%), darken(@base, 14%), 0.5);

        > input {
            background: @background;
            border-color: contrast(@base, lighten(@base, 1%), darken(@base, 14%), 0.5);

            &:focus {
                .box-shadow(@focused-shadow);
            }
        }
    }
}

.k-dropdown .k-state-hover .k-input
{
    color: @hover-text-color;
}

.k-state-error
{
    border-color: @error-border-color;
    background-color: @error-background-color;
    color: @error-text-color;
}

.k-state-disabled
{
    opacity:.7;
}

.k-tile-empty.k-state-selected,
.k-loading-mask.k-state-selected {
    border-width: 0;
    background-image: none;
    background-color: transparent;
}

.k-state-disabled,
.k-state-disabled .k-link,
.k-other-month,
.k-other-month .k-link,
.k-dropzone em,
.k-tile-empty strong,
.k-slider .k-draghandle
{
    color: @disabled-text-color;
}

.k-dropzone .k-upload-status
{
    color: @disabled-text-color;
}
.k-file .k-upload-status {
    color: @normal-text-color;
}

.k-decade,
.k-century {
    .k-other-month.k-state-hover .k-link {
        background: none;
    }
}

/* Progressbar */

.k-progressbar-indeterminate
{
    background: url('@{image-folder}/indeterminate.gif');
}

.k-progressbar-indeterminate .k-progress-status-wrap,
.k-progressbar-indeterminate .k-state-selected
{
    display: none;
}

/* Slider */
.k-slider-track
{
    background-color: @widget-border-color;
}

.k-slider-selection
{
    background-color: @selected-background-color;
}

.k-slider-horizontal .k-tick
{
    background-image:url('@{image-folder}/slider-h.gif');
}

.k-slider-vertical .k-tick
{
    background-image:url('@{image-folder}/slider-v.gif');
}

/* Tooltip */
.k-widget.k-tooltip,
.k-chart-crosshair-tooltip,
.k-chart-shared-tooltip
{
    .composite-background(@widget-gradient);
    background-position: 50% 50%;
    background-color: @tooltip-background-color;
    color: @tooltip-text-color;
    border-color: transparent;
    .box-shadow(0 4px 6px @shadow-color);
}

.k-widget.k-tooltip-validation
{
    border-color: @validation-border-color;
    background-color: @validation-background-color;
    color: @validation-text-color;
}

/* Bootstrap theme fix */
.input-prepend .k-tooltip-validation,
.input-append .k-tooltip-validation
{
    font-size: 12px;
    position: relative;
    top: 3px;
}

.k-callout-n
{
    border-bottom-color: @tooltip-background-color;
}

.k-callout-w
{
    border-right-color: @tooltip-background-color;
}

.k-callout-s
{
    border-top-color: @tooltip-background-color;
}

.k-callout-e
{
    border-left-color: @tooltip-background-color;
}

.k-tooltip-validation .k-callout-n
{
    border-bottom-color: @validation-border-color;
}

.k-tooltip-validation .k-callout-w
{
    border-right-color: @validation-border-color;
}

.k-tooltip-validation .k-callout-s
{
    border-top-color: @validation-border-color;
}

.k-tooltip-validation .k-callout-e
{
    border-left-color: @validation-border-color;
}

/* Splitter */
.k-splitbar
{
    background-color: @splitbar-background-color;
}

.k-restricted-size-vertical,
.k-restricted-size-horizontal
{
    background-color: @error-text-color;
}

/* Upload */

.k-file
{
    background-color: @active-background-color;
    border-color: @widget-border-color;
}

.k-file-progress
{
    color: @upload-progress-text-color;
}

.k-file-progress .k-progress
{
    background-color: @upload-progress-background-color;
}

.k-file-success .k-file-name,
.k-file-success .k-upload-pct
{
    color: @upload-success-text-color;
}

.k-file-success .k-progress
{
    background-color: @upload-success-background-color;
}

.k-file-error
{
    color: @upload-error-text-color;

    .k-file-extension-wrapper,
    .k-multiple-files-extension-wrapper {
        color: @upload-error-text-color;
        border-color: @upload-error-text-color;

        &:before {
            border-color: transparent transparent @upload-error-text-color @upload-error-text-color;
        }
    }
}

.k-file-error .k-progress,
.k-file-invalid .k-progress
{
    background-color: @upload-error-background-color;
}

.k-file-extension-wrapper,
.k-multiple-files-extension-wrapper {
    color: @disabled-text-color;
    border-color: @disabled-text-color;
}

.k-file-invalid .k-file-name-invalid {
    color: @error;
}

.k-file-invalid-extension-wrapper,
.k-multiple-files-invalid-extension-wrapper {
    color: @error;
    border-color: @upload-invalid-color;
}

.k-file-extension-wrapper:before,
.k-multiple-files-extension-wrapper:before {
    background-color: @widget-background-color;
    border-color: transparent transparent @disabled-text-color @disabled-text-color;
}

.k-file-invalid-extension-wrapper:before,
.k-multiple-files-invalid-extension-wrapper:before {
    background-color: @widget-background-color;
    border-color: transparent transparent @upload-invalid-color @upload-invalid-color;
}

.k-multiple-files-extension-wrapper:after {
    border-top-color: @disabled-text-color;
    border-left-color: @disabled-text-color;
}

.k-multiple-files-invalid-extension-wrapper:after {
    border-top-color: @upload-invalid-color;
    border-left-color: @upload-invalid-color;
}

.k-file-size,
.k-file-information,
.k-file-validation-message {
    color: @disabled-text-color;
}

.k-upload .k-upload-selected {
    color: contrast(@base, @widget-text-color, @accent, .9);
    border-color: @widget-border-color;
}

.k-upload-action:focus:active:not(.k-state-disabled):not([disabled]) {
    box-shadow: @button-focused-shadow;
}

/* ImageBrowser */

.k-tile
{
    border-color: @content-background-color;
}

.k-textbox:hover,
.k-tiles li.k-state-hover
{
    border-color: @hover-border-color;
}

.k-tiles li.k-state-selected
{
    border-color: @selected-border-color;
}

/* TreeMap */

.k-leaf,
.k-leaf.k-state-hover:hover
{
    color: #fff;
}

.k-leaf.k-inverse,
.k-leaf.k-inverse.k-state-hover:hover
{
    color: #000;
}

/* Shadows */
.k-widget
{
    .box-shadow(@widget-shadow);
}

.k-slider,
.k-treeview,
.k-upload
{
    .box-shadow(none);
}

.k-state-hover
{
    .box-shadow(@hover-shadow);
}

.k-textbox:focus,
.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused
{
    .box-shadow(@focused-shadow);
}

.k-state-selected
{
    .box-shadow(@selected-shadow);
}

.k-state-active
{
    .box-shadow(@active-shadow);
}

.k-grid tr:hover {
    background-color: @select-hover-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
}

.k-grid .k-filter-row:hover,
.k-pivot-rowheaders .k-grid tr:hover {
    background: none;
}

.k-grid tr.k-state-selected:hover,
.k-grid td.k-state-selected:hover {
    background-color: saturate(@selected-background-color, 7%);
    .composite-background(none);
}

.k-popup,
.k-menu .k-menu-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect.k-state-focused,
.k-filebrowser .k-image,
.k-tooltip
{
    .box-shadow(0 2px 2px 0 @shadow-color);
}

.k-treemap-tile.k-state-hover
{
    .box-shadow(inset 0 0 0 3px @widget-border-color);
}

/* Window */

.k-window
{
    .window-shadow(@shadow-color);
    background-color: @widget-background-color;
}

.k-window.k-window-maximized,
.k-window-maximized .k-window-titlebar,
.k-window-maximized .k-window-content
{
    border-radius: 0;
}

.k-shadow
{
    .box-shadow(0 1px 2px 0 @shadow-color);
}

.k-inset
{
    .box-shadow(inset 0 1px 1px @shadow-color);
}

/* Selection */
.k-editor-inline {
    .selection(@selected-border-color);
}

// Notification
@import "themes/notification.less";

/* Gantt */

.k-gantt .k-treelist
{
    background: @alt-background-color;
}

.k-gantt .k-treelist .k-alt
{
    background-color: contrast(@alt-background-color, lighten(@alt-background-color, 5%), darken(@alt-background-color, 5%), 0.5);
}

.k-gantt .k-treelist tr:hover {
   .composite-background(@widget-gradient);
    background-color: contrast(@widget-background-color, darken(@header-background-color, 20%), @header-background-color, .5);
}

.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td
{
    background-color: @selected-background-color;
    .composite-background(@selected-gradient);
}

.k-gantt .k-treelist .k-state-selected:hover,
.k-gantt .k-treelist .k-state-selected:hover td
{
    background-color: saturate(@selected-background-color, 7%);
    .composite-background(none);
}

.k-task-dot:after
{
    background-color: @widget-text-color;
    border-color: @widget-text-color;
}

.k-task-dot:hover:after
{
    background-color: @active-background-color;
}

.k-task-summary
{
    border-color: @task-summary-color;
    background: @task-summary-color;
}

.k-task-milestone,
.k-task-summary-complete
{
    border-color: @widget-text-color;
    background: @widget-text-color;
}

.k-state-selected.k-task-summary
{
    border-color: @task-summary-selected-color;
    background: @task-summary-selected-color;
}

.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete
{
    border-color: @selected-background-color;
    background: @selected-background-color;
}

.k-task-single
{
    background-color: lighten(@event-background-color, 7%);
    border-color: @event-background-color;
    color: @event-text-color;
}

.k-state-selected.k-task-single
{
    border-color: @selected-border-color;
}

.k-line
{
    background-color: @widget-text-color;
    color: @widget-text-color;
}

.k-state-selected.k-line
{
    background-color: @selected-background-color;
    color: @selected-background-color;
}

.k-resource
{
    background-color: @widget-background-color;
}

/* Border radius */
.k-block,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-window-action,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-notification,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-list-container,
.k-calendar-container,
.k-calendar td,
.k-calendar .k-link,
.k-treeview .k-in,
.k-editor-inline,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection,
.k-upload,
.k-split-button
.k-gantt-views,
.k-gantt-views > .k-current-view
{
    border-radius: @border-radius;
}

.k-tool {
    text-align: center;
    vertical-align: middle;
}

.k-tool.k-group-start,
.k-toolbar .k-split-button .k-button,
.k-toolbar .k-button-group .k-group-start
{
    border-radius: @border-radius 0 0 @border-radius;
}

.k-rtl .k-tool.k-group-start,
.k-rtl .k-toolbar .k-split-button .k-button,
.k-rtl .k-toolbar .k-button-group .k-group-start
{
    border-radius: 0 @border-radius @border-radius 0;
}

.k-toolbar .k-button-group > .k-group-end {
    border-radius: @border-radius;
}

.k-tool.k-group-end,
.k-toolbar .k-button-group .k-button + .k-group-end,
.k-toolbar .k-split-button .k-split-button-arrow
{
    border-radius: 0 @border-radius @border-radius 0;
}

.k-rtl .k-tool.k-group-end,
.k-rtl .k-toolbar .k-button-group .k-group-end,
.k-rtl .k-toolbar .k-split-button .k-split-button-arrow
{
    border-radius: @border-radius 0 0 @border-radius;
}

.k-group-start.k-group-end.k-tool
{
    border-radius: @border-radius;
}

.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu
{
    border-radius: 0 0 @border-radius @border-radius;
}

.k-autocomplete.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-selected-color,
.k-numeric-wrap.k-state-border-up .k-input
{
    border-radius: 0 0 0 @border-radius;
}

.k-multiselect.k-state-border-up .k-multiselect-wrap
{
    border-radius: 0 0 @border-radius @border-radius;
}

.k-window-titlebar,
.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-multiselect.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down,
.k-gantt-views.k-state-expanded,
.k-gantt-views.k-state-expanded > .k-current-view
{
    border-radius: @border-radius @border-radius 0 0;
}

.k-split-button.k-state-border-down > .k-button
{
    border-radius: @border-radius 0 0 0;
}

.k-split-button.k-state-border-up > .k-button
{
    border-radius: 0 0 0 @border-radius;
}

.k-split-button.k-state-border-down > .k-split-button-arrow
{
    border-radius: 0 @border-radius 0 0;
}

.k-split-button.k-state-border-up > .k-split-button-arrow
{
    border-radius: 0 0 @border-radius 0;
}

.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input
{
    border-radius: @inner-border-radius 0 0 @inner-border-radius;
}

.k-rtl .k-dropdown-wrap .k-input,
.k-rtl .k-picker-wrap .k-input,
.k-rtl .k-numeric-wrap .k-input
{
    border-radius: 0 @inner-border-radius @inner-border-radius 0;
}

.k-numeric-wrap .k-link
{
    border-radius: 0 @inner-border-radius 0 0;
}

.k-numeric-wrap .k-link + .k-link
{
    border-radius: 0 0 @inner-border-radius 0;
}

.k-colorpicker .k-selected-color
{
    border-radius: @inner-border-radius 0 0 @inner-border-radius;
}

.k-rtl .k-colorpicker .k-selected-color
{
    border-radius: 0 @inner-border-radius @inner-border-radius 0;
}

.k-autocomplete.k-state-border-down .k-input
{
    border-radius: @border-radius @border-radius 0 0;
}

.k-dropdown-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-selected-color,
.k-numeric-wrap.k-state-border-down .k-input
{
    border-radius: @border-radius 0 0 0;
}

.k-numeric-wrap .k-link.k-state-selected
{
    background-color: @numeric-selected-background;
}

.k-multiselect.k-state-border-down .k-multiselect-wrap
{
    border-radius: @inner-border-radius @inner-border-radius 0 0;
}

.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select+.k-select,
.k-list-container.k-state-border-right
{
    border-radius: 0 @border-radius @border-radius 0;
}

.k-rtl .k-dropdown-wrap .k-select,
.k-rtl .k-picker-wrap .k-select,
.k-rtl .k-numeric-wrap .k-select,
.k-rtl .k-datetimepicker .k-select+.k-select,
.k-rtl .k-list-container.k-state-border-right
{
    border-radius: @border-radius 0 0 @border-radius;
}

.k-numeric-wrap.k-expand-padding .k-input
{
    .guarded-border-radius(@border-radius);
}

.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap
{
    .guarded-border-radius(@inner-border-radius);
}

.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel,
.k-dropzone,
.k-listbox .k-item
{
    .guarded-border-radius(@list-border-radius);
}

.k-slider .k-button,
.k-grid .k-slider .k-button
{
    border-radius: @slider-border-radius;
}

.k-draghandle
{
    border-radius: @draghandle-border-radius;
}

.k-scheduler-toolbar > ul li:first-child,
.k-scheduler-toolbar > ul li:first-child .k-link,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link
{
    border-radius: @border-radius 0 0 @border-radius;
}

.k-rtl .k-scheduler-toolbar > ul li:first-child,
.k-rtl .k-scheduler-toolbar > ul li:first-child .k-link,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child .k-link
{
    border-radius: 0 @border-radius @border-radius 0;
}

.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today,
.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today .k-link,
.k-edit-field > .k-scheduler-navigation
{
    border-radius: @border-radius;
}

.k-scheduler-toolbar .k-nav-next,
.k-scheduler-toolbar ul + ul li:last-child,
.k-scheduler-toolbar .k-nav-next .k-link,
.k-scheduler-toolbar ul + ul li:last-child .k-link
{
    border-top-right-radius: @border-radius;
    border-bottom-right-radius: @border-radius;
}

.k-rtl .k-scheduler-toolbar .k-nav-next,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child,
.k-rtl .k-scheduler-toolbar .k-nav-next .k-link,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child .k-link
{
    border-radius: @border-radius 0 0 @border-radius;
}

.k-scheduler div.k-scheduler-footer ul li,
.k-scheduler div.k-scheduler-footer .k-link
{
    border-radius: @border-radius;
}

.k-more-events,
.k-event,
.k-task-single,
.k-task-complete,
.k-event .k-link
{
    border-radius: @inner-border-radius;
}

.k-scheduler-mobile .k-event
{
    border-radius: (@inner-border-radius - 1);
}

/* Adaptive Grid */

.k-grid-mobile .k-column-active + th.k-header
{
    border-left-color: @widget-text-color;
}

html .km-pane-wrapper .km-widget,
.k-ie .km-pane-wrapper .k-widget,
.k-ie .km-pane-wrapper .k-group,
.k-ie .km-pane-wrapper .k-content,
.k-ie .km-pane-wrapper .k-header,
.k-ie .km-pane-wrapper .k-popup-edit-form .k-edit-field .k-button,
.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-label,
.km-pane-wrapper .k-mobile-list .k-edit-field
{
    color: @widget-text-color;
}

@media screen and (-ms-high-contrast: active)
              and (-ms-high-contrast: none) {
    div.km-pane-wrapper a
    {
        color: @widget-text-color;
    }
}

.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-field,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check
{
    background-color: @widget-background-color;
    border-top: 1px solid @cell-border-color;
}

.km-pane-wrapper .k-mobile-list .k-edit-field textarea
{
    outline-width: 0;
}

.km-pane-wrapper .k-mobile-list .k-item.k-state-selected
{
    background-color: @selected-background-color;
    border-top-color: @selected-border-color;
}

.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check:first-child
{
    border-top-color: transparent;
}

.km-pane-wrapper .k-mobile-list .k-item:last-child
{
    .box-shadow(inset 0 -1px 0 @cell-border-color);
}

.km-pane-wrapper .k-mobile-list > ul > li > .k-link,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-label:nth-child(3),
.km-pane-wrapper #recurrence .km-scroll-container > .k-edit-label:first-child
{
    color: darken(@cell-border-color, 30);
}

.km-pane-wrapper .k-mobile-list > ul > li > .k-link
{
    border-bottom: 1px solid @cell-border-color;
}

.km-pane-wrapper .k-mobile-list .k-edit-field
{
    .box-shadow(0 1px 1px @cell-border-color);
}

.km-actionsheet .k-grid-delete,
.km-actionsheet .k-scheduler-delete,
.km-pane-wrapper .k-scheduler-delete,
.km-pane-wrapper .k-filter-menu .k-button[type=reset]
{
    color: #fff;
    border-color: @error-border-color;
    background-color: red;
    background-image: linear-gradient(to bottom, rgba(255,255,255,.3), rgba(255,255,255,.15));
}

.km-actionsheet .k-grid-delete:active,
.km-actionsheet .k-scheduler-delete:active,
.km-pane-wrapper .k-scheduler-delete:active,
.km-pane-wrapper .k-filter-menu .k-button[type=reset]:active
{
    background-color: darken(red, 20);
}

/* /Column Menu */

.k-autocomplete.k-state-default,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default
{
    .composite-background(@widget-gradient);
    background-position: 50% 50%;
    background-color: @drop-down-background;
    border-color: @drop-down-border-color;
}

.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover
{
    background-color: @select-hover-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
    border-color: @drop-down-hover-border-color;
}

input.k-textbox,
textarea.k-textbox,
.k-multiselect.k-header,
.k-maskedtextbox.k-state-disabled > .k-textbox:hover,
.k-dateinput.k-state-disabled > .k-textbox:hover
{
    border-color: @drop-down-border-color;
}

.k-multiselect.k-header.k-state-hover
{
    border-color: @drop-down-hover-border-color;
}

.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused
{
    background-color: @select-hover-background-color;
    .composite-background(@hover-gradient);
    background-position: 50% 50%;
    border-color: @drop-down-focused-border-color;
    .box-shadow(@focused-shadow);
}

.k-list-container
{
    color: @drop-down-text-color;
}

.k-nodata {
    color: @disabled-text-color;
}

.k-dropdown .k-input,
.k-dropdown .k-state-focused .k-input,
.k-multiselect .k-button,
.k-multiselect .k-button:hover,
.k-menu .k-popup
{
    color: @drop-down-text-color;
}

.k-state-default > .k-select
{
    border-color: @drop-down-border-color;
}

.k-state-hover > .k-select
{
    border-color: @drop-down-hover-border-color;
}

.k-state-focused > .k-select
{
    border-color: @drop-down-focused-border-color;
}

.k-tabstrip:focus
{
    .box-shadow(@focused-shadow);
}

.k-tabstrip-items .k-state-default .k-link,
.k-panelbar > li.k-state-default > .k-link
{
    color: @tabstrip-tabs-color;
}

.k-tabstrip-items .k-state-hover .k-link,
.k-panelbar > li.k-state-hover > .k-link,
.k-panelbar>li.k-state-default>.k-link.k-state-hover
{
    color: @hover-text-color;
}

.k-panelbar > .k-state-focused.k-state-hover
{
    background: @hover-background-color;
    .box-shadow(none);
}

.k-tabstrip-items .k-state-default
{
    border-color: @tabstrip-items-border;
}

.k-tabstrip-items .k-state-hover
{
    border-color: @hover-border-color;
}

.k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-items .k-state-active
{
    background-color: @active-background-color;
    .composite-background(@active-gradient);
    border-color: @active-border-color;
}

.k-tabstrip-top .k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-top .k-tabstrip-items .k-state-active {
   border-bottom-color: @widget-background-color;
}

.k-tabstrip .k-content.k-state-active
{
    background-color: @tabstrip-active-background;
    color: @widget-text-color;
}

.k-menu.k-header,
.k-menu .k-item
{
    border-color: @menu-border-color;
}

.k-column-menu,
.k-column-menu .k-item,
.k-overflow-container .k-overflow-group
{
    border-color: @secondary-border-color;
}

.k-overflow-container .k-overflow-group
{
    box-shadow: inset 0 1px 0 lighten(@secondary-border-color, 30%), 0 1px 0 lighten(@secondary-border-color, 30%);
}

.k-toolbar-first-visible.k-overflow-group,
.k-overflow-container .k-overflow-group + .k-overflow-group
{
    box-shadow: 0 1px 0 lighten(@secondary-border-color, 30%);
}

.k-toolbar-last-visible.k-overflow-group
{
    box-shadow: inset 0 1px 0 lighten(@secondary-border-color, 30%);
}

.k-column-menu .k-separator
{
    border-color: @secondary-border-color;
    background-color: transparent;
}

.k-menu .k-group
{
    border-color: @group-border-color;
}

.k-grid-filter.k-state-active
{
    background-color: @active-filter-background-color;
}

.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td
{
    color: @secondary-text-color;
    border-color: @secondary-border-color;
    font-weight: bold;
}

.k-grouping-header
{
    color: @secondary-text-color;
}

.k-grid td.k-state-focused
{
    .box-shadow(@focused-item-shadow);
}

.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-grouping-header .k-group-indicator,
.k-gantt-toolbar .k-state-default
{
    border-color: @secondary-border-color;
}

// Fix for responsive design
.k-pager-numbers .k-link,
.k-treeview .k-in
{
    border-color: transparent;
}

.k-treeview .k-icon,
.k-scheduler-table .k-icon,
.k-grid .k-hierarchy-cell .k-icon
{
    background-color: @icon-background-color;
    border-radius: @calendar-border-radius;
}

.k-scheduler-table .k-state-hover .k-icon
{
    background-color: transparent;
}

.k-split-button:focus {
    outline:none;
}

.k-split-button:focus {
    box-shadow: inset 0 0 4px 2px @hover-border-color;
}

.k-split-button:focus > .k-button {
    background: transparent;
    border-color: @button-focused-border-color;
}

.k-editor .k-tool:focus
{
   outline: 0;
   border-color: @button-focused-border-color;
   .box-shadow(@button-focused-shadow);
}

@import "themes/checkbox.less";

@checkbox-border-color: contrast(@base, lighten(@base, 1%), darken(@base, 14%), 0.5);
@checkbox-background-color: #fff;
@checkbox-hover-border-color: contrast(@base, lighten(@base, 2%), darken(@base, 24%), 0.5);
@checkbox-checked-background-color: #ffffff;
@checkbox-checked-color: contrast(@selected-background, lighten(@accent, 1%), darken(@accent, 29%), 0.5);
@checkbox-active-border-color: contrast(@selected-background, lighten(@accent, 1%), darken(@accent, 29%), 0.5);
@checkbox-active-box-shadow: 0 0 3px 0 @accent;
@checkbox-disabled-background-color: lighten(@hover-background, 21%);
@checkbox-disabled-color: @disabled-text-color;

@import "themes/radiobutton.less";

@radio-border-color: contrast(@base, lighten(@base, 1%), darken(@base, 14%), 0.5);
@radio-background-color: #fff;
@radio-hover-border-color: contrast(@base, lighten(@base, 2%), darken(@base, 24%), 0.5);
@radio-checked-background-color: contrast(@selected-background, lighten(@accent, 3%), darken(@accent, 29%), 0.5);
@radio-active-border-color: contrast(@selected-background, lighten(@accent, 1%), darken(@accent, 29%), 0.5);
@radio-active-box-shadow: 0 0 3px 0 @accent;
@radio-disabled-background-color: lighten(@hover-background, 21%);
@radio-disabled-color: @disabled-text-color;
@radio-disabled-border-color: #bfbfbf;

// High contrast mode
@media screen and (-ms-high-contrast: active) {
    .k-editor-toolbar-wrap .k-dropdown-wrap.k-state-focused,
    .k-editor-toolbar-wrap .k-button-group .k-tool:focus {
        border-color: #fff;
    }
}

/* Responsive styles */

@media only screen and (max-width: 1024px) {
    .k-webkit,
    .k-ff,
    .k-ie11,
    .k-edge,
    .k-safari {

        .k-pager-numbers,
        .k-grid .k-pager-numbers {
            transform: translatey(-100%);
            -webkit-transform: translatey(-100%);
        }

        .k-pager-numbers .k-current-page,
        .k-grid .k-pager-numbers .k-current-page {
            transform: translatey(100%);
            -webkit-transform: translatey(100%);
        }

        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
        .k-pager-numbers .k-current-page .k-link
        {
            .composite-background(@widget-gradient);
            background-position: 50% 50%;
            background-color: @drop-down-background;
            border-color: @widget-border-color;
        }

        .k-pager-numbers .k-current-page .k-link
        {
            border-color: @secondary-border-color;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view
        {
            border-radius: @border-radius;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
            border-radius: 0;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view
        {
            border-radius: @inner-border-radius @inner-border-radius 0 0;
        }

        .k-scheduler-toolbar > ul li:first-child, .k-scheduler-toolbar > ul li:first-child .k-link,
        .k-scheduler-toolbar > ul.k-scheduler-views li,
        .k-scheduler-toolbar > ul.k-scheduler-views li .k-link
        {
            border-radius: 0;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
        .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link
        {
            border-radius: 0 0 @inner-border-radius @inner-border-radius;
        }

        .k-pager-numbers .k-current-page .k-link:hover,
        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover
        {
            border-color: @hover-border-color;
            .composite-background(@hover-gradient);
            background-color: @hover-background-color;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link
        {
            color: @widget-text-color;
            min-width: 75px;
        }

        .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link
        {
            color: @hover-text-color;
        }

        .k-pager-numbers .k-current-page .k-link:after,
        .k-scheduler-views > li.k-state-selected > .k-link:after {
            display: block;
            content: "";
            position: absolute;
            top: 50%;
            margin-top: -0.5em;
            right: 0.333em;
            width: 1.333em;
            height: 1.333em;
        }

        .k-pager-numbers.k-state-expanded,
        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded
        {
            border-width: 1px 1px 0 1px;
            border-style: solid;
            border-color: @secondary-border-color;
            background-color: @header-background-color;
            border-radius: @border-radius @border-radius 0 0;
            .box-shadow(0 2px 2px 0 @shadow-color);
        }

        .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded
        {
            border-width: 1px;
            background-image: none;
            border-radius: @border-radius;
        }

        .k-pager-numbers .k-state-selected,
        .k-pager-numbers .k-link
        {
            .guarded-border-radius(@list-border-radius);
        }

        .k-widget.k-grid .k-pager-nav + .k-pager-numbers
        {
            position: absolute;
        }
    }
}

.k-chart .k-mask {
    background-color: @background;
    filter: alpha(opacity=68);
    opacity: 0.68;
}

.k-chart .k-selection {
    border-color: rgba(0,0,0,.2);
    box-shadow: inset 0 1px 8px rgba(0,0,0,.1);
    transition: box-shadow .2s linear, border-color .2s linear;
}

.k-chart .k-selection:hover {
    border-color: rgba(0,0,0,.3);
    box-shadow: inset 0 3px 8px rgba(0,0,0,.2);
}

.k-chart .k-handle {
    background-color: #fcfcfc;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
}

.k-chart .k-handle:hover {
    background-color: #ffffff;
    border-color: #b8b8b8;
    box-shadow: 0 0 0 2px rgba(111,101,96,.5);
}
.k-chart .k-navigator-hint .k-tooltip {
    border: 3px solid #ffffff;
    box-shadow: 0 0 0 3px rgba(0,0,0,.2);
    background: #ffffff;
    color: #242424;
}

.k-chart .k-navigator-hint .k-scroll {
    background: fadeout(@accent, 30%);
    height: 4px;
}

/* Map */

.k-map .k-marker {
    font-size: 28px;
    color: @accent;
    text-shadow: 0 0 3px rgba(0, 0, 0, .4);
}

.k-map .k-attribution {
    color: #666666;
}

@import "themes/spreadsheet.less";

.k-spreadsheet {
    .k-widget {
        &[data-property='fontSize'] { width: 60px; }
        &[data-property='format'] { width: 100px; }
        &[data-property='fontFamily'] { width: 130px; }
    }
}

.k-spreadsheet-toolbar .k-combobox {
    .k-input {
        color: @normal-text-color;
    }

    .k-state-hover,
    .k-state-active,
    .k-state-focused
    {
        .k-input {
            color: @input-text-color;
        }
    }
}

@spreadsheet-page-orientation-gradient: @primary-gradient;

/* Dialog */

.k-dialog {
    .k-content {
        border-bottom-right-radius: @border-radius;
        border-bottom-left-radius: @border-radius;
    }
    &.k-dialog-titleless .k-content {
        border-top-right-radius: @border-radius;
        border-top-left-radius: @border-radius;
    }
    .k-dialog-buttongroup {
        &.k-dialog-button-layout-stretched {
            width: 100%;
            .k-button {
                display: inline-block;
                padding: 0.75em 0 0.75em 0;
                border-radius: 0;
                border-width: 1px 0 1px 1px;
            }
            .k-button:first-child {
                border-bottom-left-radius: @border-radius;
                border-left-width: 0;
            }
            .k-button:last-child {
                border-bottom-right-radius: @border-radius;
                border-right-width: 0;
            }
        }
        &.k-dialog-button-layout-normal {
            width: auto;
            margin: 0;
            padding: 1em;
            text-align: right;
            .k-button {
                margin-left: 0.5em;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

.k-rtl .k-dialog {
    a.k-dialog-action.k-dialog-close {
        left: .5em;
    }
    .k-dialog-buttongroup {
        &.k-dialog-button-layout-stretched {
            .k-button:first-child {
                border-bottom-right-radius: @border-radius;
            }
            .k-button:last-child {
                border-bottom-left-radius: @border-radius;
            }
        }
        &.k-dialog-button-layout-normal {
            text-align: left;
            .k-button {
                margin-left: 0;
                margin-right: 0.5em;
                &:first-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.k-numeric-wrap .k-i-warning {
    color: @input-validation-error;
    position: absolute;
    top: 0;
    right: 1.9em;
    width: 1.9em;
}

.k-numeric-wrap.k-state-invalid {
    border-color: @input-validation-error;

    input {
        color: @input-validation-error;
    }
}

.k-rtl .k-numeric-wrap.k-state-invalid .k-i-warning {
    right: auto;
    left: 1.9em;
}

.k-maskedtextbox.k-state-invalid {
    .k-textbox {
        border-color: @input-validation-error;
        color: @input-validation-error;
    }

    .k-i-warning {
        color: @input-validation-error;
    }
}

.k-dateinput.k-state-invalid {
    .k-textbox {
        color: @input-validation-error;
        border-color: @input-validation-error;
    }

    .k-i-warning {
        margin-left: 0;
        margin-right: 0.6em;
        color: @input-validation-error;
    }
}

.k-rtl .k-dateinput .k-i-warning {
    margin-right: 0;
    margin-left: 0.6em;
}

.k-datepicker .k-picker-wrap,
.k-timepicker .k-picker-wrap {
    &.k-state-invalid {
        border-color: @input-validation-error;

        .k-input {
            color: @input-validation-error;
        }
    }

    .k-i-warning {
        color: @input-validation-error;
        margin-left:0;
        margin-right: 2.1em;
    }

    .k-rtl & {
        .k-i-warning {
            margin-right: 0;
            margin-left: 2.1em;
        }
    }
}

.k-datetimepicker .k-picker-wrap {
    &.k-state-invalid {
        border-color: @input-validation-error;

        .k-input {
            color: @input-validation-error;
        }
    }

    .k-i-warning {
        color: @input-validation-error;
        margin-left:0;
        margin-right: 4.3em;
    }

    .k-rtl & {
        .k-icon.k-i-warning {
            margin-right: 0;
            margin-left: 4.3em;
        }
    }
}

.k-listbox {
    .k-list-scroller {
        padding: 2px;
        border-color: @widget-border-color;
        background-color: @input-background-color;
    }

    .k-item:hover:not(.k-state-disabled) {
        color: @hover-text-color;
        background-color: @hover-background-color;
        border-color: transparent;
    }

    .k-drop-hint {
        height: 0;
        border-top: 1px solid @accent;
    }
}


.k-grid-header {
    .k-i-sort-asc-sm,
    .k-i-sort-desc-sm,
    .k-sort-order {
        color: inherit;
    }
}