div[data-view="CreatePropertyGroupView"], div[data-view="EditPropertyGroupView"], div[data-view="CreateDynamicAssociationView"] {
    .layoutrow {
        width: 100%;
        display: flex;
        align-items: center;
        min-height: 25px;
        margin-bottom: 1px;

        > .c-label {
            flex: 0 0 200px;
            padding-right: 10px;
        }

        > .secondColumn {
            flex: 1 1 auto;
        }
    }

    .buttons {
        margin-top: 10px;
        text-align: right;

        .okaybutton {
            margin-right: 5px;
        }
    }
}

div[data-view="EditPropertyGroupView"] {
    .cf-grid {
        border: 1px solid #c9c9c9;
        margin-bottom: 10px;
        border-bottom-width: 2px;
        border-top-width: 0px;
    }

    .layoutrow {
        margin-bottom: 3px;
        height: 26px;
    }

    .changeOrderLabel {
        position: absolute;
        color: white;
        font-size: 12px;
        font-weight: 700;
        padding-top: 6px;
        padding-left: 5px;
    }

    .isLastRow {
        margin-bottom: 10px;
    }
}

div[data-view="ConnectPropertyGroupView"] {
    .cf-grid {
        border: 1px solid #c9c9c9;
        margin-bottom: 10px;
    }
}

.c-extensioneditor {

    > div {
        display: flex;
        flex-wrap: wrap;

        .layoutrow {
            width: 100%;
            display: flex;
            align-items: center;
            min-height: 25px;
            margin-bottom: 1px;

            > .c-label {
                flex: 0 0 200px;
                padding-right: 10px;
            }

            > .secondColumn {
                flex: 1 1 auto;
            }
        }

        .propertyGroupsDropDownWrapper {
            display: flex;

            .c-dropdownlist {
                width: 100%;
            }

            .c-link {
				.c-image{
					width: 16px;
					height: 16px;
				}
                padding: 2px 2px 0px 2px;
                margin-left: 2px;
                border: 1px solid transparent;
                min-height: 25px;

                &:hover {
                    border: 1px solid;
                    border-color: rgba(219, 116, 116, 0.2);
                    background-color: rgba(219, 116, 116, 0.1);
                }
            }

            .c-dropdowntreeview-wrapper {
                .popup {
                    max-height: 248px;

                    .fancytree-node {
                        height: 24px;
                    }

                    .fancytree-title {
                        font-size: 12px;
                        font-family: sans-serif;
                    }
                }
            }
        }

        td[data-column="Typ"], td[data-column="UIGenerator"], td[data-column="Name"], td[data-column="DisplayName"] {
            > div {
                display: flex;
                width: 100%;
                align-items: center;

                > span {
                    line-height: 16px;
                    padding-left: 4px;
                }

                &.staticProperty {
                    color: #888888;
                }
            }
        }

        .c-associationgrid {
            margin-top: 2px;
            width: 100%;

            .cf-grid {
				border: none;
                height: 251px;
                margin-bottom: 1px;
				padding-bottom: 0px;
				
				thead[role="rowgroup"] {
				    border-top: 1px solid #a6a6a6;
				}
				
                .checkBoxColumn {
                    .c-checkbox {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
		
		.c-expanderbox {
			display: block;
			margin: 10px 0 10px 0;
			padding: 6px;
			background: rgba(255, 255, 255, 1);
			box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);

			> .c-link {
				margin: 1px;
				padding: 6px;
				font-size: 1.2em;
				font-weight: bold;
				color: #000000;
				cursor: pointer;

				.c-image {
					width: 16px;
					height: 16px;
					float: right;
					margin: 3px 3px 0 0;
				}
			}

			> .c-content {
				display: block;
				padding: 6px;
			}
		}

        .c-numerictextbox {
            &.c-state-disabled {
                > span > span {
                    border-color: #bfc1c4;
                }
            }
        }

        .tabarea {
            margin-top: 15px;
            width: 100%;

            .tabsWrapper {
                height: 24px;
				border-bottom: 1px solid #c9c9c9;

                .tab_bar {
                    height: 24px;
                    background-color: none;
                }

                .tabs {
                    display: flex;
                    align-items: flex-end;
                    position: relative;
                    top: -36px;
					left: 1px;

                    > span {
                        &.inactive {
                            height: 28px;
                            line-height: 28px;
                        }

                        &.active {
							background-color: none;
                            height: 31px;
                            line-height: 31px;
                        }

                        cursor: pointer;
                        background-color: none;
                        font-weight: bold;
                        
                        
                        display: inline-block;
                        padding-left: 6px;
                        padding-right: 6px;
                        border: 1px solid #c9c9c9;
                        margin: 5px 0 0 -1px;
                        border-bottom: 0;
                    }
                }
            }

            .tab_content {
                border: 1px solid #c9c9c9;
                border-top: none;
                border-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
                margin-top: 0px;
                margin-left: 0px;
                padding-top: 10px;
                padding-bottom: 8px;
                padding-left: 6px;
                padding-right: 14px;
                height: 377px;

                .layoutrow {
                    padding-top: 2px;
                }

                .property_tab_content, .association_tab_content {

                    .c-multilinetextbox {
                        &.c-state-disabled {
                            > input, > textarea {
                                border-color: #bfc1c4 !important;
                            }
                        }
                    }

                    .c-checkbox {
                        padding-right: 30px;
                        display: flex;
                        align-items: center;
                    }

                    .no_icon_property {
                        margin-right: 30px;
                    }

                    .help_property {
                        width: 100%;
                    }
                }

                .edit_mask_tab_content {
                    .c-content {
                        min-height: 100px;
                    }
                }

                .list_view_tab_content {
                    .c-associationgrid {
                        .cf-grid {
                            height: 326px;

                            .c-checkbox {
                                &.c-state-enabled {
                                    > div.element {
                                        background: #f7f7f7 !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
