﻿<div class="container" data-bind="with: $root.LicenseVM">
    <div class="row">
    <!--------- Content ------------------------------------->
      <div class="col-sm-12 col-md-12 col-ld-12 content border  minHeight300 noBorderTop" data-bind="css: { minHeight600: isFullScreen() }">
        <div id="content" >
            <div class="" data-bind="">

               <div class="licenseContent" >

                    <h3 id="license_notes">Legal Notices</h3>
    
                    <div class="row">
                        <div class="col-md-12" data-bind="foreach:Notes()">
                            <p data-bind="html:$data"></p>
                        </div>
                    </div>

                    <h3 id="used_licenses">External Libraries</h3>

                    <div class="row">
                        <div class="col-md-12">
                                <table class="table table-hover table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Library</th>
                                            <th>License</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: Licenses()">
                                        <tr>
                                           <td data-bind="text: Libary"></td>
                                           <!-- ko if:Link!="" -->
                                            <td><a href="" data-bind="text: Type, click: $parent.getDownloadLink"></a></td>  
                                           <!-- /ko -->
                                           <!-- ko if:Link=="" -->
                                            <td data-bind="text: Type"></td>  
                                           <!-- /ko -->
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="clear"></div>
                        </div>
                    </div>
       
               </div>
            </div>
        </div>
      </div>
    </div>

    <!-- ko if:!isFullScreen() -->
    <style type="text/css">
        body.background_Modern
        {
            background:none;
        }
    </style>
    <!-- /ko -->
</div>

<script id="licenseData" type="application/json">
	@Html.Raw(Json.Encode(ViewBag.licenseData))
</script>

<script id="isFullScreen" type="application/json">
	@Html.Raw(Json.Encode(ViewBag.isFullScreen))
</script>

@Scripts.Render("~/bundles/inline-information-index")
