﻿body 
{
    background-color:rgb(232,232,232);
    min-width:430px;
}

.navbarAdmin
{
    max-height:380px;
}

.menuPanel
{
    text-align:center;
    background-color:rgb(93,102,114);
    max-height:600px;
}

.menuPanel a
{
    color:White;
}

.menuPanel label
{
    color:White;
    cursor:pointer;
    font-size:12px;
    margin-top:8px;
    line-height:15px;
}
.menuPanel label input,.menuPanel label span
{
    vertical-align:text-bottom;
}

.menuPanel nav li
{
    overflow:visible !important;
}
.menuPanel nav li.hideOnLoad
{
    display:none;
}

.menuPanel .navbar-toggle .icon-bar
{  
    background-color:White;
}

.content
{
    background-color:White;
    background-color:rgba(250,250,250,0.86);
    overflow-y:auto;
    padding:0px;
    max-height:600px;
}

.console
{
    margin-top:5px;
    min-height:35px;
    background-color:Gray;
    padding:0px -1px;
}

.console .toggleBtn
{
    color:White;
    font-size:18px;
    line-height:35px;
    float:right;
    cursor:pointer;
}

 #consoleWindow
{
    background-color:rgba(255,255,255,0.9);
    margin-bottom:10px;
    border-radius:4px;
    z-index:10;
    display:none;
    height:180px;
    font-size:10px;
    overflow-y:scroll;
    margin-top:27px;
    padding:5px;
}


#consoleWindow div:hover
{
    background-color:rgb(230,230,230);
}

.notificationContent p
{
    border: 1px solid rgba(51,51,51,0.2);
    padding:8px;
    font-size:11px;    
    max-height:200px;
    overflow-y:scroll;
}

.notificationContent h4
{
    margin-top:20px;
    margin-bottom:0px; 
}

div.border
{
    border:1px solid black;
}

div.noBorderLeft
{
    border-left:none;
}

.menuPanel nav .glyphicon
{
    float:left;
    margin-left:10px;
    margin-right:-24px;
}

.menuPanel nav a:hover
{
    background:rgb(88,147,175);
}

.menuPanel nav li.active a
{
    /*background:rgb(59,164,206);*/
    background-color:rgb(77,173,210);
    -webkit-box-shadow: 0px 0px 5px rgb(59,164,206);
    /* webkit browser*/
    -moz-box-shadow: 0px 0px 5px rgb(59,164,206); 
    /* firefox */
    box-shadow: 0px 0px 5px rgb(59,164,206);        
}

.minHeight300
{
    min-height:300px;
}

.placeholderPlot
{
    width:auto;
    min-width: 600px; 
    min-height: 300px;
}

@media (min-width:992px)
{
    .well
    {
        width:400px;
    }
}

@media (max-width: 767px)
{
    .noBorderTop
    {
        border-top:none;
    }  
    
    .placeholderPlot
    {
        height:300px !important;
    }
    
}
@media (min-width: 768px) and (max-width: 991px)
{ 
     .placeholderPlot
    {
        height:300px !important;
    }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px)
{
    .container
    {
        margin-top:10px;
    }
    .minHeight600
    {
        min-height:600px;
    }
        
    .menuPanel nav a
    {
        padding:5px 0px;
        margin:3px 0px;
        background-color:rgb(76,133,159);
        border-radius:3px;
    }
    
    .menuPanel .navbar-header .navbar-brand
    {
        float:none;
        display:block;
        font-size:20px;
    }

    .menuPanel nav li,.menuPanel .navbar-header, .menuPanel .navbar-nav
    {
        float:none;
    }


    
}

/*START: Admin-Panel*/

.panelBtn 
{
    padding:7px 2px;
}

.panelBtn span.label
{
    
}

.loadingBar.progress
{
    height:20px;
    vertical-align:baseline;
}

.loadingBarSmall.progress
{
    width:20px;
    height:10px;
    display:inline-block;
    margin: 0px 10px 0px 0px;
    vertical-align:baseline;
}

/*END: Admin-Panel*/

/**** Login ****/
#successMsg .progress
{
    margin:10px 0px !important;
    opacity:0.7;
}

/**** Configuration ****/
.configContent
{
    padding:10px 15px;
}
.tableFingerprint div
{
    word-wrap:break-word;
    max-width:400px;
    font-weight:normal;
}

.fingerPrint{
    word-wrap:break-word;
    max-width:400px;
    font-weight:normal;
    font-size:10px;
}

.configContent table
{
    font-size:12px;
}

.configContent table td:first-of-type
{
    font-weight:bold;
    width:220px;
}

/**** ViewReport ****/
.viewReportContent
{
    padding:10px 15px;
}

/**** Log ****/
.logContent
{
    padding:10px 15px;
}

#logDetails tbody
{
    font-size: 12px;
}


.loggertable th
{
    min-width:120px;
}

.loggertable td
{
    word-break:break-all;
}

body
{
    counter-reset: events;
}
.counter::before {
  content: counter(events) "#";
  counter-increment: events;
}

.event
{
    display:block;
    font-size: 11px;
    margin:20px 0px;
    border:1px solid black;
    border-radius:10px 10px 0px 0px;

}

.event .eventHeader
{
    border-bottom:1px solid black;
}

.event .eventHeader .counter
{
    min-width:10px;
    padding:5px;
    padding-right:2px;
    font-weight:bold;
    display:inline-block;
}

.event .eventHeader .date
{
    border-left:1px solid black;
    font-weight:bold;
    padding:5px;
    display:inline-block;
}

.event .eventHeader .logger
{
    border-left:1px solid black;
    font-weight:bold;
    padding:5px;
    display:inline-block;
}

.event .eventHeader .infoRight
{
    border-left:1px solid black;
    font-weight:bold;
    padding:5px 7px;
    float:right;
    display:inline-block;
}

.event .eventMsg
{
    overflow-y:auto;
    overflow-x:hidden;
    text-wrap:normal;
    max-height:120px;
}

.event .eventMsg .msg
{
    padding:5px;
    
}

.event.info
{    
  background-color: #D8E4F0;
}
.event.info:hover
{    
  background-color: #C7DCF2;
}

.event.danger
{    
  background-color: rgb(242, 222, 222);
}
.event.danger:hover
{    
  background-color: rgb(235, 204, 204);
}

.event.warning
{    
  background-color: rgb(252, 248, 227);
}
.event.warning:hover
{    
  background-color: rgb(250, 242, 204);
}

/**** Installation ****/
.installContent
{
    padding:10px 15px;
}

.installContent .center
{
    text-align:center;
    margin-top:42px;
}

.installContent .installationBlock
{
    border-top: 1px solid rgb(180,180,180);
    padding:20px 0px;
}

.installContent .installationBlock h3
{
    margin-top:0px;
}

.installContent .installationBlock:first-of-type
{
    border-top: none;
    padding-top:0px;
}

.installContent .installationBlock.disabled
{
    opacity:0.3;
}

.installContent .version
{
    color:rgba(51,51,51,0.5);
    font-size:9px;
    margin-left:5px;
}

/**** Backup ****/
.backupTable th:first-child{
    width:180px;
}

.backupTable .minWidth
{
    min-width:224px;
}

.backupTable th:last-child,.backupTable td:last-child{
   /* width:110px; */
    text-align:right;
    padding-right:2px;
}

.backupTable td:last-child span.danger{
    color:Red;
}

.infoIcon
{
    color:rgb(77, 173, 210);
}

.btn-updateincremental {
    margin-bottom: 1em;
}

.tableWithFunctions td:last-child span{
    opacity:0.3;
    margin:0px 2px;
}

.tableWithFunctions td:last-child span:hover{
    opacity:1;
    cursor:pointer;
}

.commentToggle.active
{
    opacity:1 !important;
}

.backupContent
{
    padding:10px 15px;
}

 h5
{
    color:rgb(180,180,180);
}

.backupContent textarea
{
    margin-bottom:5px;
}

.backupContent .minheightOverBtn
{
    min-height:20px;
}

.backupTable .box {
    overflow: auto;
    padding-bottom: 10px;
}

.backupTable .btn-success {
    /*float: right;*/
}

/**** Statistics ****/
.statsHeader
{
    width:100%;
}

.statsContent
{
    height:515px;
    padding:0px 15px;
    overflow-y:auto;
}

/**** Benchmark ****/
.benchmarkContent
{
    padding: 10px 15px;
}

h4.totalScore
{
    text-align:right;
    padding-right:15px;
}

 .box
{
    border:1px solid rgb(209,226,233);
    background-color:rgb(226,237,241);
    border-radius:4px;
    padding:0px 15px;
    margin-bottom:15px;
}
 
.box h4
{
    border-bottom:1px solid black;
}

.box h4 span
{
    float:right;
}

 .box dt
{
    float:left;
    width:180px;
    clear:left;
    font-size:12px;
    color:rgba(51,51,51,0.8);
}

 .box dd
{
    margin: 0px 0px;  
    font-size:12px;
    padding-left:180px;  
}

 .box dd:nth-child(4n+0)
{
   /* background-color:rgb(215,231,236);*/
}

 .h3
{
    margin-top:40px;
}

 .h3:first-child
{
    margin-top:10px;
}

div.clear
{
    clear:both;
}


a.disabled
{
    pointer-events: none;
    cursor: default;
   
}

a.disabled:hover
{
    text-decoration:none;
}

a.disabled.lineThrough
{
    text-decoration:line-through;
}


/**** Modal ****/
.modal-content-text {
    max-height:300px;
    overflow-x:auto;
    display:inline-block;
}

div.pollingMsg
{
    font-size:11px;
}

div.pollingMsg div:nth-child(4)
{
    color:rgba(0,0,0,0.8);
}

div.pollingMsg div:nth-child(3)
{
    color:rgba(0,0,0,0.6);
}

div.pollingMsg div:nth-child(2)
{
    color:rgba(0,0,0,0.4);
}

div.pollingMsg div:nth-child(1)
{
    color:rgba(0,0,0,0.2);
}

.viewConflicthidden
{
    display:none;
}

.btn-xxs
{
    padding:1px 5px;
    font-size:11px;
    line-height:1.2;
    border-radius:3px;
}

.integrityResult
{
    margin-bottom:7px;
    font-size:13px;
}

.integrityResult .text-success
{
    margin-left:5px;
}

.integrityResult .name
{
    font-size:13px;
    font-weight:bold;
    color:#2f6d87;
}

.integrityResult .bold
{
    font-weight:bold;
}

.integrityResult .details
{
    font-size:11px;
    font-weight:bold;
    color:#555;
    margin-top:7px;
}