﻿.hideOnLoad
{
    display:none;    
}

.bold
{
    font-weight:bold;
}

body.background_Modern
{
    background: url('Images/Background.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Images/Background.png', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='Images/Background.png', sizingMethod='scale')";
}

.link:hover
{
    text-decoration:underline;
    cursor:pointer;
}

.pointer:hover
{
    cursor:pointer;
}

.noPadding
{
    padding:0px !important;
}

.noMargin
{
    margin:0px !important;
}

.noMarginBottom
{
    margin-bottom:0px !important;
}

.floatRight
{
    float:right;
}

.fullscreen
{
    position:fixed;
    top:0;
    left:0;
    background:white;
    width:100%;
    z-index:1000;
    padding:20px;
    overflow-x:auto;
    height:100%;
}

.helpCursor
{
    cursor:help;
}

.pointerCursor
{
    cursor:pointer;
}

ul.noListStyleType
{
    list-style-type:none;
    padding-left:20px;
}

.fontWeightNormal
{
    font-weight:normal;
}

a.licenseLink
{
    position:absolute;
    bottom:5px;
    font-size:11px;
    text-align: center;
    width:100%;
    cursor:pointer;
    left:0px;
}

.modal-dialog.licenseAgreement
{
    width:800px;
}

.licenseAgreement .modal-header
{
    padding:5px 14px;
}

.licenseAgreement .modal-header .close
{
    margin-top:-23px;
}

.licenseAgreement .modal-body
{
    padding:0px;
}

.licenseAgreement .modal-footer
{
    margin-top:-5px;
}

iframe.licenseAgreement
{
    width:100%;
    border:none;
    min-height:420px;
}

.licenseContent
{
    height:400px;
    padding:0px 15px;
    overflow-y:auto;
}

.minHeight600 .licenseContent
{
    height:auto;
    padding:0px 15px;
    overflow-y:auto;
}
