/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
// Border radius
.border-radius( @radius: @border-radius ) when (@enable-radius) {
    border-radius: @radius;
}

.border-top-radius( @radius: @border-radius ) when (@enable-radius) {
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;
}

.border-right-radius( @radius: @border-radius ) when (@enable-radius) {
    border-top-right-radius: @radius;
    border-bottom-right-radius: @radius;
}

.border-bottom-radius( @radius: @border-radius ) when (@enable-radius) {
    border-bottom-right-radius: @radius;
    border-bottom-left-radius: @radius;
}

.border-left-radius( @radius: @border-radius ) when (@enable-radius) {
    border-top-left-radius: @radius;
    border-bottom-left-radius: @radius;
}

.border-top-radius-only( @radius: @border-radius ) when (@enable-radius) {
    border-radius: @radius @radius 0 0;
}

.border-right-radius-only( @radius: @border-radius ) when (@enable-radius) {
    border-radius: 0 @radius @radius 0;
}

.border-bottom-radius-only( @radius: @border-radius ) when (@enable-radius) {
    border-radius: 0 0 @radius @radius;
}

.border-left-radius-only( @radius: @border-radius ) when (@enable-radius) {
    border-radius: @radius 0 0 @radius;
}


// @enable-radius
@enable-radius: true;