/*!
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
.fill( @color, @bg, @border ) {
    border-color: @border;
    color: @color;
    background-color: @bg;
}
.fill( @color, @bg, @border, @gradient ) {
    border-color: @border;
    color: @color;
    background-color: @bg;
    .linear-gradient( @gradient );
}
.outline( @color ) {
    border-color: @color;
    color: @color;
    background-color: transparent;
    background-image: none;
}