// Widget
@widget-background-color: @background;
@widget-text-color: @normal-text-color;
@widget-border-color: contrast(@base, lighten(@base, 1%), darken(@base, 8%), 0.5);
@widget-gradient: @normal-gradient;
@widget-shadow: false;
//Button
@button-text-color: @normal-text-color;
@button-background-color: saturate(@base, 1%);
@button-border-color: contrast(@base, lighten(@base, 1%), darken(@base, 14%), 0.5);
@button-gradient: @widget-gradient;
@button-shadow: false;
@button-hover-text-color: @hover-text-color;
@button-hover-background-color: @hover-background;
@button-hover-border-color: contrast(@base, lighten(@base, 1%), darken(@base, 20%), 0.5);
@button-hover-gradient: @hover-gradient;
@button-hover-shadow: false;
@button-active-background: @accent;
@button-active-text-color: @selected-text-color;
@button-active-border-color: contrast(@selected-background, lighten(@accent, 1%), darken(@accent, 13%), 0.5);
@button-active-gradient: @selected-gradient;
@button-active-shadow: false;
@button-focused-border-color: contrast(@base, lighten(@base, 1%), darken(@base, 14%), 0.5);
@button-focused-shadow: inset 0 0 3px 1px @hover-border-color;
@button-focused-active-shadow: inset 0 0 3px 1px darken(@selected-border-color, 10%);
// Primary button
@primary-text-color: lighten(@selected-text-color, 12%);
@primary-background-color: lighten(@accent, 7%);
@primary-border-color: contrast(@base, lighten(@accent, 3%), darken(@accent, 3%), 0.5);
@primary-gradient: @selected-gradient;
@primary-shadow: false;
@primary-hover-text-color: lighten(@selected-text-color, 12%);
@primary-hover-background-color: lighten(@accent, 3%);
@primary-hover-border-color: contrast(@base, lighten(@hover-background, 1%), darken(@hover-background, 20%), 0.5);
@primary-hover-gradient: @hover-gradient;
@primary-hover-shadow: false;
@primary-active-text-color: desaturate(@selected-text-color, 9%);
@primary-active-background-color: desaturate(@accent, 1%);
@primary-active-border-color: contrast(@selected-background, lighten(@accent, 1%), darken(@accent, 13%), 0.5);
@primary-active-gradient: @selected-gradient;
@primary-active-shadow: false;
@primary-focused-border-color: darken(@primary-background-color, 10%);
@primary-focused-shadow: 0 0 3px 0 @accent;
@primary-focused-active-shadow: @primary-focused-shadow;
@primary-disabled-text-color: darken(@selected-text-color, 10%);
@primary-disabled-background-color: lighten(@accent, 8%);
@primary-disabled-border-color: @primary-disabled-text-color;
@primary-disabled-gradient: @selected-gradient;
@tooltip-texture: url('textures/highlight.png');
@sprite-image: url('@{image-folder}/sprite.png');
@inverse-text-color: contrast(@normal-text-color);
@select-background-color: @base;
@select-border-color: contrast(@base, lighten(@base, 1%), darken(@base, 20%), 0.5);
@select-hover-background-color: saturate(@hover-background, 1%);
@select-group-background-color: @base;
@input-background-color: contrast(@normal-text-color, @base, #fff, 0.5);
@input-text-color: @normal-text-color;
@link-text-color: saturate(@normal-text-color, 1%);
@header-text-color: contrast(@selected-background, lighten(@normal-text-color, 1%), darken(@normal-text-color, 13%), 0.5);
@header-background-color: saturate(@base, 4%);
@group-background-color: contrast(@base, lighten(@background, 4%), darken(@background, 4%), 0.5);
@group-border-color: contrast(@base, lighten(@base, 1%), darken(@base, 14%), 0.5);
@content-background-color: @background;
@hover-background-color: @hover-background;
@hover-border-color: contrast(@base, lighten(@base, 1%), darken(@base, 20%), 0.5);
@hover-shadow: none;
@selected-background-color: @accent;
@selected-border-color: contrast(@selected-background, lighten(@accent, 1%), darken(@accent, 13%), 0.5);
@selected-shadow: none;
@focused-border-color: @widget-border-color;
@focused-shadow: 0 0 3px 0 @shadow-color;
@focused-item-shadow: inset 0 0 3px 1px contrast(@selected-background, lighten(@normal-text-color, 50%), lighten(@normal-text-color, 30%), 0.5);
@focused-active-item-shadow: inset 0 0 3px 1px darken(@selected-border-color, 10%);
@active-text-color: contrast(@selected-background, lighten(@normal-text-color, 1%), darken(@normal-text-color, 13%), 0.5);
@active-gradient: none;
@active-background-color: desaturate(@background, 1%);
@active-border-color: contrast(@base, lighten(@base, 2%), darken(@base, 29%), 0.5);
@active-shadow: none;
@error-text-color: contrast(@hover-background, lighten(@accent, 29%), darken(@accent, 4%), 0.5);
@error-background-color: contrast(@selected-background, lighten(@hover-background, 24%), darken(@hover-background, 29%), 0.5);
@error-border-color: darken(@error, 29%);
@disabled-text-color: contrast(@base, lighten(@base, 40%), darken(@base, 15%), 0.5);
@notification-info-background-color: @info;
@notification-info-text-color: #fff;
@notification-info-border-color: @notification-info-background-color;
@notification-success-background-color: @success;
@notification-success-text-color: @notification-info-text-color;
@notification-success-border-color: @notification-success-background-color;
@notification-warning-background-color: @warning;
@notification-warning-text-color: #000;
@notification-warning-border-color: @notification-warning-background-color;
@notification-error-background-color: @error;
@notification-error-text-color: @notification-info-text-color;
@notification-error-border-color: @notification-error-background-color;
@notification-gradient: rgba(255,255,255,.25) 0%, rgba(255,255,255,0) 100%;
@tooltip-text-color: @header-text-color;
@tooltip-background-color: @header-background-color;
@tooltip-border-color: @secondary-border-color;
@validation-text-color: contrast(@validation-background-color, lighten(@warning, 80%), darken(@warning, 60%), 0.5);
@validation-background-color: @warning;
@validation-border-color: @warning;
@splitbar-background-color: saturate(@base, 1%);
@draghandle-border-radius: 7px;
@draghandle-border-color: @button-border-color;
@draghandle-background-color: lighten(@base, 15%);
@draghandle-shadow: none;
@draghandle-hover-border-color: @button-hover-border-color;
@draghandle-hover-background-color: desaturate(@hover-background, 2%);
@draghandle-hover-shadow: none;
@alt-background-color: contrast(@base, lighten(@background, 3%), lighten(@base, 3%), 0.5);
@nested-alt-background-color: darken(@alt-background-color, 8%);
@cell-border-color: contrast(@base, lighten(@base, 12%), darken(@base, 14%), 0.5);
@column-highlight-background-color: contrast(@selected-background, lighten(@base, 6%), darken(@base, 3%), 0.5);
@active-filter-background-color: desaturate(@background, 1%);
@scheduler-background-color: contrast(@normal-text-color, @background, darken(@background, 10%), 0.5);
@current-time-color: darken(@error, 29%);
@event-background-color: contrast(@selected-background, lighten(@selected-background, 33%), darken(@selected-background, 7%), 0.5);
@event-text-color: contrast(@event-background-color, @normal-text-color, @primary-text-color, 0.4);
@event-inverse-text-color: contrast(@normal-text-color, @background, darken(@background, 10%), 0.5);
@scheduler-nonwork-background-color: contrast(@selected-background, lighten(@base, 3%), darken(@base, 5%), 0.5);
@resize-background-color: contrast(@hover-background, lighten(@normal-text-color, 29%), darken(@normal-text-color, 1%), 0.5);
@upload-progress-background-color: @info;
@upload-progress-text-color: @header-text-color;
@upload-success-background-color: @success;
@upload-success-text-color: @upload-success-background-color;
@upload-error-background-color: @error;
@upload-invalid-color: lighten(@error, 29%);
@upload-error-text-color: @upload-error-background-color;
@task-summary-color: lighten(@widget-text-color, 25%);
@task-summary-selected-color: lighten(@selected-background-color, 25%);
@loading-panel-color: contrast(@selected-background, lighten(@background, 5%), darken(@background, 1%), 0.5);
@shadow-color: rgba(0, 0, 0, .3);
@shadow-inset-color: contrast(@base, lighten(@success, 27%), darken(@success, 9%), 0.5);
@list-border-radius: (@border-radius - 1);
@inner-border-radius: (@border-radius - 1);
@slider-border-radius: 13px;
@default-icon-opacity: 0.9;
@calendar-border-radius: 4px;
@calendar-content-text-color: saturate(@normal-text-color, 1%);
@calendar-footer-background: @background;
@calendar-footer-text-decoration: none;
@calendar-footer-hover-text-decoration: underline;
@calendar-footer-hover-background: @background;
@calendar-header-hover-text-decoration: none;
@calendar-header-hover-background: @hover-background;
@calendar-footer-active-background: @background;
@menu-border-color: contrast(@base, lighten(@base, 1%), darken(@base, 14%), 0.5);
@tabstrip-items-border: contrast(@base, lighten(@base, 1%), darken(@base, 14%), 0.5);
@tabstrip-active-background: desaturate(@background, 1%);
@tabstrip-tabs-color: @normal-text-color;
@form-widget-color: saturate(@normal-text-color, 1%);
@drop-down-border-color: contrast(@base, lighten(@base, 1%), darken(@base, 14%), 0.5);
@drop-down-hover-border-color: contrast(@base, lighten(@base, 1%), darken(@base, 20%), 0.5);
@drop-down-focused-border-color: contrast(@base, lighten(@background, 1%), darken(@background, 26%), 0.5);
@calendar-group-background-color: contrast(@base, lighten(@background, 4%), darken(@background, 4%), 0.5);
@drop-down-background: contrast(@selected-background, lighten(@base, 1%), darken(@base, 9%), 0.5);
@drop-down-text-color: @normal-text-color;
@secondary-border-color: contrast(@base, lighten(@base, 1%), darken(@base, 14%), 0.5);
@secondary-text-color: @normal-text-color;
@numeric-selected-background: @accent;
@panelbar-items-border: contrast(@base, lighten(@base, 1%), darken(@base, 14%), 0.5);
@panelbar-content-background: @background;
@panelbar-content-color: @normal-text-color;
@window-shadow-style: 1px 1px 7px 1px;
@filter-menu-content-background: @background;
@icon-background-color: transparent;
@disabled-background-color: saturate(@base, 1%);
@disabled-border-color: contrast(@base, lighten(@base, 1%), darken(@base, 14%), 0.5);
@disabled-gradient: @normal-gradient;
@input-validation-error: @error;