﻿[data-view=Debug] {
    width: 400px;
    position: absolute;
    top: 150px;
    right: 20px;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 2px;
    height: auto !important;

    .title {
        font-weight: bold;
    }

    .logs {
        max-height: 800px;
        overflow: auto;
        font-size: 1em;
        font-family: 'Courier New';
    }
}
