﻿[data-view=DetailView] {
    height: 100%;

    .content {
        display: block;
        width: 100%;
        height: calc(~'100% - 47px');
        @media screen {
            overflow: auto;
        }
        @media print {
            overflow: hidden;
        }

        > .c-detailview {
            height: 100%;
            @media screen {
                min-width: 750px;
            }
            @media print {
                min-width: 0px;
            }

            > div {
                height: 100%;

                > .favorite {
                    height: 100%;
                    position: initial !important;

                    > div {
                        height: 100%;

                        > .c-toolbar {
                            border-bottom: 1px solid #c9c9c9;
                        }

                        > .wrapper {
                            @media screen {
                                height: calc(~'100% - 34px');
                                overflow-y: auto;
                                overflow-x: auto;
                            }
                            @media print {
                                overflow-y: hidden;
                                overflow-x: hidden;
                            }

                            background: url(/$$_IMAGES_$$/Login_Background.png) #f2f2f2 no-repeat top left;
                            background-size: cover;

                            > .c-root {
                                padding: 0 10px 0 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

[data-locator="dv.0.image"]{
	width: 24px;
	height: 24px;
}
