﻿[data-view=Header] {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;

    &:before {
        display: block;
        position: absolute;
        width: inherit;
        height: 3px;
        background: #163A5B;
        content: '';
    }

    &.arbeitskreisPrincipal {
        &:before {
            height: 7px;
            background: #A22222;
        }
    }

    .header {
        display: flex;
        width: inherit;
        height: 65px;
        background: #1D4B78;
        overflow: hidden;
        align-items: center;
        padding-left: 30px;
        padding-right: 5px;

        > .toggle-pane {
            flex: 0 0 auto;
        }

        > .application-name {
            display: flex;
            flex: 0 0 auto;
            margin: 0 30px 0 30px;
            align-items: center;

            > .c-image {
				.img-wrapper{
					max-height: 45px;
					width: auto;
				}
                margin-right: 10px;
            }

            > .c-label {
                color: #fff;
                font-weight: bold;
                font-size: 1.75em;
                display: none;
            }
        }

        > .application-search {
            display: flex;
            flex: 1 1 auto;
            min-width: 200px;

            > .c-searchbox {
                flex: 1 1 auto;

                > div {
                    position: relative;

                    > .c-autocomplete {
                        width: 100%;
                        position: relative;

                        &:after {
                            display: block;
                            position: absolute;
                            top: 7px;
                            left: 5px;
                            content: '';
                            width: 24px;
                            opacity: 0.4;
                            height: 24px;
                            background: url(/$$_IMAGES_$$/search.png) no-repeat left;
                        }

                        > .k-autocomplete {
                            border: 0;

                            > .k-input {
                                border-radius: 0px;
                                width: calc(~'100% - 40px') !important;
                                height: 41px;
                                padding: 0 10px 0 30px;
                                background: rgba(255, 255, 255, 0.05);
                                color: rgba(255, 255, 255, 0.8);
                                font-size: 1.2em;

                                &:focus {
                                    background: rgba(255, 255, 255, 0.1);
                                }
                            }
                        }
                    }

                    > .c-link {
                        display: none;
                        right: 10px;
                    }

                    > .options {
                        position: fixed;
                    }
                }
            }

            > .c-button {
                display: none;
            }
        }



        > .show-menu,
        > .show-favorites,
        > .show-tasks,
        > .show-logout,
        > .show-home {
            flex: 0 0 auto;
            padding: 9px 8px 8px 8px;
            margin: 0 1px 0 1px;
            opacity: 0.90;

            .c-image {
                width: 24px;
            }

            &.c-state-disabled {
                cursor: default !important;
                opacity: 0.5;
            }

            &.active:not(.c-state-disabled),
            &:hover:not(.c-state-disabled) {
                background: rgba(255, 255, 255, 0.1);
            }
        }
        /*
            tasks-badge ist nun ein Kindelement von show-tasks, da die Browser langsam beginnen die neueren
            CSS-Flexbox-Spezifikationen umzusetzen; dort ist vorsehen, dass absolut positionierte Kindelemente
            eines Flexbox-Containers an dessen statischem Rahmen ausgerichtet werden (unter Anwendung von
            align-items und justify-content) anstatt wie ein anonymes 0x0-Flexbox-Item behandelt zu werden.
            tasks-badge würde also jeglichen Bezug zu show-tasks verlieren.
            Schachtelt man es in ein relativ positioniertes show-tasks, so bezieht sich die absolute
            Positionierung von tasks-badge bekanntermaßen auf den Rahmen von show-tasks und kann es so
            unabhängig vom Stand der CSS3-Umsetzung in dessen oberer rechte Ecke positionieren.
        */
        > .show-tasks {
            position: relative;

            > .tasks-badge {
                display: block;
                position: absolute;
                background: #E60000;
                padding: 2px 4px;
                font-size: 0.75em;
                font-weight: bold;
                color: #ffffff;
                left: ~"calc(100% - 8px - 10px)"; /* Von rechts 10px ins Bild hineinragen (100% - 8px padding = rechter Rand des Bildes) */
                top: 2px;
                border-radius: 4px;
                white-space: nowrap;
            }
        }

        > .user-info {
            display: flex;
            flex: 0 0 auto;
            min-width: 160px;
            font-size: 1em;
            margin-left: 15px;
            margin-right: 10px;
            margin-top: 10px;
            color: #FFFFFF;

            > div {
                display: block;
                width: 100%;

                > .c-dropdownlist {
                    width: calc(~'100% + 8px');
                    margin: -4px 0 0 -4px;

                    .k-dropdown {
                        width: 100%;
                    }
                }
            }

            > .c-image {
                flex: 0 0 auto;
                max-height: 45px;
                margin-left: 15px;
            }
        }

        > .menu-overlay {
            position: absolute;
            background: rgba(255, 255, 255, 0.95);
            padding: 16px;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
            top: 52px;
            right: 260px;
        }

        > .favorite-overlay {
            position: absolute;
            background: rgba(255, 255, 255, 0.95);
            padding: 16px 16px 16px 0;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
            top: 52px;
            right: 225px;

			.panelbar-searchfield {
				width: calc(~"100% + 16px");
			}
			
            .c-fancytree {
				width: calc(~"100% + 16px");
				
                > div > table {
                    width: 100%;
                }

                .fancytree-container {
                    .fancytree-node {
                        .fancytree-expander {
                            display: none;
                        }

                        .fancytree-title {
                            padding-right: 6px;
                            width: calc(~"100% - 16px");

                            .c-treeviewitem {
                                padding-right: 19px;
                            }
                        }

                        &:hover {
                            .removeFavoriteLink {
                                width: 19px;
                                height: 19px;
                                position: absolute;
                                right: 5px;
								text-align: center;

                                &:before {
                                    content: "\e11b";
                                    font: 15px/1 'WebComponentsIconsFixed';
                                    z-index: 1;
                                    color: #333333;
                                    vertical-align: text-bottom;
                                    width: 100%;
                                    height: 100%;
                                }

                                &:hover {
                                    background: rgba(255, 255, 255, 0.95);
                                }
                            }
                        }
                    }
                }
            }
        }

        > .tasks-overlay {
            position: absolute;
            background: rgba(255, 255, 255, 0.95);
            padding: 16px 16px 16px 0px;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
            top: 52px;
            right: 190px;
        }

        > .tasks-overlay, .favorite-overlay {
            .c-fancytree {

                .fancytree-container {
                    border: none;
                    overflow-y: hidden;

                    li {
                        padding-left: 16px;
                    }

                    .fancytree-node {
                        padding-top: 5px;
                        padding-right: 0px;
                        padding-bottom: 5px;
                        padding-left: 0px;

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.1);
                        }

                        .fancytree-title {
                            .c-treeviewitem {
                                padding-left: 0px;
                            }

                            .c-label {
                                color: #333333;
                            }

                            .c-image {
								width: 16px;
                                height: 16px;
                                margin-right: 5px;
								float: left;
                            }
                        }
                    }
                }
            }
        }
    }

    .nav {
        display: block;
        width: 100%;
        height: 31px;
        margin: 0;
        padding: 0;
        background: #ffffff;
    }
}
