﻿[data-view=ListView] {
    height: 100%;

    > div:not(.c-tooltip) {
        height: 100%;

        > .favorite {
            height: 100%;
            position: initial !important;

            > div {
                height: 100%;

                > .c-splitter {
                    height: calc(~"100% - 47px") !important;

                    .c-splitter {
                        height: 100% !important;

						> div:first-child {
							overflow: visible;
							
							.c-toolbar {
								overflow: visible;
								
								.secondary {
									overflow: visible;
								}
							}
							
							.advanced-filter-links {
								display: flex;
								
								.filter-save-container {
									display: flex;
									flex-direction: column;
									
									.c-textbox {
										width: 200px;
										z-index: 10000;
										position: absolute;
										top: 29px;
									}
								}
								
								.c-link {
								    padding-left: 3px;
									padding-right: 3px;
									background-color: #e2e2e3;
									
									.c-label {
									    line-height: 28px;
									}
								}
								
								.c-coreframedropdowntreeview {
									width: 100px;
									background-color: #e2e2e3;
									border-radius: 4px;
									height: 28px;
									padding-left: 7px;
									right: 26px;
									margin-left: 22px;
									margin-right: -26px;
									position: relative;
									border-left: 1px solid black;
									border-top-left-radius: 0px;
									border-bottom-left-radius: 0px;
									
									.c-dropdowntreeview-wrapper {
										border: none;
										
										.icon {
											min-width: 16px;
											padding-top: 3px;
										}
										
										.popup {
											width: 250px;
											border: 1px solid rgb(226, 226, 227);
											border-radius: 4px;
										}
										
										.area {
											color: rgba(0, 0, 0, 0.8);
											line-height: 28px;
										}
									}
								}
							}
						}
						
                        .filterpane {
                            overflow-y: scroll;
                            overflow-x: hidden;
                        }

                        > .full-height {
                            height: 100%;
                            overflow: hidden;
                        }

                        .c-grid {
                            border: 0;
                        }
						
						
                    }

                    > .full-height {
                        height: 100% !important;
                    }

                    .k-splitbar-vertical {
                        height: 0 !important;
                    }

                    .k-splitbar-draggable-vertical {
                        height: 4px !important;
                        background-color: #E6E6E6;
                        border-top: 1px solid #DADADA;
                        border-bottom: 1px solid #DADADA;
                    }
                }
            }
        }
    }
}
[data-locator="lv.favorite.image"]{
	width: 24px;
	height: 24px;
}
