﻿[data-view=Login] {
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100px;
        height: 56px;
        background: url(/$$_IMAGES_$$/CompanyHeaderLogoBig.png) no-repeat top left;
		background-size: cover;
        top: 38px;
        left: 38px;
        z-index: -1;
    }
}
