﻿[data-view=Navigation] {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);

    .c-panelbar {
        height: 100% !important;
		
		.c-TreeView {
			.c-fancytree {
				> div {
					height: 100%;
					overflow-y: auto;
					
					table {
						height: 100%;
					}
				}	
			}
		}
    }
}
