﻿[data-view=Startpage] {
    background: url(/$$_IMAGES_$$/Login_Background.png) #f2f2f2 no-repeat top left;
    background-size: cover;
    width: 100%;
    height: 100%;

    .c-startpagegroup {
        &:nth-child(1) {
            > .elements {
                > .c-startpageelement {
                    &:nth-child(2) {
                        > .c-link {
                            &:last-child {
                                position: absolute;
                                bottom: 0px;
                                right: 20px;
                                font-size: 3.5em;
                                text-decoration: none !important;

                                > .c-label {
                                    color: #0099FF !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
