﻿[data-view=Wireframe] {
    height: 100%;
    background: rgba(255, 255, 255, 1);

    [data-region=Header] {
        position: fixed;
        top: 0;
        left: 0;
        height: 65px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);

        @media print {
            display: none;
        }
    }

    > .main-content {
        width: 100%;
        position: absolute;
		overflow: hidden;
		
        @media screen {
            top: 65px;
            height: calc(~'100% - 65px');
        }
        @media print {
            top: 0px;
        }

        [data-region=Navigation] {
            top: 0;
            left: 0;
            width: 300px;
            height: 100%;
            position: absolute;
            box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.3);
			z-index: 0;

            @media print {
                display: none;
            }
        }

        [data-region=Content] {
            height: 100%;

            @media screen {
                width: auto;
                &.margin {
                    margin-left: 300px;
                }
            }
            @media print {
                width: 100%;
                margin-left: 0px;
                overflow: hidden;
            }
        }
    }
}
