@cf-grid-border: 0px;
@cf-grid-header-height: 25px;
@cf-grid-row-height: 25px;
@cf-grid-footer-border-width: 0px;
@cf-grid-footer-border-style: solid;
@cf-grid-footer-border-color: #000000;
@cf-grid-footer-height: 25px;
@cf-grid-footer-font-color: #000000;
@cf-grid-footer-background-color: #ffffff;