.c-associationgrid {
  border-radius: @main-border-radius !important;
  
  .c-toolbar{
	border-radius: @main-border-radius !important;
  }
}

.c-associationgrid .c-toolbar {
  background-color: @widget-background-color !important;
}

.c-grid {
  border-color: @widget-border-color !important;
}

.c-grid .k-grid-header {
  background-color: @widget-background-color !important;
}

.c-grid .k-grid-header .k-grid-header-wrap table tr th {
  border-color: @widget-border-color !important;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.c-grid .k-pager-wrap {
  background-color: @widget-background-color !important;
}

.c-expandergroupbox .k-dropdown .k-input, 
.c-expandergroupbox .k-selectbox .k-input {
  background: @widget-background-color !important;
}

.c-columnlayoutitem > .c-caption {
  line-height: 36px !important;
}
[data-view=Header] .header > .application-search > .c-searchbox > div > .c-autocomplete {
  text-align: center !important;
}

[data-view=Header] .header > .application-search > .c-searchbox > div > .c-autocomplete:after {
  display: none !important;
}

.c-expandergroupbox {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12) !important;
  border-radius: @main-border-radius !important;
}

.c-button {
  box-shadow: none !important;
  background: none !important;
  border: 1px solid gainsboro;
  color: #777777 !important;
  text-decoration: none !important;
  text-shadow: none !important;
  border-radius: @main-border-radius;  
}
.c-button:hover {
  background-color: #E2E2E3 !important;
}

.c-window.c-style-login .k-window-content .body table td .caption {
  font-size: 14px !important;
}

.c-window.c-style-login .k-window-content .head h1 {
  font-size: 16px !important;
}