﻿.c-autogeneratingsummaryview {
    
	.filter-container {
		.sort-and-filter-container  {
			.filter-area {
				width: 100%;
			}
			.sort-area {
				display: none;
				width: 0%;
			}
		}
	}
	
	.header {
        display: flex;
        padding: 9px 6px 9px 6px;
        border-bottom: 1px solid #c9c9c9;

        > .c-label {
            flex: 1 1 auto;
            overflow: hidden;
            font-weight: bold;
            white-space: nowrap;
            margin: 0 5px 0 0;
            padding: 1px 0 0 0;
        }

        > .c-dropdownlist {
            flex: 0 0 auto;
            margin-right: 10px;
            width: 120px;

            .k-dropdown {
                width: 100%;

                .k-dropdown-wrap {
                    padding: 0 !important;
                }

                .k-input {
                    width: 100% !important;
                }
            }
        }

        > .c-link {
            flex: 0 0 auto;
        }
    }

    .content {
        padding: 0 6px 0 6px;
        min-width: 500px;
    }
}
