﻿.c-dynamicassociationsummaryview {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .center {
        padding: 20px;
        margin: 0px auto;

        .package {
            float: left;

            .header {
                background: #A6CCE0;
                border: 1px solid #4496C0;
                border-bottom: 0;
                width: 80%;

                span {
                    display: block;
                    padding: 5px;
                    color: #ffffff;
                }
            }

            .wrapper {
                background: #A6CCE0;
                border: 1px solid #4496C0;
                padding: 10px;

                .class {
                    background: #ffffff;
                    border: 1px solid #efefef;
                    min-width: 200px;
                    max-width: 400px;
                    overflow: hidden;
                    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.3);

                    .name {
                        text-align: center;
                        border-bottom: 1px solid #eeeeee;

                        span {
                            display: block;
                            padding: 5px;
                            font-weight: bold;
                        }
                    }

                    .properties {
                        span {
                            display: block;
                            padding: 2px;
                            font-size: 0.9em;
                        }
                    }
                }
            }
        }

        .connection {
            float: left;
            margin: 0 -11px 0 -11px;

            .description {
                background: #A6CCE0;
                border: 1px solid #4496C0;
                min-width: 150px;
                padding: 5px;

                span {
                    display: block;
                    padding: 2px;
                    color: #1a1a1a;
                }
            }

            .margin {
                height: 0px;
            }

            .association {
                border-top: 1px solid #000000;
            }

            .line {
                &.left {
                    border-left: 1px dotted #000000;
                }

                &.right {
                    border-right: 1px dotted #000000;
                }
            }

            .name {
                min-width: 100px;
                padding: 5px;

                span {
                    display: block;
                    padding: 2px;
                }
            }

            .multiplicity {
                min-width: 100px;
                padding: 5px;

                span {
                    display: block;
                    padding: 2px;
                }
            }

            .name, .multiplicity {
                &.left {
                    text-align: left;
                    padding-right: 30px;
                    padding-left: 15px;
                }

                &.right {
                    text-align: right;
                    padding-left: 30px;
                    padding-right: 15px;
                }
            }
        }

        .clear {
            clear: both;
        }
    }
}
