﻿@inherits System.Web.Mvc.WebViewPage<RADEnvironment.Core.Models.RADPresentationModel>
@using RADEnvironment.Helpers

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="@Html.Raw(Model.StyleURL)" rel="stylesheet" type="text/css" id="styles" />
    <link href="@Html.Raw(Model.FaviconURL)" rel="shortcut icon" type="image/x-icon" id="favicon" />
    
    <script id="MODEL" type="application/json">@Html.Raw(Json.Encode(Model))</script>
    

    @Url.RenderScript("~/HTMLClient/jquery")
    @Url.RenderScript("~/HTMLClient/bootstrap")
    @Url.RenderScript("~/HTMLClient/modernizr")
    @Url.RenderScript("~/HTMLClient/underscore")
    @Url.RenderScript("~/HTMLClient/stacktrace")
    @Url.RenderScript("~/HTMLClient/mousetrap")
    @Url.RenderScript("~/HTMLClient/accounting")
    @Url.RenderScript("~/HTMLClient/moment")
    @Url.RenderScript("~/HTMLClient/xregexp")
    @Url.RenderScript("~/HTMLClient/jshashtable")
    @Url.RenderScript("~/HTMLClient/xml2json")
    @Url.RenderScript("~/HTMLClient/kendo-ui-core")
    @Url.ExtensionScriptBundles()
    @Url.RenderScript("~/HTMLClient/knockout")
    @Url.RenderScript("~/HTMLClient/require")
    @Url.RenderScript("~/HTMLClient/presentation")
</head>

<body>
    <noscript>
        <div class="noscript">
            <h1>W3L.CoreFrame</h1>
            <h2>Bitte aktivieren Sie die Ausführung von <strong>JavaScript</strong> in Ihrem Browser.</h2>
        </div>
    </noscript>
    <div data-region="Body"></div>
    <div data-region="Modal"></div>
    <div data-region="Debug"></div>
</body>
</html>