﻿<div>
    <!--
    Anzeigen von String-Properties mit Hilfe des "text"- oder "html"-Bindings
    -->
    SampleControl: <span data-bind="text: viewModel.identifier"></span>

    <!--
    Erzeugung eines geschachtelten Controls anhand eines UIGenerators und eines ViewModels
    <div data-bind="control: { uiGenerator: 'Button', viewModel: viewModel.Button }"></div>
    -->

    <!--
    Iteration über ein Array
    <div data-bind="foreach: { data: viewModel.elements, as: 'element' }">
        <div data-bind="control: { uiGenerator: 'Button', viewModel: element }"></div>
    </div>
    -->
</div>