﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.RouteUrl("Default", new { Controller = "Extension", Action = "Favicon" })?hash=@Math.Abs(DateTime.Now.GetHashCode())" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Expires" CONTENT="-1">

    @Styles.Render("~/Content/bootstrapcss")
    @Styles.Render("~/Content/jQuery")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jsgridcss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui-1.10.4")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Flot")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/ViewModels")
    @Scripts.Render("~/bundles/CustomBindings")
    @Scripts.Render("~/bundles/inline-shared-layout")
    @Scripts.Render("~/bundles/jsgrid")

    <!--[if lte IE 8]>
    @Scripts.Render("~/bundles/Excanvas")
    <![endif]-->
</head>
    <body class="background_Modern">
		@RenderBody()
    </body>
</html>
