﻿html {
    width: 100%;
    height: 100%;
}

.overlayStyle() {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.1);
	z-index: 99998;
}
	
body {
    width: 100%;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;
    background: url(/$$_IMAGES_$$/Login_Background.png) #f2f2f2 no-repeat top left fixed;
	background-size: cover;
    overflow: hidden;

    * {
        -webkit-touch-callout: none;
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
		
		::-webkit-scrollbar {
			width: 15px;
			height: 15px;
		}

		::-webkit-scrollbar-track {
			background: rgba(0, 0, 0, 0.05);
		}

		::-webkit-scrollbar-thumb {
			background: rgba(0, 0, 0, 0.2);
		}

        &:focus {
            outline: none !important;
        }
    }
	
	> .k-animation-container {
		z-index: 99999 !important;
	}

    input::-ms-clear {
        display: none;
    }

    [data-region] {
        width: 100%;
        height: 100%;
        z-index: 1;

		&[data-region=Header] {
			height: auto;
		}
        
		&[data-region=Modal], &[data-region=Debug] {
            width: auto;
            height: auto;
        }

        [data-view] {
            height: 100%;
        }
    }
	
	.noselect {
	    -webkit-user-select: none;  /* Chrome all / Safari all */
		  -moz-user-select: none;     /* Firefox all */
		  -ms-user-select: none;      /* IE 10+ */
		  user-select: none;
	}
	
    .overlay {
        .overlayStyle()
    }

    .loader {
        height: 38px;
        width: 260px;
        margin: -20px 0 0 -130px;
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 9999;

        .loader-inner {
            display: block;
            height: 20px;
            width: 240px;
            background: rgba(250, 250, 250, 0.5);
            border: 1px solid #aaaaaa;
            border-radius: 1px;
            overflow: hidden;

            .loader-animation {
                display: block;
                width: 300px;
                animation-name: loaderanimation;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;

                .loader-inner-bar {
                    display: block;
                    float: left;
                    width: 10px;
                    height: 42px;
                    margin: -12px 20px 0 0;
                    background: rgba(150, 150, 150, 0.8);
                    transform: rotate(45deg);
                }
            }
        }
    }
	
	> .overlay {
		z-index: 99998;
	}

    > .loader {
        padding: 8px 9px 8px 9px;
        background: rgba(250, 250, 250, 0.8);
        border: 1px solid #aaaaaa;
        border-radius: 1px;
		z-index: 99999;
    }

    .c-tooltip {
        display: none;
        position: fixed;
        border: 1px solid #ffffff;
        background-color: #ffffff;
        padding: 2px 3px 2px 3px;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
        white-space: nowrap;
        z-index: 999999;
    }
	
	.c-window {
		.c-tooltip {
			position: absolute;
		}
	}

    .invalid-corner {
        width: 8px;
        height: 8px;
        border: none;
        position: absolute;
        background: url(/$$_IMAGES_$$/error-corner.png);
        margin: 0 0 0 -8px;
        top: 0;
        right: 0;
    }

    .invalid-text {
        display: none;
        white-space: nowrap;
        position: absolute;
        background-color: #DC000C;
        padding: 5px 6px 5px 14px;
        color: #ffffff;
        font-weight: bold;
        margin: 0 0 0 100%;
        left: 100%;
		top: 0;
        margin: 0 0 0 1px;
        z-index: 99999;
        box-sizing: border-box;
    }

    .interact-overlay {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .highlight {
        font-weight: bold;
    }

    .clear {
        clear: both;
    }

    .noscript {
        display: block;
        margin: 0px auto;
        width: 400px;
        padding: 100px 0 0 0;

        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 1.75em;
            line-height: 2.7em;
        }
    }

    .c-requirement-error {
        display: block;
        margin: 0px auto;
        width: 500px;
        padding: 50px 0 0 0;

        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 1.75em;
            line-height: 2.7em;
        }

        .c-requirement {
            display: block;
            line-height: 2.2em;
        }
    }
}

@keyframes loaderanimation {
    0% {
        margin-left: -30px;
    }

    100% {
        margin-left: 0px;
    }
}

.iconbrush{
	fill: #1d4b78;
}
.iconbrush2{
	fill: rgba(0, 0, 0, 0.5);
}