// Redefinierung des Font-Face WebComponentsIconsFixed mit neuen Pfadangaben
@font-face {
  font-family: 'WebComponentsIconsFixed';
  src: url('/$$_FILES_$$/Styles/Kendo/web/fonts/glyphs/WebComponentsIcons.eot?gedxeo');
  src: 	url('/$$_FILES_$$/Styles/Kendo/web/fonts/glyphs/WebComponentsIcons.eot?gedxeo#iefix') format('embedded-opentype'), 
		url('/$$_FILES_$$/Styles/Kendo/web/fonts/glyphs/WebComponentsIcons.ttf?gedxeo') format('truetype'), 
		url('/$$_FILES_$$/Styles/Kendo/web/fonts/glyphs/WebComponentsIcons.woff?gedxeo') format('woff'), 
		url('/$$_FILES_$$/Styles/Kendo/web/fonts/glyphs/WebComponentsIcons.svg?gedxeo#WebComponentsIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Neue Definition des Mixins, der die Schrift WebComponentsIconsFixed mit neuen Pfadangaben nutzt
.use-font-icon() {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 1em;
    height: 1em;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    font: 16px/1 'WebComponentsIconsFixed';
    speak: none;
    font-variant: normal;
    text-transform: none;
    text-indent: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Pfadangabe korriert
.k-flatcolorpicker
{
	.k-selected-color {
		background-image: url("/$$_FILES_$$/Styles/Kendo/web/textures/transtexture.png");
	}
}

// Pfadangabe korriert
.k-transparency-slider {
	.k-slider-track {
		background-image: url("/$$_FILES_$$/Styles/Kendo/web/textures/transparency.png");
	}
}

.k-animation-container{
	min-width: 271px !important;
	
	.k-calendar-container{
		min-width: 266px !important;
		
		> div{
			min-width: 266px !important;
		}
	}
}

.k-ie .k-menu .k-animation-container,
.k-ie .k-menu-scroll-wrapper .k-animation-container,
.k-ie .k-popups-wrapper .k-animation-container,
.k-ie .k-popup .k-animation-container
{
    margin-top: -1px !important;
}

.k-checkbox:checked + .k-checkbox-label:before {
	color: #333333 !important;
}

input.k-textbox {
    text-indent: 0em !important;
}

.k-checkbox-label:before {
	border-radius: 0px !important;
	border-color: #a4a7ac;
	height: 15px;
	width: 15px;
	line-height: 17px;	
}
.k-checkbox:checked + .k-checkbox-label:before {
	border-color: #a4a7ac;
}

.k-ie {
	.k-checkbox-label:before {
		height: 15px;
		width: 14px;
	}
}

.k-checkbox:active + .k-checkbox-label:before,
.k-checkbox-label:active:before,
.k-checkbox:checked + .k-checkbox-label:active:before {
    box-shadow: none;
    border-color: #a4a7ac;
}