<li><span {% if ViewReportDetailViewGroup.IsCustomized %} class='customized' {% endif %}>{{ ViewReportDetailViewGroup.ErgNameValue}}; {{ ViewReportDetailViewGroup.Name }}; {{ ViewReportDetailViewGroup.UIGenerator }}</span>
	<ul>
		{% include 'ViewReportDetailViewItem' with ViewReportDetailViewGroup.Items %}
	</ul>
	<ul>
		{% include 'ViewReportDetailViewGroup' with ViewReportDetailViewGroup.DetailViewGroups %}
	</ul>
</li>