{% if ViewReportDetailView %}
	<div class='detailView'>
		<h4 class='expandTrigger detailView {% if ViewReportDetailView.IsCustomized %} customized {% endif %}'><span>{{ ResourceItems.DetailView }}: {{ ViewReportDetailView.ErgNameValue }}</span></h4>
		<ul class='expandable detailView'>
			{% include 'ViewReportDetailViewGroup' with ViewReportDetailView.DetailViewGroups %}
		</ul>
	</div>
{% endif %}