<li><span {% if ViewReportDetailViewItem.IsCustomized %} class='customized' {% endif %}>{{ ViewReportDetailViewItem.ErgNameValue }}; {{ ViewReportDetailViewItem.TechName}}; {{ ViewReportDetailViewItem.UIGenerator }}{% if ViewReportDetailViewItem.IsRequired %}; {{ ResourceItems.Required }}{% endif %}</span>
{% if ViewReportDetailViewItem.IsListView %}
	{% include 'ViewReportListView' with ViewReportDetailViewItem.ListView %}
{% endif %}
<ul>
	{% include 'ViewReportDetailViewItem' with ViewReportDetailViewItem.ChildNodes %}
</ul>