{% if ViewReportListView %}
	<div class='listView'>
		<h4 class='expandTrigger listView'><span {% if ViewReportListView.IsCustomized %} class='customized' {% endif %}>{{ ResourceItems.ListView }}: {{ ViewReportListView.ErgNameValue }}; {{ ViewReportListView.Name }}</span></h4>
		<ul class='expandable listView'>
			{% for column in ViewReportListView.Columns %}
				<li><span {% if column.IsCustomized %} class='customized' {% endif %}>{{ column.ErgNameValue }}; {{ column.Name }}</span></li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
