﻿<!DOCTYPE HTML>
<html>
<head>
	<title>View Report</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style type="text/css">
		body {
			margin: 20px;
			font-family: "Segoe Ui", "Tahoma", "Arial", "Verdana Helvetica", sans-serif;
			font-size: 14px;
			width: 850px;
		}
		
		h4 {
			margin: 5px 0;
		}
        
        div#top, div.module {
            border: 1px solid black;
        }
		
		div.module {
			margin-bottom: 5px;
		}
		
		div.module hr:last-child {
			display: none;
		}
		
		div.module > h2, div.type > h3, div.detailView > h4, div.listView > h4 {
			min-height: 24px;
			padding-left: 27px;
		}
		
		div.module > h2 {
			background: url('res/module.png') center left no-repeat;
		}
		
		div.type > h3 {
			background: url('res/component.png') center left no-repeat;
		}
		
		div.detailView > h4 {
			background: url('res/detailview.png') center left no-repeat;
		}
		
		div.listView > h4 {
			background: url('res/listview.png') center left no-repeat;
		}
		
		div.detailView div.listView > h4 {
			background: url('res/listview_small.png') center left no-repeat;
			min-height: 16px;
			padding-left: 19px;
			font-weight: normal;
		}
		
		ul.listView {
			margin-bottom: 10px;
		}
		
		.expandTrigger > span, a#showAll {
			text-decoration: underline;
			background: url('res/nav_down_blue.png') center left no-repeat;
			padding-left: 17px;
		}
		
		.expanded > span, a#hideAll {
			text-decoration: none;
			background: url('res/nav_up_blue.png') center left no-repeat;
			padding-left: 17px;
		}
		
		.customized {
			color: red;
		}
	</style>
	
    <script src="res/jquery-1.8.3.min.js" type="text/javascript"></script>
	
	<script type='text/javascript'>
	
		if (typeof jQuery != 'undefined')
		{
			$(document).ready(function() {
				$('.expandable').hide();
				$('.expandTrigger').click(function() {
					
					$(this).toggleClass('expanded');
					
					var childLists = $('.expandable', this);
					
					if (childLists.size() > 0)
						childLists.toggle();
					else
						$(this).next('.expandable').toggle();
				});
				
				$('a#showAll').click(function() {
				
					$('div#content .expandTrigger').addClass('expanded');
					$('div#content .expandable').show();
					$('p#buttons a').toggle();
				});
				
				$('a#hideAll').click(function() {
				
					$('div#content .expandTrigger').removeClass('expanded');
					$('div#content .expandable').hide();
					$('p#buttons a').toggle();
				});
				
				$('p#buttons').show();
			});
		}
	</script>
</head>
<body>

	<h1>View Report</h1>
	
    <div id="top">
        <ul>
			<li>{{ ResourceItems.ReportType }}: {{ Report.Type }}</li>
            <li>{{ ResourceItems.RadVersion }}: {{ Report.FrameworkVersion }}</li>
            <li>{{ ResourceItems.Timestamp }}: {{ Report.ReportTimestamp }}</li>
            <li>{{ ResourceItems.Modules }}
                <ul>
                    {% for module in Modules %}
						<li>{{ module.Name }} {{ module.Version }}</li>
	                {% endfor %}
                </ul>
            </li>
            <li class='expandTrigger'><span>{{ ResourceItems.UIFactories }}</span>
				<ul class='expandable'>
                    {% for factory in UIFactories %}
						<li>{{ factory.Name }} - {{ factory.Description }}</li>
	                {% endfor %}
                </ul>
			</li>
        </ul>
    </div>
	
	<p id='buttons' style='display:none'>
		<a id='showAll'>{{ ResourceItems.ExpandAll }}</a>
		<a id='hideAll' style='display:none'>{{ ResourceItems.HideAll }}</a>
	</p>

    <div id="content">
        {% for module in Modules %}
			<div class='module'>
				<h2 class='expandTrigger'><span>{{ module.Name }}</span></h2>
					<div class='expandable'>
						{% for type in module.Types %}
							<div class='type'>
								<h3 class='expandTrigger type'><span>{{ type.ErgNameValue }}</span></h3>
									<div class='expandable'>
										{% include 'ViewReportDetailView' with type.DetailView %}
										{% include 'ViewReportListView' with type.ListView %}
									</div>
							</div>
							<hr />
						{% endfor %}
					</div>
			</div>
        {% endfor %}
    </div>

</body>
</html> 