.c-associationlink {
    min-height: 30px;
    display: flex;
    align-items: center;

    > .c-link {
        background: #eeeeee;

        > .c-label {
            color: #428BCA !important;
        }
    }

    > .c-label {
        margin: 0 0 0 2px;
        color: #000000 !important;
    }

    &.c-state-invalid {
        border: 1px solid #DC000C;
    }
}
