.c-associationsupporttable {
    border: 1px solid #c9c9c9 !important;

    .c-toolbar {
        border: 0 !important;
    }

    .c-toolbar, .c-grid .k-pager-wrap {
        background-color: @background !important;
    }

    .c-grid {
        border: 0;
        border-top: 1px solid #c9c9c9 !important;
        height: 173px;
        overflow: hidden; /* max-height does not play well with possibly overflowing elements */
        
        th {
            cursor: default;
        }
    }

    &.c-state-invalid {
        border: 1px solid #DC000C !important;
    }
}
