.c-associationbox {
    display: flex;

    > .c-textbox {
        flex: 1 0 auto;

        .k-textbox {
            width: 100%;
        }

		&.c-state-disabled {
			> .k-textbox {
				background: @widget-background-color;
				border-color: @widget-border-color;
			}
		}
    }

    > .c-link {
        flex: 0 0 auto;
        @media print {
            display: none;
        }
    }
}
