.c-associationcheckbox {
    min-height: 26px;
    border: 1px solid transparent;

    > .c-iterator {
        > .c-checkbox {
            display: block;
            float: left;
            margin: 0 10px 0 2px;
        }
    }

    .c-label {
        margin: 0 0 0 2px;
        color: #000000 !important;
    }

    &.c-state-invalid {
        border: 1px solid #DC000C;
    }
}
