.c-breadcrumb {
    display: block;
    margin: 0;
    padding: 12px 0 12px 0;
    font-size: 1.2em;
    color: #000000;

    > .c-label {
        display: flex;
		flex-direction: column;
		justify-content: center;
        float: left;
        width: 333px;
        height: 30px;
        padding: 0 25px 0 25px;
        background: url(/$$_IMAGES_$$/breadcrumb-label.png) no-repeat left;

        &:nth-child(2) {
            margin-left: -12px;
        }

        &.active {
            color: #ffffff;
            font-weight: bold;
            background: url(/$$_IMAGES_$$/breadcrumb-label-active.png) no-repeat left;
        }

        &:first-child {
            background-position: -12px 0;
        }
    }
}
