.c-button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	padding:3px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	min-width: 100px;
	
	> .c-image {
        margin: 0 3px 0 3px;
		height: 15px;
    }

    > .c-label {
		font-size: 13px;
		font-weight: bold;
    }
	
	&:hover {
		background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	}
	
	&:active {
		position:relative;
		top:1px;
	}
	
	&.c-state-disabled {
		background:linear-gradient(to bottom, #dfdfdf 5%, #dfdfdf 100%);
		cursor: initial;
		opacity: 0.5;
		
		&:active {
			top:0;
		}
	}
}
