.c-chips {
	background: #f7f7f7;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 2px 2px;
	color: #777777;
	max-height: 145px;
	overflow: auto;
	
    .chips {
		.chip {
			display: block;
			background: rgba(0, 0, 0, 0.05);
			border: 1px solid rgba(0, 0, 0, 0.1);
			padding: 4px;
			margin: 0 0 2px 0;
			
			.text {
			
			}
			
			.remove {
				display: inline-block;
				cursor: pointer;
				padding: 0px 5px;
				font-weight: bold;
			}
		}
	}
	
	.input {
		width: 100%;
		background: none;
		border: 0;
		padding: 4px 2px;
	}
}
