.c-colorpicker {
    display: flex;

    > .k-colorpicker {
        flex: 0 1 100%;

        .k-selected-color {
            width: 100%;
            height: 30px;
        }
    }

    > .c-link {
        flex: 0 0 auto;
    }

    &.c-state-disabled {
        > .k-colorpicker {
            background: #f9f9f9 !important;

            > .k-picker-wrap {
                background: none !important;
            }
        }
    }

    &.c-state-invalid {
        > .k-colorpicker {
            > .k-picker-wrap {
                border-color: #DC000C;
            }
        }
    }
}

.c-colorpicker-container {
    .k-controls {
        .apply {
            width: auto !important;
            background: #7e8fa0;
            border-color: #7e8fa0;
        }

        .cancel {
            width: auto !important;
            border-color: #7e8fa0;
        }
    }
}
