.c-columnlayout {
    display: block;
    margin-top: 2px;

    &.c-columns-1 {
        > .c-columnlayoutrow {
            @media screen {
                max-width: 700px;
            }
            @media print {
                max-width: 600px;
            }
        }
    }

    &.c-columns-2 {
        > .c-columnlayoutrow {
            max-width: 1416px;
        }
    }

    > .c-columnlayoutrow.c-colspan-fill {
        max-width: 100%;
    }
}
