.c-columnlayoutrow {
    display: flex;
    align-items: stretch;

    > .c-columnlayoutitem {
        flex: 1 1 100%;
        min-height: 24px;
		
		> .c-control{
			margin-bottom: 2px;
			min-height: 24px;
		}
    }
}
