.c-coreframegrid,
.c-inlineeditinggrid {	
	background-color: #fff;
	
	&.disabled {
		background-color: #f7f7f7;
	}
		
	.GridHeaderTable{
		table{			
			tr {
				background-color: #ececec;
				height: 25px;
				
				th{
					border-right: 0px;
					border-top: 0px;
					border-bottom: 1px solid #a4a7ac;
					border-left: 1px solid #a4a7ac;
					overflow: hidden;
					padding: 0 0.6em 0 0.6em;
					font-weight: normal;
					white-space: nowrap;
					text-overflow: ellipsis;
					text-align: left;
					
					&:first-child {
						border-left: 0;
					}
					
					&.sortable{
						cursor: pointer;
						
						&[data-sortstate="ASC"] {
							&:after {
								font-family: 'WebComponentsIconsFixed';
								content: "\e004";
							}
						}
						
						&[data-sortstate="DESC"] {
							&:after {
								font-family: 'WebComponentsIconsFixed';
								content: "\e006";
							}
						}
						
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	.GridBodyTable{		
		background-color: #fff;
		
		table{			
			.cf-grid-row{				
				&:nth-child(even) {
					background-color: #ffffff;
				}
					
				&:nth-child(odd) {
					background-color: #f1f4f8;
				}
				
				&:hover,
				&.cf-grid-row-selected {
					background: rgba(0, 0, 0, 0.1);
				}
				
				td {
					border-right: 0px;
					border-top: 0px;
					border-bottom: 0px;
					border-left: 1px solid #a4a7ac;
					overflow: hidden;
					padding: 0 0.6em 0 0.6em;
					font-weight: normal;
					white-space: nowrap;
					text-overflow: ellipsis;
					text-align: left;
					
					&:first-child {
						border-left: 0;
					}
					
					&.inner-factory{
						padding: 0px;
						height: @cf-grid-row-height;
					}
				}				
			}
		}
	}
}

.c-inlineeditinggrid {
	border: 1px solid #cecece;
		
	.cf-grid-row-button,
	.cf-grid-addButton	{
		height: 17px;
		width: 17px;
		background-size: 15px 15px;
		background-position: center center;
		background-repeat: no-repeat;
		cursor: pointer;
		border: 1px solid transparent;
		float: left;
		
		&:hover{
			background-color: rgba(255, 255, 255, 0.1) !important;
            border: 1px solid rgba(255, 255, 255, 0.2);
		}
	}
	
	.cf-grid-row-editButton {
		background-image: url(/$$_IMAGES_$$/obj_edit_dark.png);
	}
	.cf-grid-row-deleteButton {
		background-image: url(/$$_IMAGES_$$/obj_delete_dark.png);
		margin-left: 10px;
	}

	.cf-grid-row-saveButton {
		background-image: url(/$$_IMAGES_$$/selection_apply_off_dark.png);
	}
	
	&.can-add {
	
		.GridBodyTable{
			height: calc(~"100% - 50px") !important;
			border-bottom: 1px solid #cecece;		
		}
		.cf-grid-addButton {
			margin-left: 3px;
			margin-top: 3px;
			background-image: url(/$$_IMAGES_$$/obj_create_dark.png);
		}
		
		&.editmode-single {
		
			&.is-editing {
			
				.GridBodyTable{			
					tr{
						.cf-grid-row-button{
							opacity: 0.5;
							cursor: auto;
						}
						
						&.row-in-editing {
							.cf-grid-row-button{
								opacity: 1;
								cursor: pointer;
							}
						}
					}
				}
				
				.cf-grid-addButton {
					opacity: 0.5;
					cursor: auto;
				}
			}
		}
	}
	
	&.disabled {
		
		.cf-grid-row-button,
		.cf-grid-addButton {
			opacity: 0.5;
			cursor: auto;
		}
	}
}