.c-currencytextbox {
    display: flex;

    > .c-numerictextbox {
        flex: 1 0 auto;
    }

    > .c-dropdownlist {
        width: 80px !important;
        flex: 0 0 auto;
        margin: 0 0 0 2px;
    }
}
