.c-dateandtimepicker {
    display: flex;
    align-items: flex-start;

    > .c-wrapper {
        flex: 1 0 auto;

        > .k-datetimepicker {
            width: 100%;

            .k-picker-wrap {
                padding-right: 0;

                .k-select {
                    display: none;
                }

                .k-input {
                    &::-webkit-input-placeholder {
                        color: #888888;
                    }

                    &:-moz-placeholder {
                        color: #888888;
                        opacity: 1;
                    }

                    &::-moz-placeholder {
                        color: #888888;
                        opacity: 1;
                    }

                    &:-ms-input-placeholder {
                        color: #888888;
                    }
                }
            }
        }
    }

    > .c-link {
        flex: 0 0 auto;
        break-after: always;
        page-break-after: always;
    }

    &.c-state-disabled {
        .k-input {
            background: #f9f9f9;
        }
    }

    &.c-state-invalid {
        .k-picker-wrap {
            border-color: #DC000C;
        }
    }
}
