.c-dropdowntreeview {
    position: relative;

    > .k-dropdown {
        width: 100%;
    }

    > .k-treeview {
        top: 27px !important;
        left: 0 !important;
        width: calc(~"100% - 4px") !important;
        padding: 1px;
    }
}
