.c-encryptedbox-wrapper {
    position: relative;
    min-height: 26px;

    .c-encryptedbox {
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
		
		* {
			-webkit-user-select: none; 
			-moz-user-select: none;  
			-ms-user-select: none;
			user-select: none; 
		}

        > .pattern {
            display: block;
            position: absolute;
            width: calc(~'100% - 2px');
            height: calc(~'100% - 2px');
            background: url(/$$_IMAGES_$$/encrypt-bg.png);
            opacity: 0.5;
            top: 1px;
            left: 1px;
        }

        > .c-image {
            position: absolute;
            top: calc(~'50% - 8px');
            left: 5px;
        }

        > .c-label {
            position: absolute;
            top: calc(~'50% - 7px');
            left: 25px;
            font-weight: bold;
			cursor: default;
        }
    }
}
