.c-fileupload {
	
	&:focus, div:focus{
		.box-shadow(none) !important;
	}
	
    > .preview {
        height: 100%;

        > div {
            height: 100%;

            > form {
                display: none;
            }

            > .visible {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-content: flex-start;
                align-items: flex-start;
                position: relative;
			
                > .c-textbox {
                    flex-grow: 1;
                    flex-shrink: 0;

                    .k-textbox {
                        width: 100%;
                    }
                }

                > .c-image {
                    width: 18px;
                    height: 18px;
                    margin: 4px 0 0 -22px;
                    position: absolute;
                    opacity: 0.8;
                }
            }

            > .preview {
                img {
                    margin: 2px 0 2px 0;
                    border: 1px solid #a4a7ac;
                    border-radius: 2px;
                }
            }
        }
    }
}
