.c-filterelement {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 0 2px 0;

    > .columns {
        flex: 0 1 196px;
        margin: 0 2px 0 2px;

        .c-dropdownlist {
            width: 100%;
        }
    }

    > .operators {
        flex: 0 1 146px;
        margin: 0 2px 0 2px;

        .c-dropdownlist {
            width: 100%;
        }
    }

    > .control {
        flex: 1 1 auto;
        margin: 0 2px 0 2px;
    }

    > .connectors {
        flex: 0 1 96px;
        margin: 0 2px 0 2px;

        .c-dropdownlist {
            width: 100%;
        }
    }

    > .links {
        display: flex;
        flex: 0 0 auto;
    }
}
