.c-flowlayoutitem {
    display: block;
    float: left;
	
    > .c-caption {
        &.c-labelposition-none {
            display: none;
        }

        &.c-labelposition-left {
            float: left;
            margin: 7px 5px 0 0;
        }
		
		label {
			font-weight: normal;
		}
    }

    > .c-control {
        float: left;
        min-width: 30px;
    }
}
