.c-historizationbanner {
    display: block;
    width: calc(~'100% - 14px');
    padding: 6px;
    background: #FFD932;
    border: 1px solid #FFD932;

    &.c-state-disabled {
        background: #FFEFB2;
    }

    &.c-state-invalid {
        border-color: #DC000C;
    }
}
