.c-homeelement {
    &.c-style-default {
        display: block;
        float: left;
        width: 330px;
        min-height: 300px;
        padding: 0 0 0 70px;

        .headline {
            display: block;
            font-size: 1.4em;
            color: #596e11;
            margin: 0 0 10px 0;
        }

        img {
            position: absolute;
            margin-left: -70px;
        }

        a {
            display: block;
            font-size: 1.2em;
            margin: 0 0 5px 0;
            cursor: pointer;
        }
    }
}
