.c-link {
    cursor: pointer;
    text-decoration: none !important;
    @media print {
        display: none;
    }

    &.c-state-disabled {
        cursor: default !important;
    }
	
	&:focus{
		.box-shadow(none) !important;
	}

    &.c-style-toolbar {  
		min-width: 15px;
		border-radius: 3px;
		text-align: center;
        flex: 0 0 auto;
        margin: 0 2px 0 2px;
        padding: 6px;
        list-style: none;

        &:hover,
		&:focus,
        &.c-state-active {
			background-color: #E2E2E3;
        }

        &.c-state-disabled {
            opacity: 0.4;
            border-color: rgba(0, 0, 0, 0);
            background: rgba(0, 0, 0, 0);
			
			&:hover{
				background-color: transparent !important;
			}
        }

        > .c-image {
            flex: 0 0 auto;
            width: 16px;
            height: 16px;
			margin-left: auto;
			margin-right: auto;
        }

        > .c-label {
            flex: 0 0 auto;
            color: rgba(0, 0, 0, 0.8);
            margin-left: 4px;
        }
    }
}
