.c-linktextbox {
    display: flex;

    > .c-textbox {
        flex: 1 0 auto;

        .k-textbox {
            width: 100%;
        }
    }

    > .c-link:not(.c-style-toolbar) {
        display: flex;
        flex: 1 0 auto;
        align-items: center;

        > .c-label {
            padding-left: 4px;
            color: #428BCA !important;
        }
    }

    > .c-link.c-style-toolbar {
        flex: 0 0 auto;

        > .c-image {
            width: 16px;
            height: 16px;
        }
    }
}
