.c-menu {
    &.c-style-applicationmenu {
        display: block;
        float: left;
        height: 31px;
        border: 0;
        background: none;
        margin: 0 2px 0 2px;
    }

    &.float-right {
        float: right;
    }
}
