.c-messagebox {
    &.c-style-default {
        .body {
            > .c-image {
                display: block;
                float: left;
                margin: 10px;
            }

            > .c-label {
                display: block;
                float: left;
                width: 400px;
                margin: 10px;
            }
        }

        .footer {
            > .c-button {
                margin: 10px 10px 5px 0;
            }
        }
    }
	
	.msgB-flex{
		display:flex;
		
		.imgContainer{
			padding-right:10px;
		}
		
		.bodyContainer{
			flex:1;
			max-height:400px;
			overflow-x:auto;
		}
	}
}
