.c-multilinetextbox {
    display: flex;
    width: 100%;

    &.c-state-multiline {
        height: 120px;
    }

    textarea, input {
        flex: 0 1 100%;
        height: 100%;
        padding-left: 0.28em;
    }
	
	textarea{
		resize: none;
	}

    &.c-state-singleline {
        height: 30px !important;

        input {
            padding-top: 5px;
        }
    }

    > .c-link {
        display: flex;
        flex: 0 0 auto;
        align-items: center;
    }

    &.c-state-disabled {
        textarea, input {
            background: @disabled-background-color !important;
            border-color: @disabled-border-color !important;
        }
    }

    &.c-state-invalid {
        textarea, input {
            border-color: #DC000C;
        }
    }
}
