.c-optionslandschaftgroup {
    margin: 0 40px 10px 0;

    > .c-label {
        font-weight: bold;
    }

    > .c-link {
        padding: 0 0 0 5px;
        font-size: 9pt;

        > .c-label {
            color: #2E72AC;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
