.c-overlay {
    background: #ffffff !important;
    padding: 0;
    text-align: left;
    font-weight: normal;
    background: #F5F5F5;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);

    .k-tooltip-button {
        display: none;
    }

    .k-tooltip-content {
        padding: 10px;

        table {
            border-collapse: separate;

            td {
                padding: 5px;

                .c-button {
                    margin: 0 5px 0 0;
                }
            }
        }
    }
}
