.c-panelbaritem {
    height: 100%;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);

    > .c-label {
        display: block;
        padding: 10px;
        font-size: 1.2em;
        font-weight: bold;
        color: #000000;
    }
	
	.k-panel {
		display: none !important;
	}

	.c-fancytree {
		> div > table {
			width: 100%;
		}
		
		overflow-y: auto;
		height: calc(~'100% - 38px');
			
		.fancytree-container {
			border: none;
			background-color: transparent;
			overflow-y: hidden;
			
			> li[role="treeitem"] {
				width: calc(~'100% - 16px');
			}
		}
		
		.fancytree-node {
			display: flex;
            align-items: center;
			
			padding-top: 5px;
			padding-right: 0px;
			padding-bottom: 5px;
			padding-left: 0px;
			
			&:hover {
				background-color: rgba(0, 0, 0, 0.1);
			}
				
			.fancytree-expander {
				background: none;
				min-width: 16px;				
			}
							
			&.fancytree-exp-c, &.fancytree-exp-cl {
				> .fancytree-expander:before {
					content: "\e005";
					font: 17px/1 'WebComponentsIconsFixed';
				}
			}
			
			&.fancytree-exp-e, &.fancytree-exp-el {
				> .fancytree-expander:before {
					content: "\e001";
                    font: 19px/1 'WebComponentsIconsFixed';
				}
			}
			
			.fancytree-title {
				> li {
					> a {
						> img {
							padding-right: 5px;
							width: 16px;
							height: 16px;
						}
						.c-label {
							color: #333333;
						}
					}
				}
			}
		}		
	}
	
}
