.c-passwordbox {
    display: flex;

    > .k-textbox {
        flex: 0 1 100%;
    }

    > .c-link {
        flex: 0 0 auto;
    }

    &.c-state-disabled {
        > .k-textbox {
            background: #f9f9f9;
        }
    }

    &.c-state-invalid {
        > .k-textbox {
            border-color: #DC000C;
        }
    }
}
