.c-principalhistorizationselection {
    > .head {
        display: flex;
        align-items: center;
        height: 25px;
        padding: 0 24px 0 0;

        .c-label {
            flex: 1 0 auto;
        }

        .c-checkbox {
			position: relative;
			left: 1px;
            flex: 0 0 auto;
        }
    }

    > .body {
		background-color: #fafafc;
		border: 1px solid #cdcdcd;
		border-radius: 2px;
        list-style: none;
        padding: 2px;
        margin: 0;
        overflow-y: scroll;
        height: 96px;
    }
	
	/* IE spezifisch */

	@ie: ~'screen\0';
	@media @ie {
		.head {
			.c-checkbox {
				left: -1px;
			}
		}
	}
}
