.c-radiobox {
    position: relative;
    min-height: 13px;
    white-space: nowrap;
    margin-right: 5px;

    > .c-label {
        margin: 6px 0 0 6px !important;
        padding: 0;
        font-weight: normal;
    }

    > .invalid-corner {
        top: 4px;
    }

    &.c-state-disabled {
        > .element {
            cursor: default;
            background: #f1f1f1;
        }
    }

    &.c-state-invalid {
        > .element {
            border-color: #DC000C;
        }
    }
}
