@RTB_background : #fafafc ;
@RTB_Btn_Dimension: 23px;
.coreframe-richtextbox {
    border-radius: 3px; //@main-border-radius;
    border: 1px solid #cdcdcd;
    overflow: hidden;
    .toolbar {
        border-bottom: 1px solid #cdcdcd;
        padding: 3px;
        background: @RTB_background;

        button{
          min-width: @RTB_Btn_Dimension;
          min-height: @RTB_Btn_Dimension;
          border: 1px solid transparent;
          background: rgba(218, 171, 171, 0);
		  color:inherit;

          &:hover {
            background:rgba(255,255,255,0.1);
            border: 1px solid rgba(255, 255, 255, 0.2);
          }
        }

        span.seperator {
            padding: 4px 0;
            margin: 0 6px;
            vertical-align: text-top;
            border-left: 1px solid rgba(0,0,0,0.21);
            border-right: 1px solid rgba(255,255,255,0.15);
        }
    }
}

.c-richtextbox_old {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    > .k-editor {
        border-collapse: collapse;
        height: 100px;
        flex: 0 1 100%;
        background: #f8f8f8 url(/$$_IMAGES_$$/rad-group_bg-repeat.png) bottom left repeat-x;
        border: none;

        tr[role=presentation] {
            background: #ECECEC;

            .k-editor-toolbar-wrap {
                height: 34px;
            }
        }

        td {
            padding: 2px !important;

            .k-editable-area {
                background: #eeeeee;
                border: none;

                iframe {
                    background: #eeeeee;
                }
            }

            .k-tool {
                border: 0;
                background: none;

                .k-bold {
                    background: url(/$$_IMAGES_$$/RichTextEditor/text_bold.png) no-repeat center;
                }

                .k-italic {
                    background: url(/$$_IMAGES_$$/RichTextEditor/text_italics.png) no-repeat center;
                }

                .k-underline {
                    background: url(/$$_IMAGES_$$/RichTextEditor/text_underlined.png) no-repeat center;
                }

                .k-justifyLeft {
                    background: url(/$$_IMAGES_$$/RichTextEditor/text_align_left.png) no-repeat center;
                }

                .k-justifyCenter {
                    background: url(/$$_IMAGES_$$/RichTextEditor/text_align_center.png) no-repeat center;
                }

                .k-justifyRight {
                    background: url(/$$_IMAGES_$$/RichTextEditor/text_align_right.png) no-repeat center;
                }

                .k-justifyFull {
                    background: url(/$$_IMAGES_$$/RichTextEditor/text_align_justified.png) no-repeat center;
                }
            }

            .k-combobox, .k-dropdown {
                width: 80px;
            }

            .k-foreColor {
                background: url(/$$_IMAGES_$$/RichTextEditor/color_wheel.png) no-repeat center;
            }
        }
    }

    > .c-link {
        position: absolute;
        top: 4px;
        right: 4px;
    }

    &.c-style-maximized {
        > .k-editor {
            height: 300px;
        }
    }

    &.c-state-disabled {
        border: 1px solid #eeeeee;

        > .k-editor {
            .k-editor-toolbar-wrap {
                padding-left: 5px !important;
                height: 28px;
            }

            .k-editable-area {
                background: #f9f9f9;

                iframe {
                    background: #f9f9f9;
                }
            }
        }
    }

    &.c-state-invalid {
        border: 1px solid #DC000C;

        > .k-editor {
            border: none;

            .k-editable-area {
                border: none;
            }
        }
    }
}
