.c-selectbox {
    list-style: none;
    padding: 2px 2px 1px 2px;
    margin: 0;
    border: 1px solid #eeeeee;
    overflow: visible;
    min-height: 20px;
    width: 100%;

    &.c-state-disabled {
        background: #f9f9f9;
    }

    &.c-state-invalid {
        border-color: #DC000C;
    }
}
