.c-splitterpane {
    &.c-state-collapsed {
        * {
            visibility: hidden;

            .c-style-visible, .c-style-visible * {
                visibility: visible;
            }
        }
    }
}
