.c-splitter {
    height: 100%;
    border: 0;
    background: rgba(0, 0, 0, 0);

    .k-splitbar {
        border: 0;
        background: rgba(0, 0, 0, 0);

        &.k-splitbar-horizontal {
            width: 2px;
        }

        &.k-splitbar-vertical {
            height: 2px;
        }

        .k-icon {
            display: none;
        }
    }
}
