﻿.c-startpageelement {
    position: relative;
    flex: 0 0 auto;
    text-align: left;
    padding: 10px 40px 10px 40px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    margin: 0 20px 20px 0;
    min-width: 230px;
    min-height: 250px;
    opacity: 0.8;

    &:hover {
        transform: scale(1.02, 1.02);
        background: rgba(255, 255, 255, 1);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }

    > .c-label {
        display: block;
        font-size: 1.75em;
        font-weight: bold;
        color: #000000;
        margin: 0 0 20px 0;
    }

    > .c-image {
        position: absolute;
        width: 30px;
        bottom: 10px;
        right: 10px;
    }

    > .c-link {
        display: block;
        font-size: 1.2em;
        margin: 0 0 5px 0;
        cursor: pointer;
        color: #000000 !important;
        text-decoration: none !important;

        &:hover {
            color: #1fc4f4 !important;
        }
    }
}
