.c-stateindicator {
    display: block;
    position: relative;
    margin: 3px;
    padding: 5px;

    &::before {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        content: " ";

        height: 100%;
        width: 100%;

        background: linear-gradient(to right, rgba(255,53,53,0.4) 0%,rgba(255,191,43,0.4) 33%,rgba(255,255,43,0.4) 66%,rgba(78,255,43,0.4) 100%);
    }
}