.c-tabstrip2 {
	margin: 10px 0 10px 0;
	
    > .c-list-wrapper {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0 0 0 -1px;

        > .c-title {
            display: block;
            float: left;
            margin: 8px 0 0 -1px;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 0;
            cursor: pointer;

            &:first-child {
                margin-left: 0;
            }

            > .c-link {
                float: left;
                padding: 8px 12px 8px 12px;
                background: rgba(255, 255, 255, 0.5);
                color: rgba(0, 0, 0, 0.5);
                font-weight: bold;
            }

            &.c-state-active {
                margin-top: 1px;

                > .c-link {
                    padding: 12px;
                    background: rgba(255, 255, 255, 1);
                    color: #000000;
                }
            }
        }
    }

    > .c-tabs-wrapper {
        padding: 12px;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
    }
	
    > .c-list-wrapper.c-style-hidden + .c-tabs-wrapper {
        padding: 0;
    }
}
