.c-tabstriptab2 {
    display: none;

    &.c-state-active {
        display: block;
    }

    > .c-content {
        transition: opacity 60ms ease-in-out;
        opacity: 1;

        &.animate {
            opacity: 0;
        }
    }
}
