.c-tasklayout {
    position: relative;
    width: 612px;
    height: 194px;
    overflow: hidden;
    margin: 0px auto;
    padding: 35px 8px 3px 8px;
    color: #ffffff;

    > .c-label.c-type-title {
        display: block;
        font-size: 1.3em;
        font-weight: bold;
    }

    > .c-label.c-type-description {
        display: block;
        margin: 18px 0 0 0;
        line-height: 15px;
    }

    > .c-label.c-type-footer {
        display: block;
        position: absolute;
        font-size: 0.9em;
        line-height: 14px;
        bottom: 14px;
    }
}
