.c-textbox {
    display: flex;
    flex-direction: row;
    align-items: center;

    > .k-textbox {
        flex: 1 0 auto;
    }

    > .c-label {
        flex: 0 0 auto;
        margin: 0 0 0 5px;
    }

    &.c-state-disabled {
        > .k-textbox {
            background: @disabled-background-color;
            border-color: @disabled-border-color;
        }
    }

    &.c-state-invalid {
        > .k-textbox {
            border-color: #DC000C;
        }
    }
}
