.c-toolbar {
	overflow: hidden;
    height: 34px !important;
    margin: 0;
    padding: 0;
    @media print {
        display: none;
    }

	.toolbar-leading-break {
		margin-top: 36px !important;
	}
	
	> div {
		position: relative;
		display: flex;
		height: 33px !important;
		margin: 2px 0 1px 0;
		
		> ul {
			display: flex;
			align-items: center;
			margin: 0;
			padding: 0;
			height: 30px;
			overflow: hidden;

			&.primary {
				flex: 0 0 auto;
			}

			&.secondary {
				flex: 1 1 auto;
                flex-wrap: wrap;
                padding-right: 14px;
			}

			&.extended {
				flex: 0 0 auto;
			}

			> li {
				display: flex;
				list-style: none;
				align-items: center;
				
				&.c-multilink {
                    .c-dropdownlist {
                        .k-dropdown > .k-dropdown-wrap {
                            padding-right: 10px;

                            .k-input {
                                width: 0px;
                            }

                            .k-select {
                                width: 13px;
                            }
                        }
                    }

                    .c-link, .c-dropdownlist {
                        width: auto;
                        margin: 1px;


                        > .c-image {
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            margin: -1px 0 0 0;
                        }

                        > .c-label {
                            display: inline-block;
                            margin: 1px 4px 1px 6px;
                        }
                    }
                }

				&.c-separator {
					flex: 0 0 1px;
					height: 20px;
					background: rgba(0, 0, 0, 0.3);
					margin: 0 2px 0 2px;
				}
			}
		}
	}

	/* Der Wrapper wird für die Einbettung in Flex-Container benötigt, da dort absolut positionierte Elemente problematisch sind */
    .secondary-overflow-menu-button-wrapper
    {
        width: 0;
        display: inline-block;
        position: relative;
    }
	
    .secondary-overflow-menu-button-wrapper > .secondary-overflow-menu-button {
		font-size: 10px;
		text-align: center;
		padding-top: 3px;
			
		position: absolute;
		right: 0;
		
        display: block;
        cursor: pointer;
        width: 16px;
        height: 24px;
		margin-top: 1px; 
		opacity: 0.6;
			
		background-repeat: no-repeat;
        background-position: 50% 12px;
        background-image: url(/$$_IMAGES_$$/toolbar-menu-arrow-down.png);
		
		border-right: 1px solid rgba(0,0,0, 0.15);
    }
		
    .secondary + .secondary-overflow-menu-button-wrapper > .secondary-overflow-menu-button:hover {
        opacity: 1;
        background-color: rgba(0,0,0, 0.05);
    }
    .secondary.toolbar-overflow-menu-shown + .secondary-overflow-menu-button-wrapper > .secondary-overflow-menu-button {
        opacity: 1;
        cursor: default;
        background-color: rgba(0,0,0, 0.05);
    }

	/* Legacy */
    .secondary + .secondary-overflow-menu-button {
		font-size: 10px;
		text-align: center;
		padding-top: 3px;
			
		position: absolute;
        display: block;
        cursor: pointer;
        width: 16px;
        height: 24px;
		margin-top: 1px; 
		opacity: 0.6;
			
		background-repeat: no-repeat;
        background-position: 50% 12px;
        background-image: url(/$$_IMAGES_$$/toolbar-menu-arrow-down.png);
			
        margin-left: -15px;
		border-right: 1px solid rgba(0,0,0, 0.15);
    }

    .secondary + .secondary-overflow-menu-button:hover {
        opacity: 1;
        background-color: rgba(0,0,0, 0.05);
    }
    .secondary.toolbar-overflow-menu-shown + .secondary-overflow-menu-button {
        opacity: 1;
        cursor: default;
        background-color: rgba(0,0,0, 0.05);
    }
}

.toolbar-overflow-menu {
    background-color: white !important;

	> .k-tooltip-button {
		display: none;
	}
	
    > .k-tooltip-content {
		padding-right: 0;
	}

    .toolbar-overflow-items {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .c-link {
        text-align: left;
		white-space: nowrap;
    }

    .c-separator {
        margin: 2px 0;
        height: 1px;
        background: rgba(0, 0, 0, 0.3);
    }
	
	.c-separator:first-child,
	.c-separator:last-child {
		display: none;
	}
}