.c-treeviewitem {
    margin-bottom: 1px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);

    .k-in {
        margin: 0;
        background: rgba(0, 0, 0, 0);
        border: 1px solid rgba(0, 0, 0, 0);

        .c-link:nth-child(1) {
            display: block;
            padding: 8px;

            > .c-image {
                margin: -3px 3px 0 0;
                width: 16px !important;
                height: 16px !important;
            }

            > .c-label {
                color: rgba(0, 0, 0, 1);
            }
        }

        .c-link:nth-child(2) {
            display: none;
            position: absolute;
            right: 5px;
            margin: -25px 0 0 0;
        }

        &:hover {
            background: rgba(0, 0, 0, 0.1);
            border-color: rgba(0, 0, 0, 0);

            .c-link:nth-child(2) {
                display: block;
                opacity: 0.75;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}
