.c-window {
    &.c-style-default {
        border: 0;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);

        .k-window-titlebar {
            padding-top: 6px;
            padding-bottom: 3px;
            border: 0;

            .k-window-title {
                color: #000000;
                font-weight: bold;
                font-size: 1.2em;
            }

            .c-dropdownlist {
                position: absolute;
                top: 4px;
                right: 30px;
                width: 120px;

                .k-dropdown {
                    width: 100%;

                    .k-input {
                        width: 100% !important;
                    }
                }
            }
        }

        .k-window-content {
            padding: 10px;
            background: #ffffff;

            .body {
                max-height: 1200px;
                overflow-y: hidden;

                > .c-image {
                    float: left;
                    margin: 0 10px 10px 0;
                }

                > .c-label {
                    line-height: 16px;
                }
            }

            .footer {
                text-align: right;
                padding: 10px 0 0 0;

                > .c-button {
                    margin: 0 0 0 5px;
                }
            }
        }
    }

    &.c-style-login {
        border: 0;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
        padding: 0 !important;

        .k-window-titlebar {
            background: #163A5B;
            height: 3px;
            min-height: 3px;
            line-height: 1px;
            padding: 0;
            margin-top: -3px !important;

            .k-window-title, .k-window-actions {
                display: none;
            }
        }

        .k-window-content {
            padding: 0;
            background: #ffffff;

            .image {
                position: absolute;
                margin: 30px 0 0 20px;
            }

            .head {
                padding: 5px 15px 5px 102px;

                h1 {
                    font-size: 1em;
                    font-weight: bold;
                    color: #000000;
                }

                .error {
                    color: #f00;
                    font-weight: bold;
                    font-size: 1em;
                }
            }

            .body {
                padding: 0 20px 50px 0;

                table {
                    float: right;

                    td {
                        padding: 2px;

                        label {
                            display: inline-block;
                            font-weight: normal;
                            margin: 2px 0 0 0;
                        }

                        .caption {
                            display: inline-block;
                            width: 120px;
                            font-size: 1em;
                        }
                    }
                }

                .clear {
                    clear: both;
                }
            }

            .footer {
                padding: 8px 20px 20px 0;

                text-align: right;
            }
        }
    }

    &.c-style-messagebox {
        border: 0;
        box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);

        .k-window-titlebar {
            padding-top: 6px;
            padding-bottom: 3px;
            border: 0;

            .k-window-title {
                color: #000000;
                font-weight: bold;
                font-size: 1.2em;
            }

            .c-dropdownlist {
                position: absolute;
                top: 4px;
                right: 30px;
                width: 120px;

                .k-dropdown {
                    width: 100%;

                    .k-input {
                        width: 100% !important;
                    }
                }
            }
        }

        .k-window-content {
            padding: 10px;

            .body {
                max-height: 500px;
				padding: 3px;
                overflow-y: auto;

                > .c-image {
                    float: left;
                    margin: 0 10px 10px 0;
                }

                > span {
                    display: block;
                    margin: 0 0 3px 0;
                }

                > .c-data {
                    display: block;
                    background: @widget-background-color;
                    max-height: 1000px;
                    min-height: 50px;
                    border: 1px solid @widget-border-color;
                    padding: 3px;
                    overflow: auto;
                    line-height: 15px;
                    font-size: 1em;
                    font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
                    border-radius: 0;
                }

                > ul.c-textlist {
                    display: block;
                    margin-top: 1em;
                    float: left;
                    line-height: 1.5em;
                    padding-left: 1em;

                    > li {
                        list-style-position: inside;
                    }
                }
				
                > .c-stack {
                    display: block;
                    background: @widget-background-color;
                    max-height: 1000px;
                    min-height: 50px;
                    border: 1px solid @widget-border-color;
                    padding: 3px;
                    overflow: auto;
                    line-height: 15px;
                    font-size: 1em;
                    font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
                    white-space: nowrap;
                    border-radius: 0;
                }
            }

            .footer {
                text-align: right;
                padding: 10px 0 0 0;

                > .c-button {
                    margin: 0 0 0 5px;
                }
            }
        }
    }

    &.c-style-searchlist {
        padding: 0 !important;
        border: 0;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
    }
}
