.c-associationmultidropdown {
    display: flex;

    > .c-multiselectdropdownlist {
		max-width: 100%;
        flex: 0 1 100%;

        .k-dropdown {
            width: 100%;
        }
    }

    > .c-link {
        flex: 0 0 auto;
    }

    &.c-loader {
        opacity: 0.3;

        .overlay {
            opacity: 0;
        }

        .loader {
            display: none;
        }
    }
}