.c-associationtreeview {
    display: flex;

    > .c-dropdowntreeview {
        flex: 0 1 100%;
        max-width: 100%;
    }

    > .c-link {
        flex: 0 0 auto;
    }
	
	.k-group{
		background-color: #fff;
	}

    &.c-state-disabled {
        .k-dropdown {
            > .k-dropdown-wrap {
                background: #f1f1f1 !important;
            }
        }
    }

    &.c-state-invalid {
        .k-dropdown {
            > .k-dropdown-wrap {
                border-color: #DC000C;
            }
        }
    }

    &.c-loader {
        > .c-link,
        > .c-dropdowntreeview > :not(.k-treeview) {
            opacity: 0.3;
        }

        .k-treeview {
            opacity: 1;

            > ul::after {
                content: ' ';
                .overlayStyle();
            }
        }

        .overlay {
            opacity: 0;
        }

        .loader {
            display: none;
        }


    }
}
