.c-associationgrid {
    border: 1px solid @widget-border-color !important;

    .c-toolbar {
        border: 0 !important;
		background-color:rgba(0,0,0,0.05);
    }
	
    .c-filter {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 78px;
		
		.sort-and-filter-container {
			.filter-area {
				width: 100% !important;
			}
		}
    }

    .c-grid {
        border: 0;
        border-top: 1px solid #c9c9c9 !important;

		.k-grid-content{
			min-height: 120px;
		}
		
		.k-pager-sizes,.k-pager-info{
			margin-bottom: -1px;
		}
    }

    &.c-state-invalid {
        border: 1px solid #DC000C !important;
    }
}
