.c-associationsingledropdown {
    display: flex;

    > .c-dropdownlist {
        flex: 1 0 auto;
    }

    > .c-link {
        flex: 0 0 auto;
    }

    &.c-loader {
        opacity: 0.3;

        .overlay {
            opacity: 0;
        }

        .loader {
            display: none;
        }
    }
}
