.c-associationsingleautocompletebox {
    display: flex;

    > .c-multiselectautocomplete {
        flex: 1 1 auto;
		overflow: hidden;

        &.c-state-complete {
			overflow: hidden;
            
			.k-button {
                width: calc(~'100% - 2px');
            }
			
			.k-input {
				position: absolute;
                top: -3333px;
				left: -3333px;
            }
        }
		
		>.k-multiselect{
			
			>.k-multiselect-wrap{				
				.k-button{
					width: auto;
					background: none;
					border: 0px;
					padding: 0.2em 0.3em;
					padding-right: 0px;
					max-width: 100%;
					
					>span:first-child{
						margin-top: 0.1em;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}
					
					.k-icon {
						display: none;
						margin-top: 0.2em !important;
						margin-left: 0.3em;
					}
				}
				
				.k-input {
					width: 100% !important;
				}
				
				>.k-icon{
					display: none;
				}
			}
		}
    }

    > .c-link {
        flex: 0 0 auto;
    }

    &.c-state-disabled {
        .k-multiselect {
            > .k-multiselect-wrap {
                background: #f1f1f1 !important;
            }
        }
    }

    &.c-state-invalid {
        .k-multiselect {
            > .k-multiselect-wrap {
                border-color: #DC000C;
            }
        }
    }

    &.c-loader {
        opacity: 0.3;

        .overlay {
            opacity: 0;
        }

        .loader {
            display: none;
        }
    }
}
