.c-associationmultiautocompletebox {
    display: flex;

    > .c-multiselectautocomplete {
        flex: 1 1 auto;
		overflow: hidden;
		
		>.k-multiselect{
			>.k-multiselect-wrap{
				>.k-icon{
					display: none;
				}
				
				.k-input {
					width: 100% !important;
				}
			}
		}
    }

    > .c-link {
        flex: 0 0 auto;
    }

    &.c-state-disabled {
        .k-multiselect {
            > .k-multiselect-wrap {
                background: #f1f1f1 !important;
            }
        }
    }

    &.c-state-invalid {
        .k-multiselect {
            > .k-multiselect-wrap {
                border-color: #DC000C;
            }
        }
    }

    &.c-loader {
        opacity: 0.3;

        .overlay {
            opacity: 0;
        }

        .loader {
            display: none;
        }
    }
}