.c-calendar {
    width: 100%;
    position: relative;

    > .k-calendar {
        width: 100%;

        .k-content {
            border-spacing: 1px;
            border-collapse: separate;

            th {
                padding: 6px;
                text-align: center !important;
            }

            td {
                text-align: center !important;

                &.k-state-selected, &.k-state-hover {
                    > .k-link {
                        border: 1px solid #6dbdd1;
                    }
                }

                > .k-link {
                    border: 1px solid transparent;
                }
            }
        }
    }

    > .c-link {
        position: absolute;
        z-index: 1;
        bottom: 5px;
        right: 0;
    }

    > .invalid-corner {
        right: -1px;
    }

    > .invalid-text {
        top: 0px;
        margin-left: 1px;
    }

    &.c-state-disabled {
        > .k-calendar {
            background: #f1f1f1;

            > .k-header, > .k-content, > .k-footer, .k-nav-today {
                background: #f1f1f1;
            }
        }
    }

    &.c-state-invalid {
        > .k-calendar {
            border-color: #DC000C;
        }
    }
}
