.c-checkbox {
    position: relative;
    min-height: 13px;
    float: left;
    white-space: nowrap;

    input {
        display: none;
    }
	
	/* deselect */
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;	
	::selection {
		background: transparent;
		color: inherit;
	}
	::-moz-selection {
		background: transparent;
		color: inherit;
	}

    > .element {
        display: block;
        float: left;
        width: 20px;
        height: 20px;
        background: @widget-background-color;
        border: 1px solid @widget-border-color;
        cursor: pointer;
        font-size: 1.2em;
        line-height: 1.3em;
        text-align: center;
        margin: 3px 0 3px 0;
		
		&:focus {
			.box-shadow(0px 0px 3px #B3B3B3) !important;
		}
    }

    > .c-label {
        margin: 6px 0 0 6px !important;
        padding: 0;
        font-weight: normal;
    }

    > .invalid-corner {
        top: 4px;
    }

    &.c-state-disabled {
        > .element {
            cursor: default;
            background: @disabled-background-color !important;
            border-color: @disabled-border-color !important;
        }
    }

    &.c-state-invalid {
        > .element {
            border-color: #DC000C;
        }
    }
	

	&.c-gridCell{
		margin-left:auto;
		margin-right:auto;
		float:none;
		width:18px;
	}
}
