.c-chips {
	background: transparent;
	color: #777777;
	
	&.c-state-invalid {
		input {
			border-color: #DC000C;
		}
    }
	
    .chips {
		max-height: 145px;
		overflow: auto;
		
		.chip {
			display: block;
			background: rgba(0, 0, 0, 0.05);
			border: 1px solid @widget-border-color;
			padding: 4px;
			margin-top: 2px;
			
			.text {
			
			}
			
			.remove {
				display: inline-block;
				cursor: pointer;
				padding: 0px 5px;
				font-weight: bold;
			}
		}
	}
	
	.input {
		width: 100%;
		background: @widget-background-color;
		border: 1px solid @widget-border-color;
		padding: 4px 2px;
	}
}