.c-colorbar {
    position: relative;
    padding: 1px 0 0 0;
    width: 100%;
    height: 100%;

    > .bar {
        width: 100%;
        height: calc(~"100% - 1px");
    }

    > .c-label {
        position: absolute;
        top: 50%;
        left: 7px;
        margin-top: -8px;
    }
}
