.c-columnlayout {
    display: block;
    margin-top: 2px;

	.c-columnlayoutitem{
	
		&:nth-child(2){
			margin-left: 16px;
		}
		
		&.c-colspan-one{
			max-width: 700px;
		}
		
		&.c-colspan-two{
			max-width: 1416px;
		}		
		
		&.c-colspan-fill {
			max-width: 100%;
		}
	}
}
