.c-columnlayoutitem {
    display: flex;
    align-items: center;
    max-width: 100%;

    &:first-child {
        .c-caption {
            padding-left: 0 !important;
        }
    }

    &.c-labelposition-none {
        display: block;

        > .c-caption {
            display: none;
            padding-left: 16px;
        }

        > .c-control {
            display: block;
            min-width: 275px;
        }
    }

    &.c-labelposition-left {
        display: flex;
        align-items: center;

        > .c-caption {
            flex: 0 0 200px;
            padding-left: 16px;
            overflow: hidden;
			
			label{
				font-weight: normal;
				margin-bottom: 0px;
			}
        }

        > .c-control {
            width: 0px;
            flex: 1 1 auto;
        }
    }

    &.c-labelposition-top {
        display: block;

        > .c-caption {
            display: block;
            overflow: hidden;
            padding: 6px 0 6px 16px;
			
			label {
				margin-bottom: 0px;
			}
        }

        > .c-control {
            display: block;
            min-width: 275px;
        }
    }

    > .c-caption {
        padding-left: 16px;

        &.c-alignment-left {
            text-align: left;
        }

        &.c-alignment-center {
            text-align: center;
        }

        &.c-alignment-right {
            text-align: right;
        }
    }

    > .c-control {
        word-wrap: break-word;
        width: 100%;
    }
}
