.c-coreframedropdowntreeview {
    border-radius: @main-border-radius;
    width: 100%;

    .c-dropdowntreeview-wrapper {
        position: relative;
        min-height: 25.5px;
        border: 1px solid #b0cfe0;
        border-radius: @main-border-radius;

        .area {
            padding-left: 4px;
            line-height: 2em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
            max-width: 95%;
            height: 100%;
            min-height: 25.5px;
        }

        .icon {
            font: 16px/1 'WebComponentsIconsFixed';
            color: black;
            position: absolute;
            height: 100%;
            width: 5%;
            right: 0px;
            top: 0px;
            text-align: center;
            padding-top: 1px;
        }

        .icon:before {
            content: "\e006";
            vertical-align: middle;
        }

        .popup {
            overflow-y: scroll;
            overflow-x: hidden;
            min-height: 4em;
            max-height: 34em;
            background-color: white;
            border: 1px solid #b0cfe0;
            width: calc(~'100% + 2px');
            left: -1px;
            position: absolute;
            z-index: 9999;

            &.focused {
                box-shadow: 0px 0px 3px #b3b3b3;
            }

            > div:first-child {
                width: 100%;

                > table:first-child {
                    display: block;

                    .fancytree-container {
                        border: none;
                        background-color: white;
                        overflow-y: hidden;
                        box-shadow: none !important;

                        :not(.fancytree-container) > li {
                            left: -16px;
                            position: relative;
                            width: calc(~'100% + 16px');
                        }

                        .fancytree-node {
                            height: 23px;
                            padding-top: 2px;
                            padding-bottom: 2px;
                            display: flex;
                            align-items: center;
                            width: 100%;

                            .fancytree-expander {
                                background: none;
                                min-width: 16px;
                            }

                            &[data-isexpanded="false"] > .fancytree-expander:before {
                                content: "\e005";
                                font: 17px/1 'WebComponentsIconsFixed';
                            }

                            &[data-isexpanded="true"] > .fancytree-expander:before {
                                content: "\e001";
                                font: 19px/1 'WebComponentsIconsFixed';
                            }

                            &.fancytree-active {
                                background-color: #f0f0f0;
                            }

                            &:hover {
                                background-color: #e0e0e0;
                            }

                            .c-checkbox {
                                float: none;
                                margin-left: 5px;

                                div.element {
                                    margin-top: 0px;
                                    margin-bottom: 0px;
                                }
                            }

                            .fancytree-title {
                                padding-left: 5px !important;
                                margin-left: 0px;
                            }
                        }
                    }
                }
            }
        }
    }

    &.c-state-invalid {
        .c-dropdowntreeview-wrapper {
            border-color: #dc000c;
        }
    }

    .error_label {
        margin-top: 1px;
        padding: 1px;
    }
}
