.c-datepicker {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    > .k-datepicker {
        flex: 1 0 auto;

        .k-picker-wrap {
            padding-right: 0;

            .k-select {
                display: none;
            }
			
			&.k-state-focused{
				.k-input{
					.box-shadow(0px 0px 3px #B3B3B3) !important;
				}
			}

            .k-input {
                &::-webkit-input-placeholder {
                    color: #888888;
                }

                &:-moz-placeholder {
                    color: #888888;
                    opacity: 1;
                }

                &::-moz-placeholder {
                    color: #888888;
                    opacity: 1;
                }

                &:-ms-input-placeholder {
                    color: #888888;
                }
            }
        }
    }

    > .c-link {
        flex: 0 0 auto;
    }

    &.c-state-disabled {
        .k-input {
            background: #f9f9f9;
        }
    }

    &.c-state-invalid {
        .k-picker-wrap {
            border-color: #DC000C;
        }
    }
}
