.c-dropdownlist {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.c-style-default {
        > .k-dropdown {
            width: 100%;

            > .k-dropdown-wrap {
                background-color: @widget-background-color !important;
                background-image: none;
                border: 1px solid @widget-border-color;
                padding-bottom: 0;
				
				&.k-state-focused {
					.box-shadow(0px 0px 3px #B3B3B3) !important;
				}

                .k-input {
                    padding-top: 2px;
                    padding-bottom: 2px;

                    img {
                        position: relative;
                        margin: -2px 5px 0 0;
                    }
                }

                .k-select {
                    .k-icon {
                    }
                }
            }
        }
    }

    &.c-style-principal {
        > .k-dropdown {
            background: none;
            padding-left: 0;

            > .k-dropdown-wrap {
                background: none;
                border: 0;
                padding-left: 0;
                margin-left: 0;

                &.k-state-hover,
                &.k-state-active,
                &.k-statefocused {
                    background: none;
                    border: 0;
					box-shadow:none;
					padding-bottom:0px;
                }

                .k-input {
                    color: #FFFFFF;
                    padding-left: 0;
                    padding-top: 2px;
                    padding-bottom: 2px;
                }

                .k-select {
                    .k-icon {
                        background-image: url(/$$_IMAGES_$$/white_arrow_down.png);
                        background-size: initial;
                        background-position:1px 4px;
						background-repeat: no-repeat;
						
						&:before{
							content: "";
						}
                    }
                }
            }
        }
    }

    &.c-style-toolbar {
        > .k-dropdown {
            background: none !important;
            border: 0 !important;
            width: auto;

            > .k-dropdown-wrap {
                background: none !important;
                border: 0 !important;
                padding-right: 18px;
                box-shadow: none !important;

                .k-input {
                    padding: 0;
                    width: 16px;
                    height: 16px;
                    line-height: 16px;
                    text-indent: 0;

                    img {
                        margin: 0;
                    }
                }

                .k-select {
                    width: 16px;
                    height: 16px;
                    line-height: 16px;
                    min-height: 16px;
                }
            }
        }
    }

    &.c-state-disabled {
        &.c-style-principal {
            .k-input {
                color: #FFFFFF !important;
            }
        }

        &:not(.c-style-principal) {
            > .k-dropdown {
                > .k-dropdown-wrap {
                    background: @disabled-background-color !important;
                    border-color: @disabled-border-color !important;
                }
            }
        }
    }

    &.c-state-invalid {
        > .k-dropdown {
            > .k-dropdown-wrap {
                border-color: #DC000C;
            }
        }
    }
}

.c-dropdownlist-container {
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.15);

    .k-list-optionlabel {
        padding: 3px 5px 3px 5px;
        border: 1px solid transparent;
        color: #000000;
        background: none;
        cursor: pointer;
        height: 18px;
    }

    &.c-style-principal {
        background-color: #ffffff !important;
        border: 1px solid #f7f7f7;
        padding: 1px;

        .k-list {
            .k-item {
                color: #000000;
                border: 1px solid transparent;
                background: none;

                &.k-state-hover {
                    border: 1px solid #f7f7f7;
                    background: #f7f7f7;
                    padding: 1px 5px 1px 5px;
                }

                &.k-state-selected {
                    border: 1px solid #f0f0f0;
                    background: #f0f0f0;
                    padding: 1px 5px 1px 5px;
                }
            }
        }
    }

    &.c-style-autowidth {
        width: auto !important;

        .k-list {
            width: auto !important;

            .k-item {
                padding-right: 22px;
                white-space: nowrap;

                &.k-state-hover, &.k-state-selected {
                    padding-right: 21px;
                }
            }
        }
    }

    &.c-style-toolbar {
        margin: 6px 0 0 -6px !important;

        .k-list {
            width: auto !important;

            .k-item {
                white-space: nowrap;
				
				&.k-state-hover,
				&.k-state-selected {
                    background: #f0f0f0;
					
					span{
						text-decoration: underline;
					}
                }

                img {
                    margin-right: 3px;
                }

                span {
                    white-space: nowrap;
                }
            }
        }
    }
}
