.c-dropdowntreeviewitem {
    margin: 1px 0 0 0;
    padding: 0 !important;

    .k-icon {
        display: block;
        position: absolute;
        margin: 3px 0 0 0;
    }

    .k-checkbox {
        display: block;
        float: left;
        margin: 1px 5px 0 22px;
    }

    .k-in {
        border: none;
        margin: 0;
        padding: 0;

        .c-link {
            display: block;
            padding: 4px;

            > .c-image {
                margin: -3px 3px 0 0;
                width: 16px !important;
                height: 16px !important;
            }
        }
		
		&.k-state-focused{
			.box-shadow(none) !important;
		}
    }

    .k-group {
        padding: 0 0 0 22px !important;
    }

    &.c-state-disabled {
        > .k-bot > .k-checkbox {
            visibility: hidden;
        }
    }
}
