.c-dummygroupbox {
    display: block;
    margin: 6px 0 6px 0;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);

    > .c-label {
        margin: 1px;
        padding: 6px;
        font-size: 1.2em;
        font-weight: bold;
        color: #434343;
    }

    > .c-content {
        display: block;
        padding: 6px;
    }
}