.c-embeddedtypegroupbox {
    background: none;
    border: 0;

    > .c-label {
        margin: 5px 0 2px 0;
        padding: 0;
        font-size: 1.2em;
    }

    > .c-content {
        border-top: 1px solid @widget-border-color;
        border-bottom: 1px solid @widget-border-color;
        margin: 0 0 2px 0;
    }
}