.c-expandergroupbox {
    display: block;
    margin: 10px 0 10px 0;
    padding: 6px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);

    > .c-link {
        margin: 1px;
        padding: 6px;
        font-size: 1.2em;
        font-weight: bold;
        color: #000000;
        cursor: pointer;
		display: block;

        .c-image {
            float: right;
            margin: 3px 3px 0 0;
        }
    }

    > .c-content {
        display: block;
        padding: 6px;
    }
}