.c-filterelement {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 0 2px 0;
	height: 27px;

    > .columns {
        flex: 0 1 196px;
        margin: 0 2px 0 2px;
		height: 27px;

        .c-dropdownlist {
            width: 100%;
        }
    }

    > .operators {
        flex: 0 1 146px;
        margin: 0 2px 0 2px;
		height: 27px;
        .c-dropdownlist {
            width: 100%;
        }
    }

    > .control {
        flex: 1 1 auto;
        margin: 0 2px 0 2px;
		height: 27px;
		
		.c-checkbox {
			> div.element {
				height: 24px;
				width: 24px;
				margin: 0;
				border-radius: 2px;
				line-height: 1.7em;
			}
		}
    }

    > .connectors {
        flex: 0 1 96px;
        margin: 0 2px 0 2px;
		height: 27px;		

        .c-dropdownlist {
            width: 100%;
        }
    }	
}
