.filter-container {
	.chips-area {
		width: calc(~"100% - 200px");
		margin-bottom: 2px;
		float: left;
		
		> div {
			display: flex;
			
			> input.input {
				width: 20%;
				min-width: 20%;
				border-right: 1px solid black;
			}
			
			.chips {
				margin-left: 1px;
				display: flex;
				flex-wrap: wrap;
				
				.chip {
					cursor: pointer;
					max-width: 120px;
					margin-left: 2px;
					display: inline-flex;
					border-bottom: 3px solid @disabled-border-color;
					margin-top: 2px;
					margin-bottom: 0;
					padding: 5px;
					
					&.active-chip {
						border-bottom: 3px solid #1D4B78;
					}
					
					.text {
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						display: inline-block;
					}
				}
			}
		}
	}
					
	.sort-and-filter-container {
		
		.filter-area {
			width: 70%;
			float: left;
		}
		
		.sort-area {
			width: calc(~"30% - 5px");
			padding-left: 5px;
			float: left;
			
			.c-filtersortelement {
				display: flex;
				justify-content: flex-end;
				padding-right: 2px;
				padding-top: 2px;
				padding-bottom: 2px;
				height: 27px;
				
				.sort_index_label {
					max-width: 40%;
					line-height: 26px;
					height: 28px;
					padding-left: 5px;
					padding-right: 5px;
					
					.c-label {
						width: 100%;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						display: inline-block;
					}									
				}
			}
			
			.sort_index_label {
				
			}
			
			.sort_column {
				width: 40%;
				flex: 0 1 196px;
				padding-right: 2px;
			}
			
			.sort_direction {
				width: 10%;
				width: 100px;
				flex: 0 1 100px;
			}
		}
	}
	
	.save-filter-area {
		width: 194px;
		height: 30px !important;
		padding-right: 2px;
		float: left;
		background-color: @widget-border-color;
		
		.save-filter-textbox {
			width: 165px;
			border: 2px solid @widget-border-color;
			display: inline-block;
			
			> input {
				width: 100%;
				border: none;
			}
		}
		
		.save-filter-link {
			width: 16px;
			height: 16px;
			background-color: @widget-border-color;
			display: inline-block;
			
			> img {
				height: 16px;
				width: 16px;
				padding-left: 4px;
				padding-right: 4px;
			}
		}
	}					
}