.c-flowlayout {
    &.c-alignment-left {
        float: left;

        > .c-flowlayoutitem {
            margin-right: 10px;
        }
    }

    &.c-alignment-right {
        float: right;

        > .c-flowlayoutitem {
            margin-left: 10px;
        }
    }
}
