.c-grid {
    height: 100%;
    background: rgba(0, 0, 0, 0);

    .k-grid-header {
        border: 0;
        background: rgba(0, 0, 0, 0.05);

        .k-grid-header-wrap {
            border: rgba(0, 0, 0, 0);
            background: rgba(0, 0, 0, 0);

            table {
                max-width: none;

                tr {
                    th {
                        background: rgba(0, 0, 0, 0);
                        border-color: rgba(0, 0, 0, 0.1);
                        padding: 6px;
                        color: rgba(0, 0, 0, 1);

                        &:hover {
                            background: rgba(0, 0, 0, 0.1);
                        }

                        .k-link {
                            color: rgba(0, 0, 0, 1);
                        }
                    }
                }
            }
        }
    }

    .k-grid-content {
        height: calc(~'100% - 65px') !important;

        table {
            max-width: none;

            tr {
                cursor: pointer;

                &.k-alt {
                    background: rgba(0, 0, 0, 0.02);
                }

                &:hover,
                &.k-state-selected {
                    background: rgba(0, 0, 0, 0.1);
                }

                td {
                    padding: 6px;
                    border-color: rgba(0, 0, 0, 0.1);
                    color: rgba(0, 0, 0, 1);
                    white-space: nowrap;
                    overflow: hidden;
					
					&[data-column="EMPTY"] {
						padding: 0;
						min-width: 0;
					}
                }
            }
        }
    }

    .k-pager-wrap {
        background: rgba(0, 0, 0, 0.05);
        text-align: right;

        > .k-pager-info{
            float:left;
            padding: 0px 5px;
            padding-top: 2px;
        }

        > .k-pager-nav {
            float: none;
            background: rgba(0, 0, 0, 0);
            border: 0;
        }

        > .k-pager-numbers {
            float: none;

            > li {
                height: auto;
                line-height: normal;
                margin-top: 2px;

                &.k-current-page {
                    display: none;
                }

                > .k-state-selected {
                    background: rgba(255, 255, 255, 0.1);
                    border: rgba(255, 255, 255, 0.3);
                    border-radius: 0;
                    color: rgba(0, 0, 0, 1);
					font-weight: bold;
                    height: 20px;
                    width: 15px;
                    padding-top: 5px;
                }

                > .k-link {
                    background: rgba(255, 255, 255, 0);
                    border: rgba(255, 255, 255, 0);
                    border-radius: 0;
                    color: rgba(0, 0, 0, 1);
                    height: 20px;
                    width: 15px;
                    padding-top: 0;
                }
            }
        }

        .k-pager-sizes {
            float: none;
            padding-right: 0;

            .k-dropdown-wrap {
                .k-input {
                    padding: 0;
                }
            }
        }
    }

    .k-loading-image, .k-loading-color {
        display: none;
    }

    &.c-style-nopager {
        .k-grid-content {
            .k-grid-content-expander {
                display: none;
            }
        }

        .k-pager-wrap {
            display: none;
        }
    }

    &.c-state-disabled {
        .k-grid-content {
            background: #f9f9f9;
        }
    }
}