.c-image {
	display: block;
	
	&.c-style-left {
        float: left;
    }

    &.c-style-right {
        float: right;
        margin: 2px 2px 0 0;
    }
	
	> .img-wrapper, > .svg-wrapper {
		&, svg {
			width: 100%;
			height: 100%;
		}
	}
}
