.imageLink {
    &.default {
    }

    &.left {
        float: left;
    }

    &.right {
        float: right;
    }

    &.searchTokenDropDownOverlay {
        padding: 2px;
        position: absolute;
        top: 64px;
        left: 460px;
        z-index: 999;
        cursor: pointer;

        a {
            padding: 3px 0 3px 1px;

            img {
                float: none !important;
                margin: 2px !important;
            }
        }
    }
}
