.c-label {
    word-wrap: break-word;
    
    &.c-style-headline {
        font-weight: bold;
        font-size: 16px;
    }

    &.c-style-green {
        color: green;
        font-weight: bold;
    }

    &.c-style-red {
        color: red;
        font-weight: bold;
    }

    &.c-style-info {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -10px 0 0 -160px;
        font-size: 1.3em;
    }

    &.c-style-stack {
        display: block;
        background: #efefef;
        max-height: 1000px;
        min-height: 100px;
        border: 1px solid #efefef;
        padding: 3px;
        overflow: auto;
        line-height: 15px;
        font-size: 1em;
        font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
        white-space: nowrap;
    }

    &.c-style-bold {
        font-weight: bold;
    }

    &.c-state-invalid {
        color: #DC000C;
		display: block;
		border: 1px solid #DC000C;
    }
}
