.c-link {
    cursor: pointer;
    text-decoration: none !important;

    @media print {
        display: none;
    }

    &.c-state-disabled {
        cursor: default !important;
    }

    &:focus {
        outline: 1px solid #e2e2e3 !important;
        outline-offset: 1px;
    }

    &.c-style-toolbar {
        min-width: 15px;
        border-radius: 4px;
        text-align: center;
        flex: 0 0 auto;
        margin: 0 2px 0 2px;
        padding: 5px;
        list-style: none;

        &:hover,
        &:focus,
        &.c-state-active {
			outline: none !important;
            background-color: #E2E2E3;
        }

        &.c-state-disabled {
            opacity: 0.7;
            border-color: rgba(0, 0, 0, 0);
            background: rgba(0, 0, 0, 0);

            &:hover {
                background-color: transparent !important;
            }
        }

        > .c-image {
            flex: 0 0 auto;
            width: 16px;
            height: 16px;
            margin-left: auto;
            margin-right: auto;
        }

        > .c-label {
            flex: 0 0 auto;
            color: rgba(0, 0, 0, 0.8);
            margin-left: 4px;
        }
    }
}
