.c-menu {
    &.c-style-applicationmenu {
        > .c-menuitem {
            display: block;
            float: left;
            border: 0;
            margin: 0 5px 0 0;

            &:hover, &.k-state-border-down {
                background: #eeeeee;
            }

            > .k-link {
                display: block;
                float: left;
                padding: 0 8px 0 8px;

                &.k-state-active {
                    background: #eeeeee;
                }

                > .c-link {
                    display: block;
                    float: left;

                    > .c-image {
                        float: left;
                        width: 16px !important;
                        height: 16px !important;
                        margin: 8px 4px 0 0;
                    }

                    > .c-label {
                        color: #000000;
                        display: block;
                        float: left;
                        padding: 8px 2px 7px 2px;
                    }
                }

                > .k-icon {
                    display: block;
                    float: left;
                    margin: 7px 0 0 0;
                }
            }

            .k-group {
                border-top: 0;
                background: #ffffff;
                border-color: #ffffff;
                box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.15);

                .c-menuitem {
                    display: block;
                    border: 0;
                    padding: 1px;
                    background: none;

                    .k-link {
                        padding: 2px 25px 2px 2px;
                        background: none;
                        border: 1px solid transparent;

                        &:hover {
                            background: #eeeeee;
                            border: 1px solid #eeeeee;
                        }

                        .c-link {
                            display: flex;

                            .c-image {
                                width: 16px !important;
                                height: 16px !important;
                                margin: 2px;
                            }

                            .c-label {
                                color: #000000;
                                padding: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}
