.c-mlstringrichinputbox {
    position: relative;
    display: flex;

    > .c-richtextbox {
        flex: 1 1 auto;
    }
	
	&:not(.c-state-each-language-equal) > .c-richtextbox {
        > .invalid-corner, .invalid-text {
            top: 33px;
        }
    }

    &.c-state-each-language-equal {
        > .invalid-corner, .invalid-text {
            display: none;
        }
    }

    > .c-link {
        position: absolute;
        top: 4px;
        right: 32px;

        &:nth-child(2) {
            right: 4px;
        }
    }
	
    &.c-state-invalid > .c-richtextbox {
        border-color: #DC000C;
    }
}

.c-mlstringrichinputboxpopup {

    > .c-checkbox {
        float: none !important;
    }

    .mlstring-inputs {
        margin-top: 0.8em;
        padding: 0.6em 1em 0.8em 1em;
        border: 1px solid #CCCCCC;

        border-radius: 3px;
    }
	
    .mlstring-container {
        display: flex;
        align-items: center;
        margin-top: 5px;

        > .c-label {
            flex: 0 0 150px;
        }

        > .c-richtextbox {
            flex: 1 1 auto;
        }

        > .c-image {
            flex: 0 0 auto;
            margin-left: 10px;
        }
    }
}
