.c-mlstringbox {
    display: flex;

    > .c-textbox {
        flex: 1 1 auto;
    }

    > .c-dropdownlist {
        width: 45px !important;
        flex: 0 0 auto;
        margin: 0 0 0 2px;

        .k-input {
            padding-bottom: 1px !important;
        }
    }
}
