.c-mlstringpopupbox {
    display: flex;

    > .c-multilinetextbox {
        flex: 1 1 auto;
    }

    > .c-link {
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        margin: 0 0 0 2px;
    }
}

.c-mlstringpopupboxpopup {
    > .c-checkbox {
        float: none !important;
    }

    .mlstring-inputs {
        margin-top: 0.8em;
        padding: 0.6em 1em 0.8em 1em;
        border: 1px solid #CCCCCC;

        border-radius: 3px;
    }
	
    .mlstring-container {
        display: flex;
        align-items: center;
        margin-top: 5px;

        > .c-label {
            flex: 0 0 150px;
        }

        > .c-multilinetextbox {
            flex: 1 1 auto;
        }

        > .c-image {
            flex: 0 0 auto;
            margin-left: 10px;
        }
    }
}
