.c-multiselectautocomplete {
    cursor: pointer;

    .k-multiselect {
        .k-multiselect-wrap {
            .k-button {
                text-align: left;
                background: rgba(0, 0, 0, 0.1);
                
                > .k-select {
                    > .k-icon {
                        margin-top: -3px;
                    }
                }
            }

            .k-input {
                background: none;
            }
        }
    }

    &.c-state-disabled {
        .k-multiselect {
            .k-multiselect-wrap {
                background: #f9f9f9 !important;

                .k-button {
                    color: #000000 !important;
                    padding-right: 8px;

                    .k-select {
                        display: none !important;
                    }
                }
            }
        }
    }

    &.c-state-invalid {
        .k-multiselect {
            border-color: #DC000C;
        }
    }
}
