.c-multiselectoption {
    padding: 5px;

    &:hover {
        background-color: #f0f0f0;
        background-image: none, linear-gradient(to bottom, #f0f0f0 0%, #f0f0f0 100%);
        padding: 4px;
        border: 1px solid #f0f0f0;
    }

    &.c-state-selected {
        background: #EEEEF0;
        padding: 4px;
        border: 1px solid #B3C1CE;
    }
}
