.c-multiselectdropdownlist {
    &.c-state-disabled {
        > .k-dropdown {
            background: none;

            > .k-dropdown-wrap {
                background: #f9f9f9 !important;
            }
        }
    }

    &.c-state-disabled {
        > .k-dropdown {
            > .k-dropdown-wrap {
                background: #f1f1f1 !important;
            }
        }
    }

    &.c-state-invalid {
        > .k-dropdown {
            background: none;

            > .k-dropdown-wrap {
                border-color: #DC000C;
            }
        }
    }
}

.c-multiselectdropdownlist-container {
    margin-top: 1px;

    .k-list {
        .k-item {
            label {
                display: block;
                margin: 0;
                padding: 0;
                font-weight: normal;
                line-height: 2.1em;

                input {
                    float: left;
                    margin-top: 5px;
                }
            }
        }
    }
}