.c-multiskillselector {
    .wrapper {
        .header {
            display: flex;
            padding: 4px;
            margin: 5px 0 1px 0;
            border: 1px solid #D3D3D3;
            background: #ECECEC;
            align-items: center;

            > .title {
                flex: 1 0 auto;
                font-weight: bold;
            }

            > .c-button {
                flex: 0 0 25px;
                padding: 3px;
            }
        }

        .skills {
            > .skill {
                display: flex;
                align-items: center;
                min-height: 30px;

                > .title {
                    flex: 0 0 250px;
                    display: flex;
                    align-items: center;
                    padding: 3px;
                    margin: 0 0 1px 0;
                    background: #DCDCDC;
                    border: 1px solid #D3D3D3;

                    > span {
                        flex: 0 0 225px;
                    }

                    > .c-button {
                        flex: 0 0 25px;
                        padding: 3px;
                    }
                }

                > .selector {
                    flex: 1 1 auto;
                    padding: 0 0 0 10px;

                    > .k-widget {
                        width: calc(~"100% - 10px");

                        .k-slider-track {
                            background: #DCDCDC;
                        }

                        .k-slider-selection {
                            background: linear-gradient(to right, #fb8772 0%,#fcf369 50%,#7fd77c 100%);
                        }
                    }
                }

                > .flags {
                    flex: 0 0 100px;

                    > .c-checkbox {
                    }
                }
            }
        }
    }
}
