.c-numerictextbox {
    display: flex;
    flex-direction: row;
    align-items: center;

    > .k-numerictextbox {
        flex: 1 0 auto;

        .k-input {
            padding: 2px 0 2px 0;
        }
		
		.k-numeric-wrap.k-state-focused{
			.k-input{
				.box-shadow(0px 0px 3px #B3B3B3) !important;
			}
		}
    }

    > .c-link {
        flex: 0 0 auto;
    }

    > .c-label {
        flex: 0 0 auto;
        margin: 0 0 0 5px;
    }

    &.c-state-disabled {
        .k-numeric-wrap {
            padding: 0;

            .k-input {
            background: @disabled-background-color;
            border-color: @disabled-border-color;
            }

            .k-select {
                display: none;
            }
        }
    }

    &.c-state-invalid {
        .k-numeric-wrap {
            border-color: #DC000C;
        }
    }
}
