.c-optionslandschaft {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    padding: 20px;
    background: rgba(255,255, 255, .70);
    height: calc(~'100% - 38px');
    width: 100%;
	overflow-x: auto;
}


