.c-overlay {
    background: #ffffff !important;
    padding: 0;
    text-align: left;
    font-weight: normal;
    background: #F5F5F5;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.4);
	left: 50%;
	
	&:not(.k-animation-container .c-overlay)
	{
		width: 50%;
	}
	

    .k-tooltip-button {
        display: none;
    }

    .k-tooltip-content {
        padding-right: 10px;

        table {
            border-collapse: separate;
            padding: 5px;
            padding-right: 0px;

            width: 100%;

            tr {

                td:first-child {
                    width: 25%;
                }

                td {
                    padding: 5px;

                    .c-button {
                        margin: 0 5px 0 0;
                    }
                }
            }
        }
    }
}

.k-animation-container .c-overlay{
	left: calc(~"50% - 10px");
	
	.k-tooltip-content {
		padding-right: 0;
	}
}
