.c-panelbar {
    display: flex;
    flex-direction: column;
    border: 0;
    background: none !important;

    li[role="treeitem"] {
        cursor: pointer;
    }
}

.panelbar-searchfield {
	position: relative;
	
    > input {
        border-right: 0;
        border-radius: 0;
        border-left: 0;
        border-top: 0;
        padding-left: 11px;
        width: 100% !important;
    }

	.searchfield-toolbar {
		position: absolute;
		right: 2px;
		top: 6px;
		display: flex;
		flex-direction: row;
	
		.reset-searchfield {
			width: 17px;
			height: 19px;
			z-index: 2;
			cursor: pointer;
		}
		
		.collapse-all-nodes {
			width: 17px;
			height: 19px;
			z-index: 2;
			cursor: pointer;
		}
	}
}

.reset-searchfield:before {
    content: "\e11b";
    font: 17px/1 'WebComponentsIconsFixed';
    z-index: 1;
}

.collapse-all-nodes:before {
    content: "\e008";
    font: 19px/1 'WebComponentsIconsFixed';
    z-index: 1;
}
