.c-panelbaritem {
    height: 100%;
    background: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);

    > .c-label {
        display: block;
        padding: 10px;
        font-size: 1.2em;
        font-weight: bold;
        color: #000000;
    }
	
	.k-panel {
		display: none !important;
	}

	.c-fancytree {
		> div > table {
			width: 100%;
			display: block;
		}
		
			
		.fancytree-container {
			border: none;
			background-color: transparent;
			overflow-y: hidden;
			
			> li[role="treeitem"] {
				width: calc(~'100% - 16px');
			}
		}
		
		.fancytree-node {
			display: flex;
            align-items: center;
			
			padding-right: 0px;
			padding-left: 0px;
			
			&:hover {
				background-color: rgba(0, 0, 0, 0.1);
			}
				
			.fancytree-expander {
				background: none;
				min-width: 16px;				
			}
							
			&.fancytree-exp-c, &.fancytree-exp-cl {
				> .fancytree-expander:before {
					content: "\e005";
					font: 17px/1 'WebComponentsIconsFixed';
				}
			}
			
			&.fancytree-exp-e, &.fancytree-exp-el {
				> .fancytree-expander:before {
					content: "\e001";
                    font: 19px/1 'WebComponentsIconsFixed';
				}
			}
			
			.fancytree-title {
				width: calc(~"100% - 19px");
				padding-right: 0px;
				
				> li {
					> a {
						padding-top: 5px;
						padding-bottom: 5px;
						width: calc(~"100% - 16px");
						display: block;
						
						> img, .c-image {
							margin-right: 5px;
							width: 16px;
							height: 16px;
							float: left;
						}
						.c-label {
							color: #333333;
							text-overflow: ellipsis;
							display: inline-block;
							overflow: hidden;
							width: calc(~"100% - 21px");
						}
					}
				}
			}
			
			&.fancytree-selected {
				font-weight: bold;
				background-color: rgba(0, 0, 0, 0.2);

                .c-treeviewitem {
                    .c-link:focus {
                        box-shadow: none !important;
                        outline: none !important;
                    }
                }

			}
		}		
	}
	
}
