.c-principalhistorizationpreviewitem {
    display: flex;
    align-items: center;
    height: 21px;
    border: 1px solid transparent;
    border-radius: 1px;
    margin: 0 0 1px 0;

    > .c-image {
        flex: 0 0 auto;
        margin: 0 0 0 4px;
    }

    > .c-label {
        flex: 1 0 auto;
        margin: 0 0 0 4px;
    }

    > .c-datetimelabel {
		white-space: nowrap;
        flex: 0 0 100px;
    }

    &:hover {
        background-color: #d3d3d3;
        border: 1px solid #d3d3d3;
    }
}
