.c-principalhistorizationpreview {
    > .head {
        display: flex;
        align-items: center;
        height: 25px;
    }

    > .body {
		background-color: #fafafc;
		border: 1px solid #b0cfe0;
		border-radius: 2px;
        list-style: none;
        padding: 2px;
        margin: 0;
        overflow-y: scroll;
        height: 96px;
    }
}
