.c-principalhistorizationselectionitem {
    display: flex;
    align-items: center;
    height: 21px;
    border: 1px solid transparent;
    border-radius: 1px;
    margin: 0 0 1px 0;

    > .c-label {
        flex: 1 0 auto;
        margin: 0 0 0 4px;
    }

    > .c-checkbox {
        flex: 0 0 auto;
        margin: 0 4px 0 0;
    }

    &.c-state-selected, &:hover {
        background-color: #d3d3d3;
        border: 1px solid #d3d3d3;
    }

    &.c-state-disabled {
        background: none;
        border: 1px solid transparent;
        opacity: 0.5;

        > .c-checkbox {
            display: none;
        }
    }
}
