.c-principalhistorizationoverview {
    display: flex;
    margin: 10px 0 0 0;

    &.c-state-summary {
        > .left {
            display: none !important;
        }

        > .right {
            flex-basis: 100% !important;
        }
    }

    > .left {
        flex: 0 1 50%;
        margin: 0 4px 0 0;
    }

    > .right {
        flex: 0 1 50%;
        margin: 0 0 0 4px;
    }
}
