.c-rangeslider {
    .k-slider-items {
        .k-tick {
            .c-marker {
                position: absolute;
                white-space: nowrap;
                margin: 8px 0 0 -10px;
                font-size: 0.9em;
            }
        }
    }
}
