﻿.c-searchbox {
    display: block;
    float: left;
    margin-right: 1px;

    > div {
        > .c-autocomplete {
            width: 510px;
			
			input {
				height: 26px;
				
			}
			
			.k-icon{
				margin-right: 25px;
			}
        }

        > .c-link {
            display: block;
            position: absolute;
            margin: -24px 0 0 486px;
        }

        > .options {
            display: none;
            position: absolute;
            width: 510px;
            height: auto;
            padding: 5px;
            background: @widget-background-color;
            border: 1px solid @widget-border-color;
            z-index: 999;

            fieldset {
                box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
                background: #ffffff;
                padding: 10px 18px 10px 18px;
                margin: 0 0 5px 0;

                legend {
                    width: auto;
                    padding: 2px;
                    margin: 0;
                    border: 0;
                    font-size: 1em;
                    font-weight: bold;

                    .c-checkbox {
                        float: none;

                        label {
                            font-weight: bold;
                        }
                    }
                }

                &.timezone {
                    display: block;
                    margin: 0 0 10px 0;
                }

                .module {
                    display: block;
                    
                    .c-checkbox {
                        display: block;
                        float: none;
                        margin: 0 0 5px 0;
                    }
                }
            }

            > .c-button {
                float: right;
            }
        }
    }
}
