.c-selectboxitem {
    cursor: pointer;
    padding: 2px 5px 5px 5px;
    margin: 0 0 1px 0;

    &.c-state-selected {
        background: #f9f9f9;
    }

    > .c-checkbox {
        float: none;
    }
}
