﻿.c-startpagegroup {
    > .c-label {
        display: block;
        font-size: 1.75em;
        padding: 20px 0 0 20px;
    }

    > .elements {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding: 20px;
    }
}
