﻿.c-startpageelement {
    position: relative;
    flex: 0 0 auto;
    text-align: left;
    padding: 10px 40px 10px 40px;
    background: #ffffff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
    margin: 0 20px 20px 0;
    min-width: 300px;
    min-height: 250px;
    opacity: 0.8;

    &:hover {
        opacity: 1;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    }

    > .c-label {
        display: block;
        font-size: 1.75em;
        font-weight: bold;
        color: #000000;
        margin: 0 0 20px 0;
    }

    > .c-image {
        position: absolute;
        bottom: 10px;
        right: 10px;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }

    > .c-link {
        display: block;
        font-size: 1.2em;
        margin: 0 0 5px 0;
        cursor: pointer;
        color: #000000 !important;

        &:hover {
            text-decoration: underline !important;
        }

        > .c-label {
            color: #000000 !important;
        }
    }
}
