.c-tabstrip {
    &.c-style-default {
        > .k-tabstrip-wrapper {
            > .k-tabstrip {
                background: none;
                border: 0;

                > .k-tabstrip-items {
                    padding-left: 0;
                    padding-right: 0;
                    border-color: #c9c9c9;

                    > .k-item {
                        vertical-align: bottom;
                        background: none;
                        border-color: #c9c9c9;
                        border-radius: 0;
                        padding: 1px;

                        > .k-loading {
                            border: 0;
                        }

                        &.k-state-active > .k-link {
                            height: 19px;
                            background: #F8F8F8;
                            margin-bottom: -2px;
                        }

                        > .k-link {
                            font-weight: bold;
                            background: #E8EBED;
                            padding: 6px;
                        }
                    }
                }

                > .k-content {
                    margin-left: 0;
                    margin-right: 0;
                    padding: 6px;
                    border-color: #c9c9c9;
                    background: #F8F8F8;
                }
            }
        }
    }

    &.c-style-wizard {
        > .k-tabstrip-wrapper {
            > .k-tabstrip {
                background: none;
                border: 0;
                padding: 0;

                > .k-tabstrip-items {
                    padding: 10px 0 20px 0;
                    border: 0;
                    text-align: center;
					
					> .k-tab-on-top {
                        z-index: 0;
                    }

                    > .k-item {
                        background: none;
                        border: 0;
                        padding: 0;

                        &:not(:last-child) {
                            &::after {
                                content: '\00BB';
                                padding: 0 5px 0 5px;
                            }
                        }

                        > .k-loading {
                            border: 0;
                        }

                        &.k-state-active > .k-link {
                            font-weight: bold;
                        }

                        > .k-link {
                            color: #4D82B8;
                            text-decoration: underline;
                            background: none;
                            padding: 0;
                        }
                    }
                }

                > .k-content {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    background: none;
                }
            }
        }
    }

    &.c-style-task {
        > .k-tabstrip-wrapper {
            > .k-tabstrip {
                background: none;
                border: 0;
                padding: 0;

                > .k-tabstrip-items {
                    padding: 10px 0 20px 0;
                    border: 0;
                    text-align: center;

                    > .k-item {
                        width: 205px;
                        height: 43px;
                        background: url(/$$_IMAGES_$$/task-step-inactive.png) no-repeat;
                        border: 0;
                        padding: 0;
                        -webkit-filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.5));

                        &:not(:first-child) {
                            margin-left: -15px;
                        }

                        > .k-loading {
                            border: 0;
                        }

                        > .k-link {
                            color: #000000;
                            font-weight: normal;
                            font-size: 1.2em;
                            text-decoration: none;
                            background: none !important;
                            padding: 12px;
                        }

                        &.k-state-active {
                            background: url(/$$_IMAGES_$$/task-step-active.png) no-repeat;

                            > .k-link {
                                color: #ffffff;
                            }
                        }
                    }
                }

                > .k-content {
                    margin: 0;
                    padding: 0;
                    border: 0;
                    background: url(/$$_IMAGES_$$/task-background-active.png) no-repeat center;
                    height: 232px;
					
					> .c-control {
						> span {
							display: block;
							margin-left: 3.45em;
							margin-top: 1em;
							color: #fff;
							
							&:nth-child(2) {
								height: 11em;
								overflow: auto;
								width: calc(~"100% - 7em");
							}
							
							&:first-child {
								font-size: 1.5em;
								margin-left: 2.3em;
								margin-top: 1.8em;
							}
							
							&:last-child {
								position: absolute;
								top: 24.7em;
								font-size: 0.9em;
								left: 0.5em;
								width: calc(~"100% - 7em");
							}
						}
					}
                }
            }
        }
    }
}
