.c-tabstrip2 {
	margin: 10px 0 10px 0;
	
    > .c-list-wrapper {
		
		z-index: 0;
        display: flex;
        list-style: none;
        padding: 0;
        margin:  0 0 0 -1px;
        position: relative;
        overflow: hidden;
		flex-wrap: wrap;

        > .c-title {
            display: flex;
			flex: 0 0 auto;
            border: 1px solid #C9C9C9;
            margin: 8px -1px 0 0;
            border-bottom: 0;
            cursor: pointer;
			
            &:first-child {
                margin-left: 0;
            }
			
            &:last-child {
                border-right-color: #B9B9B9;
            }

            > .c-link {				
				float: left;
                padding: 8px 12px 8px 12px;
                background: rgba(255, 255, 255, 0.5);
                color: rgba(0, 0, 0, 0.5);
                font-weight: bold;


            }

            &.c-state-active {
                margin-top: 1px;

                > .c-link {
                    padding: 12px;
                    background: rgba(255, 255, 255, 1);
                    color: #000000;
                }
            }
        }
		
		> .expander{
			display: flex;
			flex: 1 1 auto;
			
			img {
				position: absolute;
				bottom: 6px;
				right: 10px;
			}
		}
    }

    > .c-tabs-wrapper {		
		padding: 12px;
        background: rgba(255, 255, 255, 1);
        border-top-width: 0;
		box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);

		
		&.c-state-collapsed{
			height: 2px;
			overflow: hidden;
			padding: 0px;
			display: block !important;
			
			* {
				display: none;
			}
		}
    }
	
    > .c-list-wrapper.c-style-hidden + .c-tabs-wrapper {
        border-top-width: 1px;
        padding: 0;
    }
}

