.c-timepicker {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    > .c-wrapper {
        flex: 1 0 auto;

        > .k-timepicker {
            width: 100%;

            .k-picker-wrap {
                padding: 0;

                .k-select {
                    display: none;
                }
				
				&.k-state-focused{
					.k-input{
						.box-shadow(0px 0px 3px #B3B3B3) !important;
					}
				}
            }
        }
    }

    > .c-link {
        flex: 0 0 auto;
    }

    &.c-state-disabled {
        .k-input {
            background: #f9f9f9;
        }
    }

    &.c-state-invalid {
        .k-picker-wrap {
            border-color: #DC000C;
        }
    }
}
