.c-urllink {
    display: flex;

    > .c-textbox {
        flex: 1 0 auto;

        .k-textbox {
            width: 100%;
        }
    }

    > .c-link {
        flex: 0 0 auto;

        > .c-image {
            width: 16px;
            height: 16px;
        }
    }
}
