﻿@using RADEnvironment.Core.Internals;
@using RADEnvironment.Core.Models;
@model ConflictSetModel
@{
    ViewBag.Title = "ConflictSet";
}


  @Scripts.Render("~/bundles/inline-backup-conflictset")

    <style type="text/css">
        body { margin: 10px; 
               background:none !important;
        }

        table { border-collapse: collapse; width:100% }
        td { border: 1px solid black; }
    
        span.start { border: 1px dashed grey; }
    </style>

<div id="hideWhenLoaded">
    <br />
<div class="row" >
  <div class="col-lg-4 col-md-offset-4">
      <div class="well" >
  <h1>Loading</h1>

<div class="panel panel-info" >
    <div class="panel-heading">
        <h4 class="panel-title" >Please wait until the loading has been completed</h4>
        <div class="progress progress-striped active">
  <div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">

  </div>
</div>

    </div>
</div>          
</div>

   
  </div><!-- /.col-lg-6 -->
    </div>
</div>
<div id="showWhenLoaded" class="viewConflicthidden">
<h2>ConflictSet</h2>
    <div id="topAccordion">
        <h3>
            <span style="margin-left:25px;">Type</span>
        </h3>
        @Html.Raw(MvcHelper.RenderTypeChange(Model.VersionUpdateConflictSet.ChangedTypes, Model.TypeVersionUpdateTypeConflictSet))
        <h3><span style="margin-left:25px;">Embeddeds</span></h3>
        @Html.Raw(MvcHelper.RenderTypeChange(Model.VersionUpdateConflictSet.ChangedEmbeddeds, Model.EmbeddedVersionUpdateTypeConflictSet))
        <h3><span style="margin-left:25px;">Enumerations</span></h3>
        @Html.Raw(MvcHelper.RenderSubjectChange(Model.VersionUpdateConflictSet.ChangedEnumerations, new[] { "Name" }))
        <h3><span style="margin-left:25px;">Role based rights</span></h3>
        @Html.Raw(MvcHelper.RenderSubjectChange(Model.VersionUpdateConflictSet.ChangedRoleBasedRights, new[] { "Name" }))
        <h3><span style="margin-left:25px;">User based rights</span></h3>
        @Html.Raw(MvcHelper.RenderSubjectChange(Model.VersionUpdateConflictSet.ChangedUserBasedRights, new[] { "Name" }))
        <h3><span style="margin-left:25px;">Resource items</span></h3>
        @Html.Raw(MvcHelper.RenderSubjectChange(Model.VersionUpdateConflictSet.ChangedResourceItems, new[] { "Id", "Languages" }) )
        <h3><span style="margin-left:25px;">Dynamic associations</span></h3>
        @Html.Raw(MvcHelper.RenderSubjectChange(Model.VersionUpdateConflictSet.ChangedDynamicAssoziations, new[] { "Name", "Source", "Target" }))
        <h3><span style="margin-left:25px;">Workflows</span></h3>
        @Html.Raw(MvcHelper.RenderSubjectChange(Model.VersionUpdateConflictSet.ChangedWorkflows, new[] { "Name"}))

    
          </div>

    </div>

