﻿@model RADEnvironment.Core.Models.ErrorModel

@{
    ViewBag.Title = "Error";
}
<br />
<div class="row">
    <div class="alert alert-danger col-md-6 col-lg-6 col-sm-6 col-md-offset-3 col-lg-offset-3 col-sm-offset-3">
        @Html.Raw(Model.GetFullMessage())

        <br />
        @if (Model.ShowGoToAdmin)
        {
         <a class="btn btn-default" href="@Url.RouteUrl("Default", new { Controller = "Admin", Action = "Index" })">Go to Admin</a>
        } 
        else 
        {
            <a class="btn btn-default disabled">Go to Admin</a>
        }
    </div>
</div>
