﻿[data-view=DetailView] {
    height: 100%;

    .content {
        display: block;
        width: 100%;
        height: calc(~'100% - 54px');
        @media screen {
            overflow: auto;
        }
        @media print {
            overflow: hidden;
        }
		
		*:focus
		{
			.box-shadow(0px 0px 3px #B3B3B3);
		}
		
		.k-state-focused{
			.box-shadow(0px 0px 3px #B3B3B3) !important;
			
			.k-state-focused, *:focus
			{
				.box-shadow(none) !important;
			}
		}

        > .c-detailview {
            height: 100%;
            @media screen {
                min-width: 750px;
            }
            @media print {
                min-width: 0px;
            }

            > div {
                height: 100%;

                > .favorite {
                    height: 100%;
                    position: initial !important;

                    > div {
                        height: 100%;

                        > .c-toolbar {
                            border-bottom: 1px solid #c9c9c9;
                        }

                        > .wrapper {
                            @media screen {
                                height: calc(~'100% - 34px');
                                overflow-y: auto;
                                overflow-x: auto;
                            }
                            @media print {
                                overflow-y: hidden;
                                overflow-x: hidden;
                            }

                            background: #cdcdcd;
                            background-size: cover;

                            > .c-root {
                                padding: 0 10px 0 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
