﻿[data-view=ListView] {
    height: 100%;

    > div:not(.c-tooltip) {
        height: 100%;

        > .favorite {
            height: 100%;
            position: initial !important;

            > div {
                height: 100%;

                > .c-splitter {
                    height: calc(~"100% - 54px") !important;

                    .c-splitter {
                        height: 100% !important;

                        .filterpane {
                            overflow-y: auto;
                            overflow-x: hidden;
                        }

                        > .full-height {
                            height: 100%;
                            overflow: hidden;
                        }

                        .c-grid {
                            border: 0;
                        }
                    }

                    > .full-height {
                        height: 100% !important;
                    }

                    .k-splitbar-vertical {
                        height: 0 !important;
                    }

                    .k-splitbar-draggable-vertical {
                        height: 4px !important;
                        background-color: #E6E6E6;
                        border-top: 1px solid #DADADA;
                        border-bottom: 1px solid #DADADA;
                    }
                }
            }
        }
    }
}
