﻿[data-view=Login] {
    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 215px;
        height: 56px;
        background: url(/$$_IMAGES_$$/CompanyHeaderLogoBig.png) no-repeat top left;
		background-size: cover;
        top: 38px;
        left: 38px;
        z-index: -1;
    }

    .k-window-titlebar {
        background: #292d2f !important;
    }

    .k-window-content {
        .c-image {
            width: 50px;
        }
    }
}
