﻿[data-view=Navigation] {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);

    .c-panelbar {
        height: 100% !important;
		
		.k-treeview{
			/* 
			// Anpassung für IE: Treeview muss eine feste Höhe haben
			// 100 Prozent MINUS Höhe des Titels "Navigation" (inkl. Padding) MINUS 3 Toleranzpixel
			// https://www.telerik.com/forums/kendo-ui-treeview-page-jump-in-internet-explorer
			*/
			height: calc(~"100% - 20px - 1.2em - 4px");
		}
    }
}
