﻿[data-view=SearchListView] {
    height: 100%;

    .k-window-titlebar {
        padding-top: 10px;
        padding-bottom: 6px;
        border: 0;

        .k-window-title {
            color: #000000;
            font-weight: bold;
            font-size: 1.2em;
        }
    }

    .k-window-content {
        padding: 10px;
        overflow: hidden;

        > .c-toolbar {
            border-bottom: 0;
        }

        > .c-filter {
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 78px;
        }

        > .c-coreframegrid {
            height: 400px !important;
        }

        > .buttons {
            text-align: right;
            padding: 10px 0 0 0;
        }
    }
}
