﻿[data-view=Search] {
    width: 100%;
    height: 100%;

    > .wrapper {
        height: calc(~'100% - 54px');
        background: #cdcdcd;
        overflow-y: auto;

        > .description {
            height: calc(~'100% - 30px');
            position: initial !important;

            > div {
                height: 100%;

                .c-propertygroupbox {
                    height: 100%;
                    padding: 0 6px 6px 6px;

                    > .c-content {
                        height: 100%;

                        .c-nonelayout {
                            height: 100%;

                            .c-expandergroupbox {
                                &:nth-child(2) {
                                    height: calc(~'100% - 85px');
                                    margin-bottom: 0;
									
									> .c-content{
										height: calc(~'100% - 30px');
										
										> .c-onecolumnlayout{
											height: 100%;
											
											> .c-columnlayout {
												height: 100%;
												
												> .c-columnlayoutrow {
													max-width: none;
													
													&:nth-child(2) {
														height: calc(~"100% - 35px");
														
														> .c-columnlayoutitem {
															height: 100%;
															
															.c-control {
																height: 100%;
															}
														}
													}
												}
											}											
										}
									}
                                }
                            }
                        }
                    }
                }

                .extent-count {
                    display: block;
                    position: absolute;
                    margin: -25px 0 0 5px;
                }
            }
        }
    }
}
