﻿[data-view=Settings] {
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
	background: #cdcdcd;
    background-size: cover;
    //margin: 10px 0 0 10px;
    //width: calc(~'100% - 10px');
    //height: calc(~'100% - 10px') !important;

    > .search-bar {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        background: rgba(140, 145, 145, .25);
        padding: 3px 16px 3px 5px;
        align-items: center;

        > .c-link {
            margin: 0 8px 0 0;
            padding-bottom: 2px !important;
            padding-top: 2px !important;
        }

        > .c-textbox {
        }

        > .c-button {

            background: none !important;
            border: 1px solid transparent !important;
            padding: 0 3px !important;
            margin: 0 0 0 2px;

            &:hover {
                border: 1px solid rgba(255, 255, 255, 0.2) !important;
                background: rgba(255, 255, 255, 0.1) !important;
            }

            > .c-image {
                height: 16px;
                margin: 0 !important;
            }
        }
    }
}
