﻿[data-view=TableConfig] {
    .k-window-content {
        padding: 10px !important;

        .left {
            display: block;
            float: left;
            width: 300px;

            .c-coreframegrid {
                border: 1px solid @widget-border-color;
                background: @widget-background-color;
                margin: 5px 0 5px 0;
				height: 300px !important;
            }
        }

        .operators {
            display: block;
            float: left;
            width: 30px;
            padding: 2px;
            margin: 88px 0 0 0;

            > .c-link {
                margin: 0;
            }
        }

        .right {
            display: block;
            float: left;
            width: 300px;

            .c-coreframegrid {
                border: 1px solid @widget-border-color;
                background: @widget-background-color;
                margin: 5px 0 5px 0;
                height: 300px !important;
            }

            .c-button {
                float: left;
            }

            .move {
                display: flex;
                float: right;
                margin: 0;
            }
        }
		
		.cf-grid {
			.c-label{
				display: none;
			}
		}
    }
}
