.userselect(@value)
{
    user-select: @value;
    -moz-user-select: @value;
    -webkit-user-select: @value;
    -ms-user-select: @value;
}

.cf-grid {
    border: @cf-grid-border;
    &.noheader {
        .GridHeaderTable {
            display: none;
        }
        &.nofooter {
            .GridBodyTable {
                height: 100% !important;
            }
        }
        &.hasfooter {
            .GridBodyTable {
                height:~"calc(100% - @{cf-grid-footer-height})";
            }
        }
    }
    &.hasheader {
        &.nofooter {
            .GridBodyTable {
                height:~"calc(100% - @{cf-grid-header-height})";
            }
        }
        &.hasfooter {
            .GridBodyTable {
                height:~"calc(100% - @{cf-grid-header-height} - @{cf-grid-footer-height})";
            }
        }
    }
    &.nofooter {
        .cf-grid-footer {
            display: none;
        }
    }
    .GridHeaderTable {
        >table {
            >thead {
                >tr {
                    >th {
                        height: @cf-grid-header-height;
                        &,
                        & * {
                            .userselect(none);
                        }
                    }
                }
            }
        }
    }
    .GridBodyTable {
        >table {
            >tbody {
                >.cf-grid-row {
                    >td {
                        height: @cf-grid-row-height;
                        &,
                        & * {
                            .userselect(none);
                        }
                    }
                    &.cf-grid-dummy-row {
                        visibility: hidden;
                    }
                }
            }
        }
    }
    .cf-grid-footer {
        color: @cf-grid-footer-font-color;
        height: @cf-grid-footer-height;
        background-color: @cf-grid-footer-background-color;
        border-width: @cf-grid-footer-border-width;
        border-style: @cf-grid-footer-border-style;
        border-color: @cf-grid-footer-border-color;
        >.cf-grid-footer-summaryrow {
            float: left;
            padding: 0 10px;
            line-height: @cf-grid-footer-height;
        }
        >.cf-grid-footer-paging {
            float: right;
            >.cf-grid-footer-paging-pagesize {
                display: inline-block;
                >span {
                    cursor: pointer;
                    &:after {
                        content: "\25BC";
                    }
                    line-height: @cf-grid-footer-height;
                    margin-right: 10px;
                }
                >.cf-grid-footer-paging-pagesize-options {
                    background-color: #ffffff;
                    color: @cf-grid-footer-font-color;
                    position: absolute;
                    display: none;
                    right: 10px;
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
                    border: 1px solid #a4a7ac;
                    padding: 2px;
                    &.cf-grid-footer-paging-pagesize-options-hidden {
                        display: none;
                    }
                    &.cf-grid-footer-paging-pagesize-options-visible {
                        display: block;
                    }
                    >.cf-grid-footer-paging-pagesize-option {
                        color: #000;
                        cursor: pointer;
                        padding: 5px;
                        display: block;
                    }
                }
            }
            >.cf-grid-footer-paging-pages {
                display: inline-block;
                line-height: @cf-grid-footer-height;
                color: @cf-grid-footer-font-color;
                margin-right: 20px;
                &.cf-grid-footer-paging-pages-disabled {
                    &,
                    * {
                        display: none;
                    }
                }
                >.cf-grid-footer-paging-pages-page {
                    padding: 5px;
                    cursor: pointer;
                    &.cf-grid-footer-paging-pages-page-active {
                        background: darken(@cf-grid-footer-background-color, 10%);
                        padding-top: 3px;
                        padding-bottom: 3px;
                        padding-left: 5px;
                        padding-right: 5px;
                    }
                    &.cf-grid-footer-paging-pages-page-disabled {
                        opacity: 0.7;
                        cursor: default;
                    }
                    &:not(.cf-grid-footer-paging-pages-page-disabled):hover {
                        border: 2px solid @cf-grid-footer-font-color;
                        padding-top: 1px;
                        padding-bottom: 1px;
                        padding-left: 3px;
                        padding-right: 3px;
                    }
                    &.cf-grid-footer-paging-pages-page-start {
                        &:before {
                            content: "<<";
                        }
                    }
                    &.cf-grid-footer-paging-pages-page-previous {
                        &:before {
                            content: "<";
                        }
                    }
                    &.cf-grid-footer-paging-pages-page-next {
                        &:before {
                            content: ">";
                        }
                    }
                    &.cf-grid-footer-paging-pages-page-end {
                        &:before {
                            content: ">>";
                        }
                    }
                }
            }
        }
    }
}


/* IE spezifisch */

@ie: ~'screen\0';
@media @ie {
    .cf-grid {
        .GridBodyTable {
            >table {
                >tbody {
                    >.cf-grid-row {
                        &.cf-grid-dummy-row {
                            visibility: collapse;
                        }
                    }
                }
            }
        }
    }
}