﻿<!--
Anzeigen von String-Properties mit Hilfe des "text"- oder "html"-Bindings
-->
SampleView: <span data-bind="text: viewModel.identifier"></span>

<!--
Definition einer inneren Region 
<div data-region="RegionName"></div>
-->

<!--
Definition einer inneren Region + automatische Generierung einer geschachtelten View
<div data-region="RegionName">
    <div data-bind="view: { uiGenerator: 'InnerRegionName' }"></div>
</div>
-->