﻿
<div class="VM-content">
    <p></p></div>

<footer class="page-footer font-small blue pt-4 VM-page-footer">

    <div class="container-fluid text-center text-md-left">

        <div class="row">

            <div class="col-md-6 mt-md-0 mt-3">
 Content 
<h5 class="text-uppercase">Footer Content</h5>
<p>.</p>
<hr class="clearfix w-100 d-md-none pb-3">
                <ul class="list-unstyled">
                    <li>Name: <span class="" data-bind="text: viewModel.ModuleName()"></span></li>
                    <li>
                        <img style="display: inline; width: 36px;padding-top:3px;" src="Services/TemplateHandler.ashx?TemplateName=PCATION_LIGHT_HTML5&ImageName=icons8-youtube-480.png" />
                        <a  data-bind="click:viewModel.openLink">P-CATION Academy</a>
                    </li>

                </ul>
            </div>


            <hr class="clearfix w-100 d-md-none pb-3">


            <div class="col-md-3 mb-md-0 mb-3">

                <ul class="list-unstyled">

                    <li>
                        Version: <span class="" data-bind="text: viewModel.VersionObject()"></span>
                    </li>
                </ul>

            </div>

        </div>

    </div>

</footer>
