﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<head>
    <title>Expose - {{ Name }}</title>
<style type="text/css">
html{
	width:600px;
}

address{
	margin-bottom:30px;
}

img#grundriss{
	float:right;
}

div.clear{
clear:both;
}

h3{
	margin:0px;
	font-weight:normal;
}

h1{
	margin-bottom:0px;
}

tr:nth-child(odd){
	background-color:rgb(251,251,251);
}

tr:nth-child(even){

}

th{
	font-weight:bold;
	text-align:left;
	width:250px;
}

td{
	padding:0px 5px;
	height:30px;
}

td:first-child+td{
	margin-left:20px;
}

table{
	border-spacing:0px;
}

table.noBG tr,tr.noBG{
	background-color:inherit !important;
}

.marginBottom{
	margin-bottom:10px;
}

.marginBottomTop{
	margin:15px 0px;
}

ul#ausstattungen{
	list-style-type: none;
	padding-left:0;
}

ul#ausstattungen div.beschreibung{
	padding-left:80px;
}

.justify{
	text-align: justify;
}

.fullWidth th{
	width:auto !important;
}

.fullWidth{
	width:100%;
}
</style>

</head>
<body>
<h1>{{ Name }}</h1>
<h3>{{ IntBezeichnung }}</h3>
<address>
{{ Adresse.Strasse }} {{ Adresse.Hausnummer }}{{ Adresse.HausnummerZusatz }}<br />
{{ Adresse.PLZ }} {{ Adresse.Stadt }}
</address>
<div class="clear"></div>
<img width="200" id="grundriss" src="data:image/jpg;base64,{{ Grundriss }}" alt="{{ Name }}" />

<table>
    <tbody>
        <tr>
            <th>Mietpreis</th>
            <td>{{ Mietpreis }}</td>
        </tr>
        <tr>
            <th>Wohnfl&auml;che</th>
            <td>{{ WohnFl }}m&sup2;</td>
        </tr>
        <tr>
            <th>Heizfl&auml;che</th>
            <td>{{ HeizFl }}m&sup2;</td>
        </tr>
        <tr>
            <th>Gesamtfl&auml;che</th>
            <td>{{ GesamtFl }}m&sup2;</td>
        </tr>
        <tr>
            <th>Anzahl der Zimmer</th>
            <td>{{ AnzZimmer }}</td>
        </tr>
    </tbody>
</table>
<hr />
<table class="noBG fullWidth">
    <tbody>
        <tr>
            <th>Beschreibung</th>
        </tr>
        <tr>
            <td class="justify"><div class="marginBottomTop">{{ Beschreibung }}</div></td>
		</tr>
        <tr>
            <th>Besonderheiten</th>
        </tr>
        <tr>
            <td class="justify">{{ Besonderheiten }}</td>
        </tr>
        <tr>
            <th>Ausstattung</th>
        </tr>
        <tr>
            <td><ul id="ausstattungen">
{% for item in HatAusstattung -%}
  <li>{{ item.Anzahl }}x &nbsp&nbsp&nbsp{{ item.Art }} {{item.Besonderheiten}}
  <div class="beschreibung justify">{{item.Beschreibung}}</div></li>
{% endfor -%}
</ul></td>
        </tr>
    </tbody>
</table>
<hr />
<table>
    <thead>
        <tr class="noBG marginBottom">
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Eigent&uuml;mer</th>
            <td>{{ Eigentuemer }}</td>
        </tr>
        <tr>
            <th>Anzahl der Einheiten</th>
            <td>{{ AnzEinheiten }}</td>
        </tr>
        <tr>
            <th>Aufzugsnutzung</th>
            <td>{{ Aufzugnutzung }}</td>
        </tr>
        <tr>
            <th>TV-Anschluss</th>
            <td>{{ TVAnschluss }}</td>
        </tr>
        <tr>
            <th>Kellernummer</th>
            <td>{{ Kellernummer }}</td>
        </tr>
        <tr>
            <th>Ext. Wasserabrechnung</th>
            <td>{{ ExtWasserabrechnung }}</td>
        </tr>
        <tr>
            <th>Miteigentumsanteil</th>
            <td>{{ Miteigentumsanteil }}</td>
        </tr>
    </tbody>
</table>

</body>
</html>
