@import "Kendo/web/kendo.common.core.vars.less";
@import "Kendo/web/kendo.default.vars.less";
@import "Kendo/web/type-default.vars.less";

@import "CoreFrameControls/CoreFrameGrid/vars.less";

@cf-grid-border: 1px solid rgba(0, 0, 0, 0.2);
@cf-grid-header-height: 30px;
@cf-grid-row-height: 30px;
@cf-grid-footer-border-width:  1px 0 0 0;
@cf-grid-footer-border-color: rgba(0, 0, 0, 0.2);
@cf-grid-footer-height: 35px;
@cf-grid-footer-font-color: #777777;
@cf-grid-footer-background-color: rgba(0, 0, 0, 0.05);

@texture: none;
@tooltip-texture: url(/$$_FILES_$$/Styles/Kendo/textures/highlight.png);
@fallback-texture: url(/$$_FILES_$$/Styles/Kendo/textures/highlight.png);
@image-folder: "/$$_FILES_$$/Styles/Kendo/web/Default";

/* Widget Base Styles */
@widget-text-color: #000000;
@widget-gradient: "#fcfcfc 0%, #fcfcfc 100%";
@widget-background-color: #FAFAFC;
@widget-border-color: #B0CFE0;
/*@widget-shadow: 1px 1px 4px #ebebeb;*/
/*@widget-shadow: 1px 1px 4px #B0CFE0;*/
@widget-shadow: none;

@shadow-color: '';
@hover-background-color: '';
@hover-border-color: '';
@select-background-color: '';

/* Selects, Dropdowns */
@select-background-color: @widget-background-color;
@select-border-color: @hover-border-color;
@select-hover-background-color: @hover-background-color;
@select-group-background-color: @select-background-color;

/* Inputs */
@input-background-color: @widget-background-color;
@input-text-color: @widget-text-color;

/* Links */
@link-text-color: @widget-text-color;

/* Headers */
@header-text-color: @widget-text-color;
@header-background-color: @widget-background-color;

/* Buttons */
@button-text-color: @widget-text-color;
@button-background-color: #eee;

/* Group Base Styles */
@group-background-color: @widget-background-color;
@group-border-color: @widget-border-color;

/* Content */
@content-background-color: @widget-background-color;


/* Widget States */

/* Hover State */
@hover-text-color: @widget-text-color;
@hover-gradient: @widget-gradient;
@hover-background-color: @widget-background-color;
@hover-border-color: @widget-border-color;
@hover-shadow: @widget-shadow;

/* Selected State */
@selected-text-color: @widget-text-color;
@selected-gradient: @widget-gradient;
@selected-background-color: @widget-background-color;
@selected-border-color: @widget-border-color;
@selected-shadow: @widget-shadow;

/*Focused State*/
@focused-border-color: @widget-border-color;
@focused-shadow: 0;
@focused-item-shadow: none;
@focused-active-item-shadow: none;

/* Active State */
@active-text-color: @widget-text-color;
@active-gradient:  none;
@active-background-color: @widget-background-color;
@active-border-color: @widget-border-color;
@active-shadow: none;

/* Error State */
@error-text-color: @widget-text-color;
@error-background-color: @widget-background-color;
@error-border-color: #DDAFAF;

/* Disabled State */
@disabled-text-color: #9f9e9e;

/* Notification */
@notification-info-background-color: #e5f5fa;
@notification-info-text-color: #0487c4;
@notification-info-border-color: #b7e1f0;
@notification-success-background-color: #eaf7ec;
@notification-success-text-color: #349946;
@notification-success-border-color: #c3e8ca;
@notification-warning-background-color: #fff4d9;
@notification-warning-text-color: #0487c4;
@notification-warning-border-color: #fff0c8;
@notification-error-background-color: #ffe0d9;
@notification-error-text-color: #ef470a;
@notification-error-border-color: #ffb7a8;

/* ToolTip */
@tooltip-text-color: #282828;
@tooltip-background-color: #c6c6c6;
@tooltip-border-color: @widget-border-color;

/* Validation Message */
@validation-text-color: #635145;
@validation-background-color: #fff4c9;
@validation-border-color: #ffe79e;

/* Splitter */
@splitbar-background-color: @header-background-color;

/* Slider */
@draghandle-border-radius: 7px;
@draghandle-border-color: @widget-border-color;
@draghandle-background-color: @widget-background-color;
@draghandle-shadow: none;
@draghandle-hover-border-color: @hover-border-color;
@draghandle-hover-background-color: @hover-background-color;
@draghandle-hover-shadow: none;

/* Grid */
@alt-background-color: #f5f5f5;
@cell-border-color: @widget-border-color;
@column-highlight-background-color: #f8f8f8;
@active-filter-background-color: @active-background-color;

/* Scheduler */
@scheduler-background-color: @widget-background-color;
@current-time-color: @error-border-color;
@event-background-color: #ffdac1;
@event-text-color: @widget-text-color;
@event-inverse-text-color: @scheduler-background-color;
@scheduler-nonwork-background-color: #f2f2f2;
@resize-background-color: #bababa;

/* Upload */
@upload-progress-background-color: #d0f8ff;
@upload-progress-text-color: #06c;
@upload-success-background-color: #ddffd0;
@upload-success-text-color: #28760b;
@upload-error-background-color: #ffded7;
@upload-error-text-color: #c00;

/* Loading Indicators */
@loading-panel-color: #fff;

/* Shadows */
@shadow-color: rgba(0, 0, 0, .3);
@shadow-inset-color: #ddd;

/* Border Radii */
@border-radius: 2px;
@main-border-radius: 2px;
@list-border-radius: 2px;
@inner-border-radius: 2px;
@slider-border-radius: 13px;

/* Icons */
@default-icon-opacity: 0.8;

@calendar-border-radius: 2px;
@calendar-content-text-color: @widget-text-color;
@calendar-footer-background: @widget-background-color;
@calendar-footer-text-decoration: none;
@calendar-footer-hover-text-decoration: underline;
@calendar-footer-hover-background: @widget-background-color;
@calendar-header-hover-text-decoration: none;
@calendar-header-hover-background: @hover-background-color;
@calendar-footer-active-background: @widget-background-color; 
@calendar-group-background-color: @group-background-color; 
@button-border-color: @widget-border-color;
@menu-border-color: @widget-border-color;
@tabstrip-items-border: @widget-border-color;
@tabstrip-active-background: @widget-background-color;
@tabstrip-tabs-color: @widget-text-color;
@form-widget-color: #2e2e2e;
@drop-down-border-color: @widget-border-color;
@drop-down-hover-border-color: @hover-border-color;
@drop-down-focused-border-color: @focused-border-color;
@drop-down-background: #e9e9e9;
@drop-down-text-color: @widget-text-color;
@secondary-border-color: @widget-border-color;
@secondary-text-color: @widget-text-color;
@numeric-selected-background: @selected-background-color; 
@panelbar-items-border: @widget-border-color;
@panelbar-content-background: @content-background-color;
@panelbar-content-color: @widget-text-color;
@window-shadow-style: 1px 1px 7px 1px;
@filter-menu-content-background: @content-background-color;
@icon-background-color: transparent;
@disabled-background-color: @widget-background-color;
@disabled-border-color: rgba(0,0,0,0.10);
@disabled-gradient: @widget-gradient;

@primary-button-text-color: #fff;
@primary-button-background-color: #f35800;
@primary-button-border-color: #ef671a;
@primary-gradient: "#f6813f 0%, #f35a03 100%";
@primary-shadow:none;

@primary-hover-text-color: @primary-button-text-color;
@primary-hover-background-color: #ed4300;
@primary-hover-border-color: @primary-button-border-color;
@primary-hover-gradient: "#f1713f 0%, #ed4503 100%";
@primary-hover-shadow:none;

@primary-focused-color: @primary-button-text-color; 
@primary-focused-border-color: #e84200;
@primary-focused-gradient: @primary-hover-gradient;
@primary-focused-active-item-shadow: none;

@primary-active-text-color: @primary-button-text-color;
@primary-active-background-color: #f35800;
@primary-active-gradient: @primary-gradient;
@primary-active-border-color: #ef671a;
@primary-active-shadow:none;

@primary-disabled-text-color: #fab58e;
@primary-disabled-background-color: @primary-button-background-color;
@primary-disabled-border-color: @primary-button-border-color;
@primary-disabled-gradient: @primary-gradient;

@button-hover-text-color: @hover-text-color;
@button-hover-background-color: @hover-background-color;
@button-hover-border-color: @hover-border-color;

@button-active-background: @selected-background-color;
@button-active-border-color: @selected-border-color;
@button-focused-border-color: @button-border-color;
@button-focused-shadow: @focused-item-shadow;
@button-focused-active-shadow: @focused-active-item-shadow;