﻿@using RADEnvironment.Core.Internals;
@using RADEnvironment.Core.Models;
@model ConflictSetModel
@{
    ViewBag.Title = "ConflictSet";
}

<h2>ConflictSet</h2>

@Scripts.Render("~/bundles/inline-admin-conflictset")

<style type="text/css">

    body { margin: 10px; }

    table { border-collapse: collapse }
    td { border: 1px solid black; }
    
    span.start { border: 1px dashed grey; }
    span.hidden { display: none; }
    
</style>

<div id="topAccordion">
    <h3>Types</h3>
    @MvcHelper.RenderTypeChange(Model.VersionUpdateConflictSet.ChangedTypes, Model.TypeVersionUpdateTypeConflictSet)
    <h3>Embeddeds</h3>
    @MvcHelper.RenderSubjectChange(Model.VersionUpdateConflictSet.ChangedEmbeddeds, new[] { "Name", "Properties", "Assoziations", "Operations" })
    <h3>Enumerations</h3>
    @MvcHelper.RenderSubjectChange(Model.VersionUpdateConflictSet.ChangedEnumerations, new[] { "Name" })
    <h3>Role based rights</h3>
    @MvcHelper.RenderSubjectChange(Model.VersionUpdateConflictSet.ChangedRoleBasedRights, new[] { "Name" })
    <h3>User based rights</h3>
    @MvcHelper.RenderSubjectChange(Model.VersionUpdateConflictSet.ChangedUserBasedRights, new[] { "Name" })
    <h3>Resource items</h3>
    @MvcHelper.RenderSubjectChange(Model.VersionUpdateConflictSet.ChangedResourceItems, new[] { "Id", "Languages" }) 
    <h3>Dynamic associations</h3>
    @MvcHelper.RenderSubjectChange(Model.VersionUpdateConflictSet.ChangedDynamicAssoziations, new[] { "Name", "Source", "Target" })
    <h3>Workflows</h3>
    @MvcHelper.RenderSubjectChange(Model.VersionUpdateConflictSet.ChangedWorkflows, new[] { "Name" })

    
</div>