﻿
<div class="modal fade" id="adminModal" data-bind="with:ModalVM">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" data-bind="html:modalTitle()">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>

                    <div class="progress  active loadingBar " data-bind="css:{'progress-striped': modalBar()== 'progress-bar-info'}, visible:withProgressBar()">
                        <div class="progress-bar " data-bind="css:modalBar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                    <span class="modal-content-text" data-bind="html:modalText()"></span>
                </p>
                <!-- ko if: options().length > 0 -->
                <div data-bind="foreach: options">
                    <dl class="dl-horizontal">
                        <dt style="width:13px;">
                            <input type="checkbox" data-bind="checked: $data.value, attr:{id:'modalOption'+$data.id}" />
                        </dt>
                        <dd style="margin-left:20px;">
                            <label data-bind="text:$data.text, attr:{for:'modalOption'+$data.id}"></label>
                        </dd>
                    </dl>
                </div>
                <!-- /ko -->
                <div class="pollingMsg" data-bind="foreach:messages(),animateNew:messages()">
                    <div class="hide" data-bind="text:$data"></div>
                </div>
                <div class="notificationContent" data-bind="visible: modalNotificationText()">
                    <h4>Notification</h4>
                    <p data-bind="html:modalNotificationText()"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-bind="visible:modalSecondaryBtnVisible(),text:modalSecondaryBtnText(),click:clickSecondaryBtn,css:{'btn-danger':coloredButtons()}" class="btn btn-primary" data-dismiss="modal"></button>
                <button type="button" data-bind="visible:modalCloseBtn(),text:BtnText(),css:{'btn-success':coloredButtons()}" class="btn btn-primary" data-dismiss="modal">Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="licenseModal">
    <div class="modal-dialog licenseAgreement">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">information</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <iframe class="licenseAgreement" src="/Information?fullscreen=false"></iframe>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- Modal-Template: IntegrityChecks -->
<script type="text/html" id="IntegrityCheckTmpl">

    <!-- ko foreach: $data -->
    <div class="integrityResult">
        <div class="name">
            <span data-bind="text:Name"></span>
            <span class="glyphicon glyphicon-ok text-success" data-bind="visible:(CountErrors== 0 && CountCorrections==0)"></span>
        </div>
        <div data-bind="visible:(CountErrors>0 || CountCorrections >0)">
            <span data-bind="text:(CountErrors==1)?' There is':'There are'"></span>
            <span class="bold" data-bind="text:CountErrors"></span>
            <span data-bind="text:(CountErrors==1)?' corrupt object.':'corrupt objects.'"></span>
            We can correct
            <span class="bold" data-bind="text:CountCorrections"></span>
            <span data-bind="text:(CountCorrections==1)?'record.':'records.'"></span>
        </div>
        <div class="details" data-bind="visible:Details.length>0">
            <span>Details:</span>
            <!-- ko foreach: Details -->
            <div data-bind="text:$data"></div>
            <!-- /ko -->
        </div>
    </div>
    <!-- /ko -->
</script>
<!-- /Modal-Template: IntegrityChecks -->

<div class="container" data-bind="with: AdminViewModel">
    <div class="row">
        <!--------- Menu ------------------------------------->
        <div class="col-sm-4 col-md-3 col-ld-2 menuPanel border minHeight600">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/admin" class="navbar-brand">Admin Panel</a>
            </div>
            <nav class="collapse navbarAdmin navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li data-bind="css:{active: (activeTemplate() == 'startsiteTmpl')},with:'startsiteTmpl'">
                        <a href="" data-bind="click: $parent.showTemplate">
                            <span class="glyphicon glyphicon-home"></span>Start
                        </a>
                    </li>
                    <li data-bind="css:{active: (activeTemplate() == 'installationTmpl')},with:'installationTmpl'">
                        <a href="" data-bind="click: $parent.showTemplate">
                            <span class="glyphicon glyphicon-briefcase"></span>Initialization
                        </a>
                    </li>
                    <li data-bind="css:{active: (activeTemplate() == 'backupTmpl')},with:'backupTmpl'">
                        <a href="" data-bind="click: $parent.showTemplate">
                            <span class="glyphicon glyphicon-export"></span>Export
                        </a>
                    </li>
                    <li data-bind="css:{active: (activeTemplate() == 'importTmpl')},with:'importTmpl'">
                        <a href="" data-bind="click: $parent.showTemplate">
                            <span class="glyphicon glyphicon-import"></span>Import
                        </a>
                    </li>
                    <li class="hideOnLoad" data-bind="slideToggle:isAdvancedMode, css:{active: (activeTemplate() == 'reportsTmpl')},with:'reportsTmpl'">
                        <a href="" data-bind="click: $parent.showTemplate">
                            <span class="glyphicon glyphicon-eye-open"></span>View Reports
                        </a>
                    </li>
                    <li data-bind="css:{active: (activeTemplate() == 'statisticsTmpl')},with:'statisticsTmpl'">
                        <a href="" data-bind="click: $parent.showTemplate">
                            <span class="glyphicon glyphicon-tasks"></span>Statistics
                        </a>
                    </li>
                    <li class="hideOnLoad" data-bind="slideToggle:isAdvancedMode, css:{active: (activeTemplate() == 'configurationTmpl')},with:'configurationTmpl'">
                        <a href="" data-bind="click: $parent.showTemplate">
                            <span class="glyphicon glyphicon-cog"></span>Configuration
                        </a>
                    </li>
                    <li class="hideOnLoad" data-bind="slideToggle:isAdvancedMode, css:{active: (activeTemplate() == 'logTmpl')},with:'logTmpl'">
                        <a href="" data-bind="click: $parent.showTemplate">
                            <span class="glyphicon glyphicon-book"></span>Logs
                        </a>
                    </li>
                    <li data-bind="css:{active: (activeTemplate() == 'maintenanceTmpl')},with:'maintenanceTmpl'">
                        <a href="" data-bind="click: $parent.showTemplate">
                            <span class="glyphicon glyphicon-wrench"></span>Maintenance Mode
                        </a>
                    </li>
                    <li data-bind="css:{active: (activeTemplate() == 'benchmarkTmpl')},with:'benchmarkTmpl'">
                        <a href="" data-bind="click: $parent.showTemplate">
                            <span class="glyphicon glyphicon-dashboard"></span>Benchmark
                        </a>
                    </li>

                    <li class="hideOnLoad" " data-bind="slideToggle:isAdvancedMode, css:{active: (activeTemplate() == 'sessionTmpl')}, with:'sessionTmpl'">
                        <a href="" data-bind="click: $parent.showTemplate">
                            <span class="glyphicon glyphicon-list"></span>Sessions
                        </a>
                    </li>

                    <li class="hideOnLoad" " data-bind="slideToggle:isAdvancedMode, css:{active: (activeTemplate() == 'lockTmpl')}, with:'lockTmpl'">
                        <a href="" data-bind="click: $parent.showTemplate">
                            <span class="glyphicon glyphicon-lock"></span>Object-Locks
                        </a>
                    </li>

                    <li class="hideOnLoad" " data-bind="slideToggle:isAdvancedMode, css:{active: (activeTemplate() == 'assembliesTmpl')}, with:'assembliesTmpl'">
                        <a href="" data-bind="click: $parent.showTemplate">
                            <span class="glyphicon glyphicon-barcode"></span>Assemblies
                        </a>
                    </li>


                    <!-- ko if: $root.AdminConfigurationVM.isRemotingEnabled()-->
                    <li class="hideOnLoad" data-bind="slideToggle:isAdvancedMode, css:{active: (activeTemplate() == 'remotingTmpl')},with:'remotingTmpl'">
                        <a href="" data-bind="click: $parent.showTemplate">
                            <span class="glyphicon glyphicon-plane"></span>Remoting
                        </a>
                    </li>
                    <!-- /ko -->
                    <li data-bind="">
                        <a href="" data-bind="click: logout">
                            <span class="glyphicon glyphicon-off"></span>Logout
                        </a>
                    </li>
                    <li>
                        <label for="CB_advancedMode">
                            <input id="CB_advancedMode" data-bind="checked: isAdvancedMode" type="checkbox" class="input" />
                            <span>Advanced mode</span>
                        </label>
                    </li>
                </ul>
            </nav>

            <a class="licenseLink" data-toggle="modal" data-target="#licenseModal">information</a>
        </div>

        <!--------- Content ------------------------------------->
        <div class="col-sm-8 col-md-9 col-ld-10 content border noBorderLeft minHeight300 minHeight600 noBorderTop">
            <div id="content" data-bind="templateLoaderHelper:{Name: activeTemplate}"></div>
        </div>
    </div>

    <!--------- Console ------------------------------------->
    <div class="row" data-bind="with:$root.ConsoleVM">

        <div class="col-md-12 border console">

            <span class="toggleBtn" data-bind="fadeToggle:'#consoleWindow',click:scrollToBottom">
                Console
                <span class="glyphicon glyphicon-chevron-down"></span>
            </span>
            <div class="col-md-12 clearfix" id="consoleWindow" data-bind="foreach:messages(),animateNew:messages(),scrollBottom:messages()">
                <div data-bind="text:$data"></div>
            </div>
        </div>
    </div>

</div>

<script id="installationData" type="application/json">
	@Html.Raw(Json.Encode(ViewBag.installationData))
</script>
<script id="maintenanceData" type="application/json">
	@Html.Raw(Json.Encode(ViewBag.maintanenceMode))
</script>
<script id="backupData" type="application/json">
	@Html.Raw(Json.Encode(ViewBag.backupData))
</script>
<script id="statisticsData" type="application/json">
	@Html.Raw(Json.Encode(ViewBag.statisticsData))
</script>
<script id="statisticsRBSGroupNames" type="application/json">
	@Html.Raw(Json.Encode(ViewBag.statisticsRBSGroupNames))
</script>
<script id="logs" type="application/json">
	@Html.Raw(Json.Encode(ViewBag.logs))
</script>
<script id="logger" type="application/json">
	@Html.Raw(Json.Encode(ViewBag.logger))
</script>
<script id="configuration" type="application/json">
	@Html.Raw(Json.Encode(ViewBag.configurationData))
</script>

@Scripts.Render("~/bundles/inline-admin-index")

<script type="text/html" id="emptyTmpl">
</script>
<script type="text/html" id="startsiteTmpl">
    <div class="installContent">
        <h3>Welcome to the administration panel!</h3>
    </div>
</script>

<script type="text/html" id="configurationTmpl">
    <div class="configContent" data-bind="with: $root.AdminConfigurationVM">
        <h3>Configuration</h3>
        <br />
        <table class="table table-condensed table-striped table-bordered">
            <tbody>
                <tr>
                    <td>application path</td>
                    <td data-bind="text:applicationPath"></td>
                </tr>
                <tr>
                    <td>Log4Net configuration path</td>
                    <td data-bind="text:log4NetConfigPath"></td>
                </tr>
                <tr>
                    <td>NHibernate configuratio npath</td>
                    <td data-bind="text:nHibernateConfigPath"></td>
                </tr>
                <tr>
                    <td>default template</td>
                    <td data-bind="text:defaultTemplate"></td>
                </tr>
                <tr>
                    <td>use pessimistic locking</td>
                    <td data-bind="text:usePessimisticLocking"></td>
                </tr>
            </tbody>
        </table>
        <h4>License</h4>
        <a href="#" data-bind="click:reloadLicense">Reload License</a><br />
        <table class="table table-condensed table-striped table-bordered ">
            <tbody data-bind="foreach:module()">
                <tr data-bind="css:{success:LicenseState == 'Valid',warning:LicenseState == 'Expired',danger:LicenseState == 'Unlicensed'}">
                    <td data-bind="text:Name"></td>
                    <td data-bind="text:LicenseState"></td>
                </tr>
            </tbody>
        </table>

        <h4>License read properties</h4>
        <table class="table table-condensed table-striped table-bordered">
            <tbody data-bind="foreach:licenseReadProperties()">
                <tr>
                    <td data-bind="text:name"></td>
                    <td data-bind="text:value"></td>
                </tr>
            </tbody>
        </table>



        <h4>System Fingerprint</h4>
        <div class="panel panel-info" data-bind="visible: generatedSystemFingerprint()==''">
            <div class="panel-heading">
                <h3 class="panel-title">System Fingerprint not generated</h3>
            </div>
        </div>

        <div class="panel panel-success" data-bind="visible:generatedSystemFingerprint() == currentSystemFingerPrint()">
            <div class="panel-heading" data-bind="click:toggleFingerPrint">
                <h3 class="panel-title">System Fingerprints matched successfuly</h3>
            </div>
            <div class="panel-body hideOnLoad">
                <div class="fingerPrint" data-bind="text:currentSystemFingerPrint()"></div>
            </div>
        </div>

        <div class="panel panel-danger" data-bind="visible:generatedSystemFingerprint() != '' && generatedSystemFingerprint() != currentSystemFingerPrint()">
            <div class="panel-heading" data-bind="click:toggleFingerPrint">
                <h3 class="panel-title">System Fingerprints do not match</h3>
            </div>
            <div class="panel-body hideOnLoad">
                <h5>Current</h5>
                <div class="fingerPrint" data-bind="text:currentSystemFingerPrint()"></div>
                <hr />
                <h5>Generated</h5>
                <div class="fingerPrint" data-bind="text:generatedSystemFingerprint()"></div>

            </div>
        </div>

    </div>
</script>

<script type="text/html" id="maintenanceTmpl">
    <div class="installContent" data-bind="with: $root.AdminMaintenanceVM">
       
        <div >
            <h3>Maintenance Mode</h3>
            <h5>
                In maintenance mode the whole application will be locked.<br />No user can log in as long as this mode is active.<br />
                <small>Warning: When you activate the maintenance mode, all users will be logged out immediately!.</small>
            </h5>
            <br />
            
            <button class="btn" data-bind="css:{'btn-success': isMaintenanceMode(), 'btn-default': !isMaintenanceMode()}, text: btnText(), click:btnClick"></button>
        </div>



    </div>

</script>

<script type="text/html" id="installationTmpl">
    <div class="installContent" data-bind="with: $root.AdminInstallationVM">
        <!-- ko if: $root.AdminViewModel.isAdvancedMode()-->

        <h3>Initialization</h3>
        <h5>
            The initialization of the application modules can be executed here.<br />
            <small>Hint: For an import, please change directly to the “Import” page.</small>
        </h5>
        <br />
        <div class="installationBlock">
            <h4>Database</h4>
            <a href="#" data-bind="click:viewSchema">View Schema</a><br />
            <a href="#" data-bind="click:dropSchema,css:{'disabled lineThrough':emptySystem()}">Drop Schema</a><br />
            <a href="#" data-bind="click:updateSchema,css:{'disabled lineThrough':  isSchemaValid() }">Update Schema</a><br />
            <a href="#" data-bind="click:integrityCheck,css:{'disabled lineThrough':emptySystem()}">Integrity Check</a>
        </div>

        <div class="installationBlock" data-bind="css:{'disabled': !isSchemaValid() }">
            <h4>RAD Framework</h4>

            <div class="progress loadingBarSmall ">
                <div class="progress-bar helpCursor" data-bind="attr:{'title':!isFrameworkGeneratable()==true?(emptySystem()==false?'RADFramework is installed':''):'Module is not installed yet'},css:{'progress-bar-success':!isFrameworkGeneratable(), 'progress-bar-danger':(!isSchemaValid() && emptySystem())}" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100px;">
                    <span class="sr-only"></span>
                </div>
            </div>
            <a href="#" data-bind="css:{'disabled lineThrough': (!isFrameworkGeneratable() || !isSchemaValid() )}, click:frameworkGen">Framework Generator</a> <span class="version" data-bind="text:'V'+RADVersion(),creationTimeTitle:RADCreationTime"></span>
            <br />

            <div class="installationBlock" style="padding:0;border:none;" data-bind="css:{'disabled':( isFrameworkGeneratable() || !isSchemaValid()) }">
                <!-- ko foreach:ModulesGeneratedWithRad -->

                <div class="progress loadingBarSmall ">
                    <div class="progress-bar helpCursor" data-bind="attr:{'title':Installed()==true?'Extension is installed':'Extension is not installed yet'},css:( Installed()==true?'progress-bar-success':'progress-bar-info')" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100px;">
                        <span class="sr-only"></span>
                    </div>
                </div>
                <a href="#" style="font-size: 11px; font-style: italic; padding-left:41px;" data-bind="click:$parent.domainGen,css:{'disabled':( $parent.isFrameworkGeneratable() || !$parent.isSchemaValid() || Installed() || LicenseState == 'Unlicensed'),'lineThrough':Installed()|| LicenseState == 'Unlicensed'}, text: Display, attr:{Title:ToolTip}"></a>
                <span data-bind="text:LicenseState!='Valid'? ' (LICENCE: '+LicenseState+') ':''" class="version" style="text-transform: uppercase;"></span>
                <span class="version" style="font-size:9px;" data-bind=" text:'V'+AssemblyVersion,creationTimeTitle:AssemblyCreationTime"></span>
                <span style="font-size:9px;" data-bind="visible:$data.Dependencies.length>0,attr:{title:'dependent on: '+$parent.GetModulesDisplayName($data.Dependencies)}" class=" glyphicon glyphicon-link"></span>
                <br />
                <!-- /ko -->
            </div>
        </div>

        <div class="installationBlock" data-bind="css:{'disabled':( isFrameworkGeneratable() || !isSchemaValid()) }">
            <h4>Domain Modules</h4>
            <!-- ko foreach:Modules -->
            <div class="progress loadingBarSmall ">
                <div class="progress-bar helpCursor" data-bind="attr:{'title':Installed()==true?'Module is installed':'Module is not installed yet'},css:( Installed()==true?'progress-bar-success':'progress-bar-info')" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100px;">
                    <span class="sr-only"></span>
                </div>
            </div>
            <a href="" data-bind="css:{'disabled':( $parent.isFrameworkGeneratable() || !$parent.isSchemaValid() || Installed() || LicenseState == 'Unlicensed'),'lineThrough':Installed()|| LicenseState == 'Unlicensed'},click:$parent.domainGen, text: Display, attr:{Title:ToolTip}"></a><span data-bind="text:LicenseState!='Valid'? ' (LICENCE: '+LicenseState+') ':''" class="version" style="text-transform: uppercase;"></span><span class="version" data-bind="text:'V'+AssemblyVersion,creationTimeTitle:AssemblyCreationTime"></span>
            <span style="font-size:10px;" data-bind="visible:$data.Dependencies.length>0,attr:{title:'dependent on: '+$parent.GetModulesDisplayName($data.Dependencies)}" class=" glyphicon glyphicon-link"></span>
            <br />


            <!-- ko foreach:GeneratedWith -->

            <div class="progress loadingBarSmall ">
                <div class="progress-bar helpCursor" data-bind="attr:{'title':Installed()==true?'Module is installed':'Module is not installed yet'},css:( Installed()==true?'progress-bar-success':'progress-bar-info')" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100px;">
                    <span class="sr-only"></span>
                </div>
            </div>
            <a href="#" style="font-size: 11px; font-style: italic; padding-left:41px;" data-bind="click:$parents[1].domainGen,css:{'disabled':( $root.AdminInstallationVM.isFrameworkGeneratable() || !$root.AdminInstallationVM.isSchemaValid() || Installed() || LicenseState == 'Unlicensed'),'lineThrough':Installed()|| LicenseState == 'Unlicensed'}, text: Display, attr:{Title:ToolTip}"></a>
            <span data-bind=" text:LicenseState!='Valid' ? ' (LICENCE '+LicenseState+' ) ':' '" class="version" style="text-transform: uppercase;"></span>
            <span class="version" style="font-size:9px;" data-bind=" text:'V'+AssemblyVersion,creationTimeTitle:AssemblyCreationTime"></span>
            <span style="font-size:9px;" data-bind="visible:$data.Dependencies.length>0,attr:{title:'dependent on: '+$root.AdminInstallationVM.GetModulesDisplayName($data.Dependencies)}" class=" glyphicon glyphicon-link"></span>
            <br />
            <!-- /ko -->
            <!-- /ko -->
        </div>

        <div class="installationBlock">
            <a class="btn btn-primary " href="" data-bind="click:startApplication">Startup RAD Application</a>
            <a class=" " href="" data-bind="click:stopApplication">Shutdown RAD Application</a>
        </div>
        <!-- /ko -->
        <!-- ko if: !$root.AdminViewModel.isAdvancedMode()-->
        <div data-bind="visible:emptySystem()">
            <h3>Initialization</h3>
            <h5>
                The initialization of the application modules can be executed here.<br />
                <small>Hint: For an import, please change directly to the “Import” page.</small>
            </h5>
            <br />
            <p data-bind="visible:uninstalledModules().length >0">
                Click "Start Installation" to install the following modules:
                <ul data-bind="foreach:uninstalledModules()" class="noListStyleType">
                    <!-- ko if:LicenseState!='Unlicensed' -->
                    <li>
                        <label class="fontWeightNormal pointerCursor" data-bind="click:$parent.unselectAllUninstalledModules">
                            <!-- ko if:LicenseState=='Valid' -->
                            <input type="checkbox" class="selectAndUnselectModules" data-bind="dependenciesChecked:{alias:$data.Value,dependency:$data.Dependencies,checkedArray:$parent.checkedForInstallation, allModules: $parent.uninstalledModules()}" />
                            <!-- /ko -->
                            <!-- ko if:LicenseState == 'Expired' -->
                            <input type="checkbox" disabled="disabled" />
                            <!-- /ko -->
                            <span data-bind="text:$data.Display"></span>
                        </label>
                        <span style="font-size:10px;" data-bind="visible:$data.Dependencies.length>0,attr:{title:'dependent on: '+$data.Dependencies}" class=" glyphicon glyphicon-link"></span>
                        <span data-bind="text:LicenseState!='Valid'? ' (LICENCE: '+LicenseState+') ':''" class="version" style="text-transform: uppercase;"></span>
                        <span class="version helpCursor" data-bind="text:' V'+$data.AssemblyVersion,creationTimeTitle:$data.AssemblyCreationTime"></span>
                    </li>
                    <!-- /ko -->
                </ul>

                <ul class="noListStyleType">
                    <li>
                        <input type="checkbox" class="pointerCursor" data-bind="checked:toggleAllUninstalledModulesCheckbox,click:toggleAllUninstalledModules" />
                        <label class="fontWeightNOrmal pointerCursor" data-bind="click:toggleAllUninstalledModules">
                            <span>All Modules</span>
                        </label>
                    </li>
                </ul>

                <a href="#" class="btn btn-primary btn" role="button" data-bind="click:startInstallation,enable: checkedForInstallation().length>0">Start initialization</a><br />
            </p>
        </div>
        <div data-bind="visible:!emptySystem()">
            <h3>Initialization</h3>
            <h5>
                The initialization of the application modules can be executed here.<br />
                <small>Hint: For an import, please change directly to the “Import” page.</small>
            </h5>
            <br />
            <p data-bind="visible:uninstalledModules().length==0">
                All licensed application modules have been initialized.
            </p>
            <p data-bind="visible:uninstalledModules().length >0">
                At least one new application module has been detected. Click "Start initialization" to initialize the following modules:
                <ul data-bind="foreach:uninstalledModules()" class="noListStyleType">
                    <li>
                        <label class="fontWeightNormal pointerCursor" data-bind="click:$parent.unselectAllUninstalledModules">
                            <!-- ko if:LicenseState=='Valid' -->
                            <input type="checkbox" class="selectAndUnselectModules" data-bind="dependenciesChecked:{alias:$data.Value,dependency:$data.Dependencies,checkedArray:$parent.checkedForInstallation}" />
                            <!-- /ko -->
                            <!-- ko if:LicenseState!='Valid' -->
                            <input type="checkbox" disabled="disabled" />
                            <!-- /ko -->
                            <span data-bind="text:$data.Display"></span>
                        </label>
                        <span style="font-size:10px;" data-bind="visible:$data.Dependencies.length>0,attr:{title:'dependent on: '+$data.Dependencies}" class="glyphicon glyphicon-link"></span>
                        <span data-bind="text:LicenseState!='Valid'? ' (LICENCE: '+LicenseState+') ':''" class="version" style="text-transform: uppercase;"></span>
                        <span class="version helpCursor" data-bind="text:' V'+$data.AssemblyVersion,creationTimeTitle:$data.AssemblyCreationTime"></span>
                    </li>
                </ul>

                <ul class="noListStyleType" data-bind="visible:uninstalledModules().length >0">
                    <li>
                        <input type="checkbox" class="pointerCursor" data-bind="checked:toggleAllUninstalledModulesCheckbox,click:toggleAllUninstalledModules" />
                        <label class="fontWeightNOrmal pointerCursor" data-bind="click:toggleAllUninstalledModules">
                            <span>All Modules</span>
                        </label>
                    </li>
                </ul>

                <a href="#" class="btn btn-primary " role="button" data-bind="visible:uninstalledModules().length >0,click:startInstallation,enable: checkedForInstallation().length>0">Start initialization</a><br />
            </p>
        </div>
        <!-- /ko -->



    </div>

</script>

<script type="text/html" id="backupTmpl">
    <div class="backupContent" data-bind="with: AdminBackupVM">

        <h3>Export</h3>
        <br />
        
        <div class="box" style="overflow: auto;max-height: 300px" data-bind="visible: $root.AdminViewModel.isAdvancedMode()">
            <input data-bind="checked: isMultiPrincipalMode" type="checkbox" class="input" />
            <span>Restrict export to selected principals</span>
            <p data-bind="visible: isMultiPrincipalMode">
                
                <ul data-bind="foreach:topLevelPrincipals" class="noListStyleType">
                    <li><label class="fontWeightNormal pointerCursor"><input type="checkbox" class="selectAndUnselectModules" data-bind="checked:$data.selected">
                        <span data-bind="text:$data.Name"></span> (<span class="version" data-bind="text:$data.Id"></span>)</label></li>
                </ul>
                
                <h5><span data-bind="text:selectedTopLevelPrincipals"></span></h5>
            </p>
        </div>
        

        <h5>Comment</h5>
        <textarea class="form-control" data-bind="value:backupComment" rows="9"></textarea>
        <!--
    <div class="minheightOverBtn">
        <span data-bind="visible:!visibleCreateBackupBtn()">Are you sure to create an Export?</span>
    </div>-->
        <a class="btn btn-sm btn-primary" data-bind="visible: visibleCreateBackupBtn(),click: createBackup">Create Export</a>
        <!--<a class="btn btn-sm btn-success" data-bind="visible: !visibleCreateBackupBtn(),click: createBackup">Yes</a>
    <a class="btn btn-sm btn-danger" data-bind="visible: !visibleCreateBackupBtn(),click: showCreateBackupBtn">No</a>-->


    </div>
</script>

<script type="text/html" id="importTmpl">

    <div class="backupContent" data-bind="with: AdminBackupVM">
        <h3>Import</h3>
        <h5>An import of exported data sets can be executed here</h5>
        <br />

        <button class="btn btn-default btn-updateincremental" data-bind="click:showUpdateSchemaAndMetaModal, visible: $root.AdminViewModel.isAdvancedMode()">Update incremental</button>

        <table class="table table-striped backupTable tableWithFunctions" data-bind="callFkt:getBackups">
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>Filesize</th>
                    <th>Information</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="backupTable: backups">
                <tr>
                    <td data-bind="dateTime: Time"></td>
                    <td data-bind="fileSize: Size"></td>
                    <td class="minWidth">
                        <div class="bold" data-bind="text: File"></div>
                        <div class="comment" data-bind="nl2br: Comment"></div>
                        <div class="box" data-bind="visible:$data.isABM() && $root.AdminViewModel.isAdvancedMode()">
                            <h4>Advanced principal based Import</h4>

                            <div><input type="checkbox" data-bind="checked: $data.isABMImportGlobalEntities" /> <span>Import global data entities without principal scope</span></div>
                            <p></p>
                            <div><span>Restrict to selected principals</span></div>
                            <div>
                                <ul data-bind="foreach:$data.ABMRestrictPrincipalList" class="noListStyleType">
                                    <li>
                                        <label class="fontWeightNormal pointerCursor">
                                            <input type="checkbox" class="selectAndUnselectModules" data-bind="checked:$data.selected">
                                            <span data-bind="text:$data.Name"></span> (<span class="version" data-bind="text:$data.PDO_ID"></span>)
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <div><input type="checkbox" data-bind="checked: $data.isABMRestrictType" /> <span>Restrict to selected types</span></div>
                            <div data-bind="visible:$data.isABMRestrictType"><select class="form-control" data-bind="options: $data.ABMRestrictTypeList, selectedOptions: $data.ABMRestrictSelectedTypeList" size="20" multiple="true"></select></div>

                            <div><input type="checkbox" data-bind="checked: $data.isABMRestrictPDOID" /> <span>Restrict to selected PDO_IDs</span></div>
                            <div data-bind="visible:$data.isABMRestrictPDOID"><textarea class="form-control" rows="10" data-bind="value: $data.ABMRestrictPDOIDList"></textarea></div>
                            <p></p>
                            <div><button type="button" class="btn btn-primary btn-success" data-bind="click:$parent.importAdvancedBackupMode">Import</button></div>
                        </div>
                    </td>
                    <td>
                        <div class="hideForImport">
                            <span class="glyphicon glyphicon-comment infoIcon commentToggle" data-bind="visible:Comment" title="Show Comment"></span>

                            <span class="glyphicon glyphicon-import" data-bind="click:$parent.showImport, visible:$root.AdminInstallationVM.emptySystem()" title="Import"></span>
                            <span class="glyphicon glyphicon-import" data-bind="click:$parent.showDropAndImportModal, visible:!$root.AdminInstallationVM.emptySystem()" title="Drop Schema, Import data and Update Metainformations"></span>
                            <span class="glyphicon glyphicon-fast-forward" data-bind="click:$parent.showUpdateSchemaAndMetaModal, visible: $root.AdminViewModel.isAdvancedMode()" title="Update Schema and Metainformations"></span>

                            <span title="Import principal data into current system" data-bind="click:$parent.showPrincipalImport, visible: $root.AdminViewModel.isAdvancedMode(), css: $data.isABM() == true ? 'glyphicon glyphicon-plus-sign active commentToggle' : 'glyphicon glyphicon-plus-sign'"></span>

                            <span class="glyphicon glyphicon glyphicon-eject" data-bind="click:$parent.showDropAndOnlyImportModal, visible: $root.AdminViewModel.isAdvancedMode()" title="Drop Schema and only import data (experimental)"></span>
                            <span class="glyphicon glyphicon-warning-sign danger" data-bind="visible: $root.AdminViewModel.isAdvancedMode(),click:$parent.showConflicts" title="Show Conflicts"></span>
                            <span class="glyphicon glyphicon-floppy-save" data-bind="visible: $root.AdminViewModel.isAdvancedMode(),click:$parent.downloadBackup" title="Download Conflictset"></span>
                        </div>
                        <button class="btn btn-small btn-xxs btn-success hideOnLoad" data-bind="click:$parent.importBackup">Import</button>
                        <button class="btn btn-small btn-xxs btn-danger hideOnLoad" data-bind="click:$parent.abortImport">Cancel</button>
                    </td>

                </tr>
            </tbody>
        </table>

        <div class="modal fade" id="conflictModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title"><span class="glyphicon glyphicon-warning-sign danger"></span> Conflict</h4>
                    </div>
                    <div class="modal-body">
                        <p>

                        </p>
                    </div>
                    <div class="modal-footer">

                        <button type="button" data-bind="" class="btn btn-primary" data-dismiss="modal">Ok</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</script>

<!-- Template: ViewReports -->
<script type="text/html" id="reportsTmpl">
    <div class="viewReportContent" data-bind="with:AdminViewReportVM">
        <h3>View Reporter</h3>
        <h5></h5>
        <br />
        <h4>Report Scope</h4>
        <div class="radio">
            <label for="radio_customized">
                <input name="reportTypeOption" type="radio" value="customized" checked="checked" data-bind="checked: viewReportOption" id="radio_customized" />
                Individualised Dialogs and Lists (Customizing Report)
            </label>
        </div>
        <div class="radio">
            <label for="radio_all">
                <input name="reportTypeOption" type="radio" value="all" data-bind="checked: viewReportOption" id="radio_all" />
                All Dialogs and Lists
            </label>
        </div>
        <p>
            <a class="btn btn-primary " data-bind="click:generateViewReport" href="">Generate View Report</a>
        </p>
    </div>
</script>

<!-- Template: Statistics -->
<script type="text/html" id="statisticsTmpl">
    <div class="statisticsContent" data-bind="with: AdminStatisticVM">

        <div class="statsHeader " id="menu">
            <ul id="statsMenu" class=" nav nav-tabs ">
                <li class="active">
                    <a href="#statistic_information">Statistics</a>
                </li>
                <!-- ko foreach: RBSGroupNames() -->
                <li>
                    <a data-bind="attr:{ href:'#statistic_'+$data},text:$data">CPU</a>
                </li>
                <!--/ko -->
            </ul>
        </div>

        <div class="statsContent" data-target="#menu" data-spy="scroll">

            <h3 id="statistic_information">Statistics</h3>

            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <h4>General Information</h4>
                        <dl>
                            <dt>Machine Name</dt>
                            <dd data-bind="text:statistics.MachineName"></dd>
                            <dt>Processor Count</dt>
                            <dd data-bind="text:statistics.ProcessorCount"></dd>
                            <dt>OS Version</dt>
                            <dd data-bind="text:statistics.OSVersion"></dd>
                            <dt>Is 64 Bit Process</dt>
                            <dd data-bind="text:statistics.Is64Bit"></dd>
                            <dt>Processor</dt>
                            <dd data-bind="text:statistics.Processor"></dd>
                            <dt>Core Count</dt>
                            <dd data-bind="text:statistics.ProcessorCount"></dd>
                            <dt>Process ID</dt>
                            <dd data-bind="text:statistics.ProcessID"></dd>
                            <dt>Threads</dt>
                            <dd data-bind="text:statistics.ThreadCount"></dd>
                            <dt>CPU Usage</dt>
                            <dd data-bind="text:statistics.CPUUsage"></dd>
                            <dt>Free Memory</dt>
                            <dd data-bind="text:statistics.FreeRAMMB"></dd>
                            <dt>Process Memory Usage</dt>
                            <dd data-bind="text:statistics.MemoryUsageMB"></dd>
                            <dt>Sessions</dt>
                            <dd data-bind="text:statistics.SessionCount"></dd>
                            <dt>DB-Connection-Waterlevel</dt>
                            <dd data-bind="text:statistics.DBConnectionWaterlevel"></dd>
                            
                        </dl>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <h4>Node Information</h4>
                        <dl>
                            <dt>Node-ID</dt>
                            <dd data-bind="text:statistics.NodeID"></dd>
                            <dt>Is Master-Node</dt>
                            <dd data-bind="text:statistics.IsMasterNode"></dd>
                            <dt>ActiveNodes Count</dt>
                            <dd data-bind="text:statistics.ServerNodeCount"></dd>
                            <dt>ActiveNodes Count (Started)</dt>
                            <dd data-bind="text:statistics.ServerNodeCountStarted"></dd>
                        </dl>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <h4>Database-Statistic</h4>
                        <dl>
                            <dt><a data-bind="click: function(){statistics.ChangeHibernateStatisticMode(true);}" style="cursor:pointer">Enable Statistic</a></dt>
                            <dd></dd>
                            <dt><a data-bind="click:  function(){statistics.ChangeHibernateStatisticMode(false);}" style="cursor:pointer">Disable Statistic</a></dt>
                            <dd></dd>
                            <dt><a data-bind="attr: {href: statistics.DatabaseStatisticDownloadLink}" target="_blank">Download Statistic</a></dt>
                            <dd></dd>
                        </dl>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <h4>Mode Information</h4>
                        <dl>
                            <dt>PDMeta.InitMode on</dt>
                            <dd data-bind="text:statistics.IsPDMetaInitMode"></dd>
                            <dt>Scheduler.DisableJobsMode</dt>
                            <dd data-bind="text:statistics.IsDisableJobsMode"></dd>
                            <dt>Is historization active</dt>
                            <dd data-bind="text:statistics.IsHistorizationMode"></dd>
                            <dt>Are all intercepters disabled</dt>
                            <dd data-bind="text:statistics.IsNoIntercepterMode"></dd>
                            <dt>Meta.GeneratorMode on</dt>
                            <dd data-bind="text:statistics.IsMetaGeneratorMode"></dd>
                            <dt>Is journal enabled</dt>
                            <dd data-bind="text:statistics.IsJournalEnabled"></dd>
                            <dt>Is started</dt>
                            <dd data-bind="text:statistics.IsStarted"></dd>
                            <dt>Is maintenance mode</dt>
                            <dd data-bind="text:statistics.IsMaintenanceMode"></dd>
                        </dl>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>

            <!--TODO: Tabbing? -->
            <!--TODO: Diagramme -->
            <!-- ko foreach: RBSGroupNames() -->
            <h3 data-bind="attr:{ id:'statistic_'+$data},text:$data"></h3>
            <div data-bind="attr:{id:'placeholderPlot_'+$data}" class="placeholderPlot"></div>

            <!-- /ko -->

        </div>
        <div class="hidden" data-bind="callFkt:startpolling"></div>

    </div>
</script>

<!-- Template: Log -->
<script type="text/html" id="logTmpl">
    <div class="logContent" data-bind="with:AdminLogVM">
        <div id="logOverview">
            <h3>Logs</h3>
            <table class="table table-hover table-bordered table-condensed " style="margin-bottom:0px">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Entries</th>
                        <th>Last entry</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:{data:logs(), as:'log'}">
                    <tr>
                        <td><span class="link" data-bind="text:log.LogName,click:$parent.showLogDetails"></span></td>
                        <td data-bind="text:log.CountEvents()"></td>
                        <td data-bind="dateTime:log.Events().length>0?log.Events()[0].Time:''"></td>
                    </tr>
                </tbody>
            </table>
            <small>Click <a href="" data-bind="click:downloadLogZip">here</a> to download the Log-History (1 Year)</small>
            <br />
            <br />
            <h4>Configuration</h4>
            <table class="table table-hover table-bordered table-condensed table-responsive loggertable">
                <thead>
                    <tr>
                        <th>Logger</th>
                        <th>Level</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach:logger()">
                    <tr data-bind="levelToClass:$data.Level">
                        <td data-bind="text:$data.Name"></td>
                        <td>
                            <select style="width:100%" data-bind="options:$parent.availableLevels, value:$data.Level, event:{change: $parent.changeLoggerLevel}"></select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="display:none" id="logDetails" data-bind="with:logDetails()">
            <h4><span class="glyphicon glyphicon-th-list pointer" title="back to overview" data-bind="click:$parent.showOverview"></span> <span data-bind="text:LogName"></span></h4>

            <div class="countEvents" data-bind="foreach:Events()">
                <div class="event" data-bind="css:{danger:(Level=='ERROR' || Level == 'FATAL'),warning:Level=='WARN',info:Level=='INFO'}">
                    <div class="eventHeader">
                        <span class="counter"></span>
                        <span class="date" data-bind="dateTime:Time"></span>
                        <span class="logger" data-bind="text:Logger"></span>
                        <span class="infoRight" data-bind="attr:{title:Level}"><span class="glyphicon glyphicon-info-sign pointer"></span></span>
                    </div>
                    <div class="eventMsg">
                        <div class="msg" data-bind="html:Message"></div>
                    </div>
                </div>

            </div>
            <button class="btn btn-primary floatRight" data-bind="visible:Events().length < CountEvents(),click:$parent.loadNextEvents">
                load more
            </button>

        </div>
    </div>
</script>

<!-- Template: Benchmark -->
<script type="text/html" id="benchmarkTmpl">


    <div class="benchmarkContent" data-bind="with: AdminBenchmarkVM">
        <h3>Benchmark</h3>
        <br />
        <p>
            Click on the Button below to perform a Benchmark.<br />
            <a href="#" class="btn btn-primary" data-bind="click:performBenchmark">Perform Benchmark</a>
        </p>


        <!-- ko if: BenchmarkData().Success -->

        <h4 class="totalScore">Total Score: <strong data-bind="text:BenchmarkData().OverAllScore"></strong></h4>

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <h4>IO Local Result <span data-bind="text:'Score: '+BenchmarkData().IOLocalScore"></span></h4>
                    <dl>
                        <dt>Total Local File Size</dt>
                        <dd data-bind="text:BenchmarkData().TotalLocalFileSizeMB"></dd>
                        <dt>Write</dt>
                        <dd data-bind="text:BenchmarkData().IOWriteLocal"></dd>
                        <dt>Read</dt>
                        <dd data-bind="text:BenchmarkData().IOReadLocal"></dd>
                    </dl>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <h4>IO Database Result <span data-bind="text:'Score: '+BenchmarkData().IODatabaseScore"></span></h4>
                    <dl>
                        <dt>Total Database Record Size</dt>
                        <dd data-bind="text:BenchmarkData().TotalDBRecordSizeMB"></dd>
                        <dt>Write Small Chunk</dt>
                        <dd data-bind="text:BenchmarkData().IOWriteDatabaseSmallChunk"></dd>
                        <dt>Read Small Chunk</dt>
                        <dd data-bind="text:BenchmarkData().IOReadDatabaseSmallChunk"></dd>
                        <dt>Write Big Chunk</dt>
                        <dd data-bind="text:BenchmarkData().IOWriteDatabaseBigChunk"></dd>
                        <dt>Read Big Chunk</dt>
                        <dd data-bind="text:BenchmarkData().IOReadDatabaseBigChunk"></dd>
                    </dl>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box noMarginBottom">
                    <h4>CPU Result <span data-bind="text:'Score: '+BenchmarkData().CPUScore"></span></h4>
                    <dl>
                        <dt>Total Sorted Memory Size</dt>
                        <dd data-bind="text:BenchmarkData().TotalAmountSortedMemoryMB"></dd>
                        <dt>Sequential</dt>
                        <dd data-bind="text:BenchmarkData().CPUSequentially"></dd>
                        <dt>Parallel</dt>
                        <dd data-bind="text:BenchmarkData().CPUParallel"></dd>
                    </dl>
                    <div class="clear"></div>
                </div>
            </div>
        </div>

        <!-- /ko -->

    </div>
</script>

<script type="text/html" id="sessionTmpl">
    <div class="benchmarkContent" data-bind="with: AdminSessionViewModel">
        <h3>Sessions</h3>
        <table class="table table-striped tableWithFunctions">
            <thead>
            <tr>
                <th>Nr</th>
                <th>Id</th>
                <th>User</th>
                <th>Principal</th>
                <th>Connections</th>
                <th>Locks</th>
                <th>Created</th>
                <th>Last Keep Alive</th>
                <th></th>
            </tr>
            </thead>
            <tbody data-bind="foreach: Sessions()">
            <tr>
                <td data-bind="text: $index"></td>
                <td data-bind="text: ID"></td>
                <td data-bind="text: User"></td>
                <td data-bind="text: Principal"></td>
                <td data-bind="text: CountPersistenceContexts"></td>
                <td data-bind="text: CountLockedPersistentObjects"></td>
                <td data-bind="dateTime: Created"></td>
                <td data-bind="dateTime: LastKeepAlivePing"></td>
                <td><span class="glyphicon glyphicon-off" data-bind="click:$parent.freeAllLocks" title="Force Log off"></span></td>
            </tr>
            </tbody>
        </table>
        <button class="btn btn-sm btn-primary" data-bind="click: refresh"><span class="glyphicon glyphicon-refresh" /> Refresh</button>
    </div>
</script>

<script type="text/html" id="lockTmpl">
    <div class="benchmarkContent" data-bind="with: AdminLockViewModel">
        <h3>Object-Locks</h3>
        <table class="table table-striped tableWithFunctions">
            <thead>
                <tr>
                    <th>Nr</th>
                    <th>PDOID</th>
                    <th>User-ID</th>
                    <th>User-Name</th>
                    <th>Purpose</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Locks()">
                <tr>
                    <td data-bind="text: $index"></td>
                    <td data-bind="text: PDOID"></td>
                    <td data-bind="text: UserID"></td>
                    <td data-bind="text: UserName"></td>
                    <td data-bind="text: Purpose"></td>
                    <td><span class="glyphicon glyphicon-off" data-bind="click:$parent.releaseLock" title="Force release lock"></span></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-sm btn-primary" data-bind="click: refresh"><span class="glyphicon glyphicon-refresh" /> Refresh</button>
    </div>
</script>

<script type="text/html" id="assembliesTmpl">
    <div class="benchmarkContent" data-bind="with: AdminAssembliesViewModel">
        <h3>Assemblies [#<span data-bind="text: AssemblyCount"></span>]</h3>

        <div data-bind="jsGrid: AssembliesGridVM()" class="jsgrid"></div>

        <button class="btn btn-sm btn-primary" data-bind="click: refresh"><span class="glyphicon glyphicon-refresh" /> Refresh</button>
        <a class="btn btn-sm btn-primary" data-bind="attr: {href: AppDomainAssembliesUrl()}" target="_blank"><span class="glyphicon glyphicon-floppy-save" /> Download</a>
    </div>
</script>


<!-- Template: Benchmark -->
<script type="text/html" id="remotingTmpl">
    <style type="text/css">
        .csharpcode, .csharpcode pre {
            font-size: x-small;
            color: #000;
            font-family: Consolas,"Courier New",Courier,Monospace;
            background-color: #fff;
        }

            .csharpcode pre {
                margin: 0;
            }

            .csharpcode .rem {
                color: green;
            }

            .csharpcode .kwrd {
                color: #00f;
            }

            .csharpcode .str {
                color: #a31515;
            }

            .csharpcode .op {
                color: #0000c0;
            }

            .csharpcode .preproc {
                color: #c63;
            }

            .csharpcode .asp {
                background-color: #ff0;
            }

            .csharpcode .html {
                color: maroon;
            }

            .csharpcode .attr {
                color: red;
            }

            .csharpcode .alt {
                background-color: #f4f4f4;
                width: 100%;
                margin: 0;
            }

            .csharpcode .lnum {
                color: #606060;
            }
    </style>

    <div class="benchmarkContent" data-bind="with: AdminRemotingViewModel">
        <h3>Remote Interface</h3>
        <br />
        <p>
            The runtime hosts a generic Webservice interface. Use this <a data-bind="attr: {href: radEnvironmentServiceURL, target: '_blank'}">URL</a> to access the Webservice.
            You can also download a typesafe remoting assembly for this server by using this <a data-bind="attr: {href: radRemotingAssemblyDownloadLink}">link</a>. Usage example:<br />
            <div class="box">
                <!-- code formatted by http://manoli.net/csharpformat/ -->
<pre class="csharpcode">
<span class="kwrd">using</span> (RADContext context = <span class="kwrd">new</span> RADContext())
{
                <span class="kwrd">using</span> (IRADSession session = context.Login(<span class="str">"sysadmin"</span>, <span class="str">"sysadmin"</span>, <span class="kwrd">null</span>))
 {
                <span class="rem">//Fluent API</span>
                <span class="kwrd">using</span> (IPDIterator&lt;Ausleihe&gt; it1 = session.CreateIterator&lt;Ausleihe&gt;()
     .SetProperties(<span class="kwrd">new</span> PDPropertyList&lt;Ausleihe&gt;()
           .Add(t =&gt; t.PDO_ID)
           .Add(t =&gt; t.PDO_Changed)
           .Add(t =&gt; t.Standort))
    .SetBatchSize(3)
    .Where(t =&gt; (t.Standort == stadt || t.Standort.StartsWith(Program.GetParam() + <span class="str">"T"</span>)) &amp;&amp; (t.PDO_ID &gt; 10))
    .OrderBy(t =&gt; t.Standort)
    .ThenByDescending(t =&gt; t.PDO_ID))
   {
                <span class="kwrd">foreach</span> (Ausleihe l <span class="kwrd">in</span> it1)
      {
      }
   }
                <span class="rem">//LINQ-Provider</span>
   IOrderedQueryable&lt;Ausleihe&gt; datasource = session.CreateQueryable&lt;Ausleihe&gt;();
                <span class="kwrd">var</span> query = <span class="kwrd">from</span> p <span class="kwrd">in</span> datasource where (p.Standort == stadt ||    p.Standort.StartsWith(Program.GetParam() + <span class="str">"Hallo"</span>)) &amp;&amp; (p.PDO_ID &gt; 10 || p.PDO_ID &lt;= 0) orderby p.Standort descending, p.PDO_ID ascending, p.PDO_TypeID select p;
                <span class="kwrd">foreach</span> (Ausleihe a <span class="kwrd">in</span> query)
      System.Console.WriteLine(a.Standort);
 }
}
</pre>
            </div>
        </p>
    </div>
</script>
