﻿@{
    ViewBag.Title = "Admin | Login";
}

@Scripts.Render("~/bundles/inline-admin-login")

<br />
<div class="row noMargin" data-bind="with:LoginVM">
  <div class="col-lg-4 col-md-offset-4">
      <div class="well" >
  <h1>Administration</h1>
  <p>Please enter password to login.</p>
          
<div class="panel panel-danger" style="display:none" id="errorMsg" >
    <div class="panel-heading">
        <h4 class="panel-title" data-bind="text: errorMsg()" ></h4>
    </div>
</div>
<div class="panel panel-success" style="display:none" id="successMsg" >
    <div class="panel-heading">
        <h4 class="panel-title" data-bind="html: successMsg()" ></h4>
        <div class="progress progress-striped active">
  <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">

  </div>
</div>

    </div>
</div>
     <div class="input-group">
      <input type="password" class="form-control" id="login_input" autofocus data-bind="pressEnter:login,value: password, valueUpdate: 'afterkeydown'">
      <span class="input-group-btn">
        <button class="btn btn-default" data-bind="click: login, css: { disabled: !(password()) }" type="button">Login</button>
      </span>
    </div><!-- /input-group -->
          
</div>

   
  </div><!-- /.col-lg-6 -->
    </div>