﻿@{
    ViewBag.Title = "Admin | Login";
}

@Scripts.Render("~/bundles/inline-admin-login")

<br />
<div class="row" data-bind="with: LoginVM">
  <div class="col-lg-4 col-md-offset-4">
      <div class="well" >
  <h1><span class="glyphicon glyphicon-warning-sign"></span> Administration</h1>
  <p>The admin user has no password set yet.
      <br />Please enter a <strong>new password</strong>.</p>
      
          
<div class="panel panel-danger" style="display:none" id="errorMsg" >
    <div class="panel-heading">
        <h4 class="panel-title" data-bind="text: errorMsg()" ></h4>
    </div>
</div>
<div class="panel panel-success" style="display:none" id="successMsg" >
    <div class="panel-heading">
        <h4 class="panel-title" data-bind="html: successMsg()" ></h4>
    </div>
</div>
          <div class="form-group" data-bind="">
          <input type="password" autofocus class="form-control" data-bind="pressEnter: setNewPW, value: password, valueUpdate: 'afterkeydown'" placeholder="Password">
              </div>
          <div class="form-group" data-bind=" css: { 'has-success': (password() && password() == passwordConfirm()), 'has-error': (password() != passwordConfirm()) }">
          <input type="password" class="form-control" data-bind="pressEnter:setNewPW, value: passwordConfirm, valueUpdate: 'afterkeydown'" placeholder="Confirm password">
          </div>
         <a href="#" class="btn btn-primary btn-sm active" data-bind="click: setNewPW, css: { disabled: !(password() && password() == passwordConfirm()) }" role="button">Set new password</a> 
</div>

   
  </div><!-- /.col-lg-6 -->
    </div>